//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// Required Fields
.required:after {
  font-size: 1.8em;
  display: inline-block;
  position: absolute;
  content: '*';
  color: $brand-danger;
  margin-right: -9px;
  margin-top: -9px;
  top: 0;
}

// Attach Unit Values
// -------------------------

*[class^="unit-"] {
  font-style: normal;
  &:after, &:before {
    color: inherit;
    font-size: inherit;
  }
}

.unit-percent:after { content: "%"; }
.unit-peso:before { content: 'Php'; }
.unit-second:after { content: 'sec/s'; }
.unit-minute:after { content: 'min/s'; }
.unit-hour:after { content: 'hrs'; }
.unit-millisecond:after { content: 'ms'; }
.unit-day:after { content: 'day/s'; }
.unit-kilo:after { content: 'kg/s'; }
.unit-piece:after { content: 'pc/s'; }

// Hovers and Cursors
// -------------------------
.hoverable {
  &:hover, &:active, &:focus {
    color: $brand-blue;
    cursor: default;
  }

  &.help {
    cursor: context-menu;
  }
}

// Break Word
.break-word {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

// ===================== Read More ================ //
*[data-target="read-more"] {
  overflow: hidden;
  position: relative;

  .trigger-read-more {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: block;

    &:hover { cursor: pointer; }

    &:after {
      display: block;
      content: 'Click to read more';
      text-transform: uppercase;
      text-align: center;
      background-color: #616161;
      color: white;
      font-size: 11px;
      padding: 2px 4px;
      width: 130px;
      @include border-radius(1px);
      @include opacity(0);
      @include transition(all .3s $easing);
      position: absolute;
      bottom: 0;
      left: calc(50% - 65px);
      left: -webkit-calc(50% - 65px);
      left: -moz-calc(50% - 65px);
    }
  }
  &:hover {
    .trigger-read-more:after {
      @include opacity(1);
      @include transition(all .3s $easing);
      bottom: 10%;
    }
  }
  .read-more {
    display: block;
    clear: both;
    width: auto;
    position: relative;
    margin: 0;
    min-height: $grid-gutter-width;
    max-height: 100px;

    overflow: hidden;

    > * { z-index: 0; }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      height: 60px;
      z-index: 2;
      @include gradient-vertical(transparent,white, 0%, 100%) 
    }
  }
}
// ===================== Read More ================ //

// ===================== Scroll to top ================ //
*[data-target="scroll-top"] {
  line-height: 1;
  text-transform: uppercase;
  padding: 6px;
  background-color: rgba(0,0,0,0.5);
  color: white;

  @media (max-width: $screen-xs-max) {
    display: none !important;
  }
  @media (min-width: $screen-sm-min) {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: $zindex-modal + 2;

    @include opacity(0); 
    @include translate(80px, 0); 
    @include transition(0.3s $easing);

    &.in { 
      @include opacity(1); 
      @include translate(0, 0); 
      @include transition(0.3s $easing);
    }
  }
  > i {
    height: 0px;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
    margin-top: -10px;
  }
  > *:not(i) {
    font-size: 10px;
    white-space: normal;
    width: 40px;
  }

  &:hover { background-color: rgba(0,0,0,0.7); color: white; }
  &:active, &:focus { outline: none !important; background-color: rgba(0,0,0,0.8); color: white; }
}
// ===================== Scroll to top ================ //