// Import Core variables and mixins
@import "../../assets-common/css/bootstrap/variables";

div.Left-Side-Modal table.dataTable {
	thead td, thead th,
	tbody td, tbody th {
	    padding: 1px !important;
	    text-align: center !important;
	}

	tfoot td, tfoot th {
		padding: 0;
		border-top: 1px solid #111111;
	}
}

div.Left-Side-Modal div.box-content {
    max-height: 200px !important;
    overflow-y:auto !important;
}
