// 
// APR
// --------------------------------------------------
// 

#ifWeeklySelected {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
	margin-bottom: 1px;
	> sup {
		display: block;
	}
}
.js_employee-score-frequency ~ small{
	&:before {
		content:'(';
	}
	&:after {
		content:'\00a0 week)';
	}
}
.formula-box {
	margin: $grid-gutter-width/2 0;
	.formula-box-controls {
		margin-bottom: 10px;
	}

	.form-control {
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.btn-group.a {
		.btn-group:first-child > .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.btn-group:last-child > .btn {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.btn-group.b {
		.btn-group:first-child > .btn {
			border-top-left-radius: 0;
		}
		.btn-group:last-child > .btn {
			border-top-right-radius: 0;
		}
	}
}