// 
// BLAST! Library
// --------------------------------------------------
// 

// Selected Measures
.selected-measures {
	background-color: transparent;
	border-radius: $border-radius-base;
	padding: 5px;
	max-height: 300px;
	overflow: auto;

	.selected-measure-item {
		@include box-shadow(0,1px,2px,rgba(116, 116, 116, 0.3));
		@include background-gradient(#474747, #3D3D3D);
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		border: 1px solid #CFCBCB;
		border-bottom-color: #B3B3B3;
		margin: 2px;
		padding: 1px 1px 1px 13px;

		> .measure-name {
			min-width: 50px;
			max-width: 200px;
			margin-top: 5px;
			margin-right: 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			position: relative;
			float: left;
		}
	}
}

// Carousel
.carousel {
	@include make-xs-column(12);
	@include make-lg-column(10);
	@include make-lg-column-offset(1);

	.carousel-scroll {
		display: block;
		overflow-x: hidden;
		overflow-y: hidden;
		max-height: 105px;
		position: relative;
	}

	.carousel-list {
		@include make-md-column(12,0);
		padding: 1px;
		overflow: hidden;
		list-style-type: none;
		background-color: #BBB;
		border-radius: 1px;
		position: relative;

		.carousel-item {
			counter-increment: step-counter;
			position: relative;
			min-height: 1px;
			padding: 1px;
			margin-bottom: 1px;
			float: left;
			width: percentage(( 1 / 5));
		}
	}
}

.carousel-thumbnail {
	$zindex: 1;
	min-height: 100px;
	max-height: 100px;
	padding: $padding-base-vertical $padding-base-horizontal;
	color: #fff;
	text-align: center;
	background-color: $brand-cyan;
	border-radius: 1px;
	border: 1px solid darken($brand-cyan, 4%);
	border-top-color: darken($brand-cyan,3%);
	border-bottom-color: darken($brand-cyan,5%);
	@include box-shadow(0,1px,2px,rgba(116, 116, 116, 0.3));

	&:hover {
		@include transition (all 0.3s cubic-bezier(.26,.51,.34,.98));
		cursor: pointer;
		&:before {
			@include transition (all 0.3s cubic-bezier(.26,.51,.34,.98));
			background-color: $brand-orange;
			content: '\f03f';
			font-family: 'Material-Design-Iconic-Font';
		}
	}
	&:before {
		content: counter(step-counter);
		position: absolute;
		bottom: 5px;
		left: 10%;
		margin-left: -0.7em;
		width: 1.4em;
		height: 1.4em;
		border-radius: 0.1em;
		color: #fff;
		text-align: center;
		font-size: 1.8em;
		background-color: $brand-lightcyan;
		z-index: $zindex + 3;
	}

	&:after {
		display: block;
		position: absolute;
		left: 2px;
		right: 2px;
		bottom: 0;
		height: 1.5em;
		background-color: darken($brand-cyan,10%);
		margin-top: -0.7em;
		z-index: $zindex;
		content: '';
	}

	> .carousel-title {
		font-size: 1.15em;
		display: block;
		word-wrap: break-word;
		overflow: hidden;
		max-height: 45px;
	}

	> small {
		position: absolute;
		right: 8px;
		bottom: 1px;
		display: block;
		max-width: 70%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		z-index: $zindex + 1;

		&:before {
			font-family: 'Material-Design-Iconic-Font';
			color: #fff;
			content: '\f197';
		}
	}

	.feedback-rating-item {
		padding: 0;
	}
}

.carousel-scroll-controls {
	display: block;
	text-align: center;
	width: auto;
	margin-top: 15px;

	button.btn.nav {
		display: inline-block;
		margin: 0;
		padding: 5px;
		text-align: center;
		color: $brand-cyan;
	}

	> .scroll-numbers {
		list-style-type: none;
		padding-left: 0;
		display: inline-block;
		li {
			@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
			counter-increment: page-counter;
			text-align: center;
			display: inline-block;
			font-family: $font-family-bold;
			width: 20px;
			height: 20px;
			border-radius: 1.3em;
			background-color: $brand-orange;
			color: #fff;
			padding: 1px 6px;
			margin: 1px 5px;

			&.active {
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
				background-color: $brand-cyan;

				&:before {
					text-align: center;
				}
			}

			&:hover {
				cursor: pointer;
				@include transition (background-color 0.3s cubic-bezier(.26,.51,.34,.98));
				background-color: $brand-cyan;
			}

			&:before {
				content: counter(page-counter);
				position: relative;
				display: inline-block;
				font-size: 1em;
				text-align: center;
			}
		}
	}
}

// Library Card
.library-card {
	@include clearfix();
	position: relative;
	min-height: 250px;

	&:hover > .panel-default-timeline {
		outline: 3px solid $brand-orange;
		cursor: pointer;
	}

	.library-controls {
		position: absolute;
		top: auto;
		right: 1px;
		bottom: 22px;
		left: 1px;
		width: auto;
		padding: 30px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		border-top: 1px solid #CDCDCD;
		background-color: rgba(247,247,247,0.93);
		@include box-shadow(0, -1px, 7px, rgba(0,0,0,0.18));
	}

	// Panel heading
	.panel-heading {
		padding-top: $panel-heading-padding;

		.panel-heading-content {
			display: table-cell;
			vertical-align: top;

			.subject-heading {
				display: block;
				clear: both;
				word-wrap: break-word;
				word-break: break-all;
				margin-right: 50px;

				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h6;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h4;
				}
			}

			.subject-sub-heading {
				display: block;
				clear: both;
				color: lighten($gray-lighter, 5%);
				font-size: 14px;
			}
		}
	}

	.panel-body {
		padding-top: 0 ;
	}
}

// Input box
.panel-comment-input {
	.comment-input {
		resize: none;
		padding-right: 105px;
	}

	.btn {
		position: absolute;
		top: 11px;
		right: 15px;
	}	
}

// Thought Balloon
.thought-balloon {
	$well-bg:  #F2F2F2;
	background-color: $well-bg;
	border-radius: $border-radius-base;
	border: 1px solid darken($well-bg, 1%);
	border-bottom-color: darken($well-bg, 5%);
	padding: (($grid-gutter-width/2) - 5) ($grid-gutter-width / 2);
	position: relative;

	.display-comment {
		word-break: break-word;
		white-space:pre-line;
		margin-bottom: 0;
		min-width: 550px;

		&.ishidden {
			visibility: hidden;
			height: 0;
		}
	}

	.textarea {
		min-width: 400px;
		width: 100%;
		display: inline-block;
	}	

	.h4 { margin-right: 40px; }

	.date {
		margin-top: -30px;
		margin-bottom: 15px;
		text-align: center;
	}

	.btn-float {
		right: 15px !important;
	}

	// p { font-size: 0.9em; }

	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-right-color: $well-bg;
		border-width: 6px;
		margin-top: -6px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: darken($well-bg, 4%);
		border-width: 7px;
		margin-top: -7px;
	}
}

// Score Legend for Static
.score-legend {
	margin-bottom: 15px;
	// margin-top: 15px;
	$basepx: 8px;
	display: table;
	@include make-xs-column(12);

	> span {
		font-size: 0.8em;
		margin: 0 $basepx;
		float: right;

		> i {
			content: "";
			display: inline-block;
			width: $basepx;
			height: $basepx;
			border-radius: $basepx;
		}
	}
}

// Rating System
.feedback-rating-item {
	display: inline-block;
	padding: 4px 0 6px 15px;

	> span {
		&.rate-default * { color: white; }
		&.rate-one * { color: $brand-red; }
		&.rate-two * { color: $brand-burgundy; }
		&.rate-three * { color: $brand-green; }
		&.rate-four * { color: $brand-cyan; }
		&.rate-five * { color: $brand-orange; }
	}

	.rating {
		&:after {
			content: " / 5";
		}
	}
}

// Style the table header
.score-card-heading-row {
	border-bottom: 1px solid lighten($gray-light, 30%);

	> .score-item-category {
		padding-bottom: 0 !important;
		margin-top: -($grid-gutter-width / 2);
		margin-bottom: $grid-gutter-width / 2;
		> span {
			font-size: 1.6em;
		}
	}

	> .score-item-group {
		> .score-item-xs {
			span {
				font-size: 0.9em;
			}
		}
	}

	// Force text to center
	@media (max-width: $screen-sm-max) {
		> .score-item-category {
			text-align: center;
		}
	}
}

.panel-post-ratings {
	margin-bottom: 0;
	margin-top: 10px;
}