// 
// Score Card
// --------------------------------------------------
// 

// Score Card, Feedback, and BLAST! containers
.timeline-card, .navbar-float {
	@include make-xs-column(12);
	@include make-lg-column(10);
	@include make-lg-column-offset(1);
}

// Timeline
.timeline-card {

	// Panel heading
	.panel-heading {
		@include box-shadow(0,0,0);
		padding-top: $grid-gutter-width - 10;

		.panel-avatar {
			display: table-cell;
			.avatar {
				@media (max-width: $screen-xs-max) {
					width: $avatar-xs;
					height: $avatar-xs;
					max-width: $avatar-xs;
					background-size: $avatar-xs;
					background-position: center center;
				}
				@media (min-width: $screen-sm-min) {
					width: $avatar-xs;
					height: $avatar-xs;
					max-width: $avatar-xs;
					background-size: $avatar-xs;
					background-position: center center;
				}
			}
		}

		.panel-heading-content {
			display: table-cell;
			vertical-align: top;
			padding-left: $grid-gutter-width/2;

			.subject-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h5;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h3;
				}
			}

			.subject-sub-heading {
				display: block;
				clear: both;
				@media (max-width: $screen-xs-max) {
					font-size: $font-size-h6;
				}
				@media (min-width: $screen-sm-min) {
					font-size: $font-size-h5;
				}
			}
		}
		.panel-author-post {
			@media (min-width: $screen-sm-min) {
				margin-left: $avatar-xs + ($grid-gutter-width/2);
			}

			.pane-post-ratings {
				margin-top: $grid-gutter-width / 2;
				margin-bottom: $grid-gutter-width / 2;
			}
		}
	}

	// Panel Body
	.panel-body {

		// Open comments and write a reply
		> .panel-comment-controls {
			margin-bottom: 5px;
			margin-left: $avatar-xs + ($grid-gutter-width/2);

			.btn-link {
				padding-left: 0;
				padding-right: 0;
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		> .panel-comment {
			margin-top: $grid-gutter-width;
		}

		.panel-comment {
			@include clearfix();
			margin-bottom: $grid-gutter-width;

			// Resize Avatar
			> .panel-avatar {
				display: table-cell;
				vertical-align: middle;
				padding-top: 5px;
				text-align: center;
				margin: auto auto;

				@media (max-width: $screen-xs-max) {
					width: $avatar-xs;
				}
				@media (min-width: $screen-sm-min) {
					width: $avatar-xs;
				}

				.avatar {
					margin: auto auto;
					@media (max-width: $screen-xs-max) {
						width: $avatar-xxs;
						height: $avatar-xxs;
						max-width: $avatar-xxs;
						background-size: $avatar-xxs;
						background-position: center center;
					}
					@media (min-width: $screen-sm-min) {
						width: $avatar-xxs;
						height: $avatar-xxs;
						max-width: $avatar-xxs;
						background-size: $avatar-xxs;
						background-position: center center;
					}
				}
			}
			
			// Formatting replies
			> .panel-post-reply, .panel-comment-input {
				display: table-cell;
				vertical-align: top;
				position: relative;
				padding-left: ($grid-gutter-width/2);
			}
		}
	}

	// Panel Footer
	.panel-footer {
		margin-top: $grid-gutter-width;
		border-top: none;
		background-color: #424242;
	}
}

// Style the table body
.score-card-body-row {
	border-top: 1px solid darken($gray-lighter, 12%);

	// If Void
	&.row-muted {
		background-color: darken($gray-lighter, 12%);
		background-image: url(../img/muted.png);
		color: #696969;
		.score-item-xs span, .score-measure {
			text-decoration: line-through;
		}
		.score-badge, .score-status {
			text-decoration: initial !important;
		}
	}

	&:first-child { border-top: none; }

	// Force text to center on smaller screens
	> .score-item-category {
		@media (max-width: $screen-sm-max) {
			text-align: center;
			background-color: $gray-lighter;
			border-bottom-left-radius: $border-radius-base;
			border-bottom-right-radius: $border-radius-base;
		}
	}

	> .score-item-category, > .score-item-group {
		> .score-item-xs > span {
			font-size: 2em;

			@media (min-width: $screen-md-min) {
				font-size: 1.2em;
			}
		}

		// Score Card Indicators
		.score-measure {
			font-size: 1em;
		}

		.score-status {
			display: block;
			clear: both;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-top: 1%;
		}

		> .score-item-xs > small {
			text-transform: uppercase;
			@media (max-width: $screen-sm-max) {
				display: block;
				width: 100%;
				clear: both;
				text-align: center;
				margin: auto auto;
			}

			@media (min-width: $screen-md-min) {
				display: none;
				content: "";
			}
		}

		// Score Badge
		> .score-item-xs > .score-badge {
			color: #fff;
			font-size: 0.7em;
			text-transform: uppercase;
			display: inline-block;
			min-width: 60px;
			max-width: 80px;
			margin-top: 5px;
			padding: 0.3em 0.5em;
			border-radius: 2em;

			&:empty { display: none; }

			&.ongoing {
				background-color: $brand-cyan;
			}

			&.pending {
				background-color: $brand-burgundy;
			}

			&.void {
				background-color: $gray;
			}

			&.done {
				background-color: $brand-lime;
			}
		}

		// Adjust the icon
		> .score-item-xs > .md {
			@media (min-width: $screen-md-min) {	
				margin-top: -7px;
			}
		}
	}
}

// Style the entire table
.score-card-table {
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	clear: both;
	display: block;

	// &:after, &:before {
	// 	display: block;
	// 	content: '';
	// 	width: 5px;
	// 	position: absolute;
	// 	top: -10px;
	// 	bottom: 0px;
	// 	background-color: $brand-cyan;
	// 	@include opacity(0); @include transition(all 0.3s $easing); border-radius: 10px;
	// }

	// &:after { left: 0; margin-left: -10px; }
	// &:before { right: 0; margin-right: -10px;}


	&:hover {
		// &:after, &:before { @include opacity(1); @include transition(all 0.3s $easing);}
		// &:after { left: 0; margin-left: -10px; }
		// &:before { right: 0; margin-right: -10px;}

		.score-card-head > .score-card-heading-row span {
			color: $brand-cyan;
		}
	}

	
	& + .score-divider {
		margin-left: -$grid-gutter-width/2;
		margin-right: -$grid-gutter-width/2;
		margin-bottom: $grid-gutter-width/2;
		border-top: 1px solid #BEBEBE;
		border-bottom: 1px solid #E4E4E4;
		@include make-row();
		width: auto;
		display: block;
		clear: both;
	}
	
	> .score-card-head,
	> .score-card-body {
		@include make-xs-column(12, 30px);
	}
	
	.score-card-heading-row, .score-card-body-row {
		@include clearfix();
		> div {
			text-align: center;
			padding-top: ($grid-gutter-width / 2)-5;
			padding-bottom: ($grid-gutter-width / 2)-5;

			&:empty {
				background: transparent;
				content: "";
			}
		}

		// Align text to left
		@media (min-width: $screen-md-min) {
			> .score-item-category {
				text-align: left;
			}
		}

	}


	// Responsive table cells for smaller screens
	@media (max-width: $screen-sm-max) {
		.score-item-category,
		.score-item-group,
		.score-item-button {
			@include make-xs-column(12);
		}
	}

	// Create a place for the Actions button
	.score-item-button {
		@include make-md-column(1, 10px);
	}

	// Responsive table cells for larger screens
	.score-item-category {
		@include make-md-column(3, 10px);
	}

	// Create a 7 column cell instead of the 12
	.score-item-group {
		@include make-md-column(8,0);

		> .score-item-xs {
			@media (max-width: $screen-xs-max) {
				margin-top: $grid-gutter-width / 2;
				margin-bottom: $grid-gutter-width / 2;
				@include make-xs-column(8, 10px);
			}

			@media (max-width: $screen-sm-max) {
				margin-top: $grid-gutter-width / 2 ;
				margin-bottom: $grid-gutter-width / 2;
				@include make-sm-column(4, 10px);
			}
	
			@media (min-width: $screen-md-min) {
				position: relative;
				min-height: 1px;
				padding-left: 5px;
				padding-right: 5px;
				float: left;
				width: percentage(( 1 / 8));
			}
		}
	}
}

.score-card-controls {
    position: absolute !important;
    right: 70px;
    top: 8px;
}

.score-divider:first-child {
	display: none !important;
}

// Score Card Final Score
.score-card-finalscore {
	margin-top: -60px;
	text-align: center;
	@include make-row();

	> .score {
		text-align: center;
		font-size: 1.6em;
		font-family: $font-family-bold;
		width: 86px;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 25px 0;
		border: 3px solid #424242;
		@include border-radius(100px);

	}

	&:after {
		text-align: center;
		font-size: 1em;
		font-family: $font-family-bold;
		position: relative;
		@include center-block();
		color: white;
	}

	&.mtd:after {
		content: "Overall Month to Date Rating";
	}

	&.eom:after {
		content: "Overall End of Month Rating";
	}
}

// Background Colors for overall score
.score-positive {
	background-color: $brand-green;
	color: #fff;
}

.score-negative {
	background-color: #f5002d;
	color: #fff;
}

.score-average {
	background-color: #FCF004;
	color: #383838;
}

.score-warning {
	background-color: $brand-warning;
	color: white;
}

.panel-post-content {
	word-break: break-word;
	white-space: pre-line;
}