$panel-static-width: 250px;

.panel-group-main {
	margin-bottom: $grid-gutter-width/2;
	@include clearfix();
}
.panel-dashboard-header {
	width: 100%;
	position: relative;
	float: left;
	// @include clearfix();

	.h_panel-header, .h_menu {
		position: relative;
		min-height: 1;
	}

	.h_panel-header {
		float: left;
		@media (max-width: $screen-sm-max) {
			width: auto;
		}

		& + .btn {
			margin-top: 8px;
			@media (min-width: $screen-sm-min) {
				float: right;
			}
		}
	}

	.h_menu {
		.btn-group .dropdown-toggle {
			@media (min-width: $screen-md-min) {
				padding-top: 16px;
				padding-bottom: 15px;

				> .md-chevron-down {
					font-size: 2em;
				}
			}
		}
		@media (max-width: $screen-sm-max) {
			width: 100%;
			text-align: center;
			float: left;
			margin-right: 0;
			margin-top: $grid-gutter-width/2;

			> .btn-group, > .btn {
				margin: 3px;
			}
		}
		@media (min-width: $screen-md-min) {
			float: right;
			margin-right: 0;
			margin-left: $grid-gutter-width/2;
		}
	}
}

.panel-static, .panel-static-sub, .panel-group-main-content {
	position: relative;
	float: left;
	display: block;
	min-height: 1;
}

.panel-static, .panel-static-sub {
	@media (max-width: $screen-sm-max) {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		.page-header { padding-left: $grid-gutter-width/2; }
	}
	@media (min-width: $screen-md-min) {
		.page-header {
			position: relative;
			padding-left: $grid-gutter-width/2;
			margin-bottom: 0;
		}
	}

	.list-group-item-heading { margin-top: 3px; margin-bottom: 0; }
}

.panel-static {
	width: $panel-static-width;
	@media (max-width: $screen-sm-max) {
		width: 100%;
		margin-top: $grid-gutter-width/2;
	}
	.panel-body {
		padding: 5px;
		background-color: #F5F5F5;
	}

	.list-group {
		margin-bottom: 5px;

		&:last-child { margin-bottom: 0; }

		.list-group-item {
			margin-bottom: 5px;
			padding: 0;
			border-bottom: 1px solid #CCCCCC;
			line-height: 1;
			display: block;

			@include box-shadow(0 0 1px rgba(0,0,0,0.2));
			@include transition(box-shadow .5s $easing);

			&:hover {
				@include box-shadow(0 0 10px rgba(0,0,0,0.3));
				@include transition(box-shadow .5s $easing);
				cursor: pointer;
			}

			&.active > div { background-color: transparent; }

			> div {
				padding: $grid-gutter-width/2;
				background-color: white;
			}

			&:last-child { margin-bottom: 0; }

			// States
			&:before {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 8px;
				padding: 2px 4px;
				min-width: 50px;
				text-align: center;
				border-bottom-left-radius: $border-radius-base;
				border-bottom: 1px solid white;
				border-left: 1px solid white;
				text-transform: uppercase;
				font-family: Helvetica, Arial, sans-serif;
				font-weight: bold;	
			}

			&.draft:before, &.on-going:before,
			&.done:before,&.not-started:before,
			&.unacknowledged:before { color: white; }

			&.draft:before { background: $brand-gray; content: 'Draft'; }
			&.on-going:before { background: $brand-cyan; content: 'On-going'; }
			&.done:before { background: $brand-success; content: 'Done'; }
			&.not-started {
				> div {
					background: url('../img/muted.png');
					background-size: 2px 2px;
				}
				&:hover {
					cursor: not-allowed;
				}
				&:active:after {
					display: block;
					position: absolute;
					text-align: center;
					content: 'Nothing to display here';
					padding-top: 20px;
					color: white;
					@include border-radius(1px);
					top: 0; left: 0; right: 0; bottom: 0;
					background-color: rgba(0,0,0,0.73);
				}
				&:before {
					background: $brand-burgundy;
					content: 'Not Started';
				}
			}
			&.unacknowledged:before {
				background: $brand-purple;
				content: 'Unacknowledged';
			}
		}

		.list-group-idp {
			position: relative;
			padding: 5px;
			background-color: #E6E6E6;
			overflow: hidden;

			@include box-shadow(none);
			@include transition(box-shadow .5s $easing);

			&:hover { @include box-shadow(none); cursor: default; }	

			&:before {
				display: block;
				content: 'IDPs';
				background-color: $gray-light;
				text-transform: none;
				text-align: left;
				color: white;
				font-size: 12px;
				padding: 3px 5px;
				margin: -5px -5px 5px;
				position: relative;
				border: none;
				border-radius: 0;
				border-top-left-radius: 1px;
				border-top-right-radius: 1px;
				z-index: 2;
			}

			.idp-nav-left, .idp-nav-right { 
				position: absolute;
				top: 56px;
				padding: 0;
				z-index: 2;
				width: 15px;
				height: 40px;
				@include border-radius(0);
			}
			.idp-nav-left { left: 0; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
			.idp-nav-right { right: 0; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
			.list-group-item {

				&:not(.active-idp) {
					display: none;
					z-index: 0;
				}				
				&.active-idp {
					z-index: 1;
					position: relative;
					display: block;
				}
			}
			.list-group-item:last-child { margin-bottom: 0; }
			.list-group-item:after {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				height: 40px;
				z-index: 2;
				@include gradient-vertical(transparent,white, 0%, 66%) 
			}
		}
	}

	.list-group-item-heading { @include truncate-ellipsis(); }
	.description { 
		position: relative;
		font-size: 11px; 
		margin-bottom: 0; 
		overflow: hidden; 
		height: $grid-gutter-width;
	}
}

.panel-static-sub {
	.panel-body { padding: 0; }
	.description { font-size: 12px; margin-bottom: 0;}

	.list-group {
		counter-reset: list-group-counter;
		margin-bottom: 0;

		@media (min-width: $screen-md-min) {
			border-right: 1px solid #e3e3e3;
			margin-right: -1px
		}

		.list-group-item {
			padding-left: $grid-gutter-width + $grid-gutter-width/2;
			margin-bottom: 0;
			counter-increment: list-group-counter;
			border-bottom: none;
			@include transition(background-color .3s $easing);

			&:before {
				border-radius: $grid-gutter-width/2;
				background-color: $gray-lighter;
				width: 25px;
				height: 25px;
				color: white;
				text-align: center;
				padding-top: 1px;
				border: 2px solid white;
				display: block;
				position: absolute;
				top: calc(50% - 12px);
				top: -webkit-calc(50% - 12px);
				top: -moz-calc(50% - 12px);
				left: 10px;
				content: counter(list-group-counter);				
			}

			&:not(.done):before { color: $text-color; }

			&:not(.active):hover {
				cursor: pointer;
				background-color: lighten($gray-lighter,2%);
				@include transition(background-color .3s $easing);
			}

			&.done:before { background-color: $brand-success; }
			&.done:after {
				display: block;
				position: absolute;
				top: 5px;
				right: 5px;
				content: '\f269';
				font-family: 'Material Design Iconic Font';
				color: $brand-success;
			}
			&.done .list-group-item-heading {
				color: $brand-success;
			}

			&.active *, &.done.active:after { color: white !important; }

			&:last-child {
				border-bottom-left-radius: $border-radius-base;
			}
		}
	}

	& + .panel-body {
		float: left;

		@media (min-width: $screen-md-min) {
			width: calc(100% - #{$panel-static-width - 50});
			width: -moz-calc(100% - #{$panel-static-width - 50});
			width: -webkit-calc(100% - #{$panel-static-width - 50});
			border-left: 1px solid #e3e3e3;
		}
		@media (min-width: 1300px) {
			width: calc(100% - #{$panel-static-width});
			width: -moz-calc(100% - #{$panel-static-width});
			width: -webkit-calc(100% - #{$panel-static-width});
			border-left: 1px solid #e3e3e3;
		}
	}

	@media (max-width: $screen-sm-max) {
		width: auto;
		float: none;
		margin-left: -$grid-gutter-width/2;
		margin-right: -$grid-gutter-width/2;
	}
	@media (min-width: $screen-md-min) { width: $panel-static-width - 50 }
	@media (min-width: 1300px) { width: $panel-static-width }
}

.panel-group-main-content {
	@media (max-width: $screen-sm-max) {
		width: 100%;
		margin-left: $grid-gutter-width/2;
		margin-right: $grid-gutter-width/2;
		margin-top: $grid-gutter-width/2;
	}
	@media (min-width: $screen-md-min) {
		width: calc(100% - 250px);
		width: -webkit-calc(100% - 250px);
		width: -moz-calc(100% - 250px);
		padding-left: $grid-gutter-width/4;
		// margin-left: $grid-gutter-width/4;
		// margin-right: $grid-gutter-width/2;
	}
	.panel {
		@include clearfix();
	}
}

.panel-dashboard-header {
	@media (max-width: $screen-sm-max) {
		margin-bottom: 0;
		margin-top: $grid-gutter-width/2;
	}
	@media (min-width: $screen-md-min) {
		margin-bottom: $grid-gutter-width/2;
	}
	.well {
		margin: 0;
	}

	.page-header {
		margin: 0;
	}
}

.evaluation-phase-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	margin-top: -9px;
	margin-bottom: -9px;
	margin-left: -9px;
	border-top-left-radius: $border-radius-base;
	border-bottom-left-radius: $border-radius-base;
	text-align: center;
	// overflow: hidden;
	@include clearfix();

	> li {
		background-color: lighten($brand-lime,30%);
		display: block;
		position: relative;
		float: left;
		list-style-type: none;
		color: white;
		padding: 0;
		@include gradient-horizontal(darken($brand-lime,3.5%),$brand-lime,0%,100%);

		&:first-child {
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		}

		button {
			color: inherit;
			cursor: default;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			background-color: transparent;
			@include user-select(none);
			@include transition(background .3s $easing);
			line-height: 0;
			padding: 10px;
			width: 100%;
			border: none;

			&:not(:disabled):hover {
				cursor: pointer
			}

			&:hover:not(:disabled) >  {
				@include transition(background .3s $easing);
				background-color: rgba(0,0,0,0.4);
			}

			&::-moz-focus-inner {
			    border: 0;
			    padding: 0;
			}

			&:active, &:focus {
				outline: none;
			}
		}

		@media (min-width: $screen-lg-min) {
			width: 20%;
		}

		&:not(:first-child) > button {
			padding-left: $grid-gutter-width;
		}

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 17px 0 16px 10px;
			border-color: transparent transparent transparent $brand-lime;
			position: absolute;
			content: '';
			top: 0;
			right: -10px;
			z-index: 1;
		}

		&.active {
			background-color: darken($brand-success,10%);
			background-image: none;
			&:after {
				border-color: transparent transparent transparent darken($brand-success,10%);;
			}

			& ~ li:not(.done) {
				background-color: #C2DE9E;
				color: #8CB950;
				@include gradient-horizontal(darken(#C2DE9E,7%),#C2DE9E,0%,100%);

				&:after {
					border-color: transparent transparent transparent #C2DE9E;	
				}
			}
		}
	}	
}

// Others
@media (min-width: $screen-md-min) {
	.panel-static { 
		padding-right: $grid-gutter-width/4;
	}
}

@media (min-width: $screen-md-min) and (max-width: 1144px) {
	.h_panel-header {
		font-size: 1.1em;
		margin-top: 5px;
		margin-bottom: 0;
		small { 
			font: 0.9em;
			span { display: block; }
		}

		& + .btn {
			margin-top: 5px;
		}
	}

}
@media (max-width: 1110px) {
	.h_menu { 
		margin-right: 9px; margin-left: 0;
		& > .btn-group > .btn, & > .btn {
			font-size: 0.8em;
		}
	}	
}

@media (min-width: $screen-md-min) and (max-width: 1110px) {
	.h_menu > .btn-group > .btn + .dropdown-toggle {
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.list-group-ongoing-evaluation > div {
	padding-right: $grid-gutter-width*2 !important;
	.badge {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0;
		border-bottom-left-radius: 2px;
		border-top-right-radius: 1px;
		font-size: 1.2em;
		background-color: $gray-dark;
	}
}

.list-group-actions {
	display: block;
	text-align: right;
	margin-top: $grid-gutter-width/2;
	@include clearfix();
}

.list-performance-items .list-group-item {
	padding: 20px 0;
	border-bottom-style: dotted;

	&:last-child {
		border-bottom-color: transparent !important;
	}
}

.list-selected-objectives {

}

.nav-pods {
	position: relative;
	padding-right: 100px;
	margin-bottom: $grid-gutter-width/2;

	li {
		position: relative;
	}
}

i[class$=-pod] {
	position: relative;
	display: block;
	padding: 5px 6px;
	color: white;
	width: auto;
	font-size: 9px;
	font-style: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 0.8;
	text-align: center;
	text-transform: uppercase;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: -1px;
	border-width: 2px;
	border-style: solid;
	float: left;
	@include border-radius(2px);

	&:before { display: inline-block; }
	&:after { display: inline-block; content: 'Pod'; margin-left: 2px; }
	&.red-pod {
		background-color: #e61414;
		border-color: lighten(#e61414,5%);
		&:before { content: 'Red'; }
	}
	&.blue-pod {
		background-color: #076fd6;
		border-color: lighten(#076fd6,5%);
		&:before { content: 'Blue'; }
	}
	&.green-pod {
		background-color: #0f8a0f;
		border-color: lighten(#0f8a0f,5%);
		&:before { content: 'Green'; }
	}
	&.yellow-pod {
		background-color: #f3f300;
		border-color: #d6d665;
		color: #4a4a4a;
		&:before { content: 'Yellow'; }
	}
}

.ipo-entry {
	display: block;
	margin-bottom: 10px;
	> * { line-height: 1; }
}

.textarea-group {
	@include clearfix();
	position: relative;
	.textarea-group-addon {
		position: absolute;
		top: 0;
		left: 0;
		width: 110px;
		text-align: center;
		border-right: 1px solid $input-border;
		padding: 12px 10px;

		> * { clear: both; display: block; width: 100%; }
	}
	textarea.form-control {
		padding-left: 122px;

		&:focus {
			padding-left: 121px;
			~ .textarea-group-addon {
				border-right: 1px solid $input-border-focus;
			}
		}
	}
}

.total-rating {
	float: left;
	width: 110px;
	text-align: center;
	* { margin: 0; }
}

tr.ipo-edit-mode td:not(:first-child) { vertical-align: middle; }

.measures-values-section {
	margin-top: $grid-gutter-width/2;
	margin-bottom: $grid-gutter-width/2;
}

.measure-list {
	padding-left: 0;
	margin-left: -3px;
	margin-right: -2px;
	list-style-type: none;
	> .measure-item {
		float: left;
		position: relative;
		padding: 3px;
		margin: 0;
		width: 100%;
		// @media (max-width: $screen-md-max) {
		// 	width: percentage(1/1);
		// }
		// @media (min-width: $screen-lg-min) {
		// 	width: percentage(1/2);
		// }
		// @media (min-width: 1480px) {
		// 	width: percentage(1/3);
		// }

		> label {
			width: 100%;
			height: 100%;
			display: block;
			margin-bottom: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 10px;
			padding-left: 38px !important;
			border-radius: $border-radius-base;
			border: 1px solid $gray-lighter;
			float: left;
			position: relative;
			text-transform: none;
			font-family: $font-family-base;

			&:after { left: 12px !important; }
			&:before { left: 10px !important; }

			span {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.title, .units {
				display: table-cell;
				vertical-align: middle;
			}

			.title {
				margin-bottom: 5px;
				display: block;
			}

			.units {
				margin-bottom: 0 !important;
				margin-left: 0;
				padding-left: 0;

				li { display: block; line-height: 1; margin-bottom: 8px; }
				label { display: block; clear: both; }
				label + * {
					font-size: 1.2em;
				}
			}
		}

		// @media (max-width: $screen-xs-max) { width: percentage(1/1); }
		// @media (min-width: $screen-sm-min) { width: percentage(1/2); }

		&:hover {
			> label {
				margin: -1px;
				border: 2px solid $brand-primary;
			}
		}

		textarea {
			position: absolute;
			top: 100%;
		}

		&.recommended {
			&:after {
				display: block;
				content: 'recommended';
				font-size: 8px;
				text-transform: uppercase;
				background-color: #f28900;
				color: white;
				position: absolute;
				top: 5px;
				right: 7px;
				padding: 2px 6px;
				border-radius: 1px;
				letter-spacing: 1px;
				font-family: Helvetica, Arial, sans-serif;
				font-weight: bold;
			}

			.title {
				padding-top: 6px;
			}
		}
	}

	&.no-apps:after {
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
		padding: 5%;
		content: 'None matched your search';
	}
}

.methodology-container {
	div[data-toggle="buttons"] .btn {
		margin-top: 2px;
		margin-bottom: 2px;
		span {
			font-family: $font-family-base;
			font-weight: normal;

			&:before {
				display: inline-block;
				content: '#';
				font-weight: $font-family-bold;
				font-size: 1.2em;
			}
		}
	}
}

// Helpers
#carouselContainer {
	&:empty:before {
		
	}
	.page-header { padding-right:  175px; }
}

.h_commitment-fields {
	padding: $grid-gutter-width/2;

	.form-group {
		display: block;
		float: left;
		position: relative;
		&:first-child {
			width: 280px;
		}

		&:last-child {
			width: calc(100% - 280px);
			width: -webkit-calc(100% - 280px);
			width: -moz-calc(100% - 280px);
		}
	}
}

.h_publish-fields {
	padding: $grid-gutter-width/2;

	.form-group {
		display: block;
		float: left;
		position: relative;
		width: 100%;

		.lead { margin-bottom: $grid-gutter-width/2; }
	}
}

.h_blast-fields {
	.col {
		display: block;
		float: left;
		position: relative;
		width: 100%;
	}

	.h_time-picker {
		@media (max-width: $screen-sm-max) { width: 100%; }
		@media (min-width: $screen-md-min) { width: 50%; }
		@media (min-width: $screen-lg-min) { width: 40%; }	
	}

	.k-datepicker {
		@media (min-width: $screen-md-min) {
			width: calc(50% - 15px);
			width: -webkit-calc(50% - 15px);
			width: -moz-calc(50% - 15px);	
		}

		margin-top: 2px;
		margin-bottom: 2px;
	}

	i.control-label {
		display: inline;
		width: 30px;
		font-family: $font-family-bold !important;
		font-style: normal;
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

.h_nav-measures {
	position: absolute;
	top: -$grid-gutter-width/2;
	right: 0;
}

.h-view {
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.7em;
    background-color: $gray-lighter;
    color: $text-muted;
}

.h_list-spacer li {
	margin: 5px 0;
}

.m_inline-block { display: inline-block; }