// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border, $startgradcolor, $endgradcolor) {
  color: $color;
  background-color: $background;
  border-color: $border;
  // @include gradient-vertical($startgradcolor, $endgradcolor);

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 2%);
  }

  &:hover {
    background-color: darken($background, 10%);
    @include box-shadow($btn-shadow-x,$btn-shadow-y,$btn-shadow-blur,0,$btn-shadow);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($background, 8%);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: white;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}
