<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Get Qualified Australia: Online RPL</title>
    <meta name="description" content="Online RPL">
    <meta name="author" content="GQA App Dev">
    <meta name="copyright" content="Get Qualified Australia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Core -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="apple-touch-icon-precomposed" href="ui/img/favicon-32x32.png">
    <link rel="icon" href="ui/img/favicon-32x32.png" type="image/png">
    <!--[if IE]><link rel="shortcut icon" href="ui/img/favicon-32x32.png"><![endif]-->
    <meta name="msapplication-TileColor" content="#eee">
    <meta name="msapplication-TileImage" content="ui/img/favicon-32x32.png">
    <link href="ui/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="ui/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="ui/css/main-styles.min.css" rel="stylesheet" />

    <link href="ui/css/vendor/bootstrap-tour.min.css" rel="stylesheet" />
    <link href="ui/css/vendor/animate.min.css" rel="stylesheet" />

    <script src="ui/js/plugins/isMobile.min.js"></script> <!-- Sniff if browser is loaded on mobile -->
    <script src="ui/js/modernizr-3.3.1.gqa-build.121516.min.js"></script> <!-- Modernizr -->
</head>

<body data-role="account-manager">


    <main class="container-fluid">
        <div class="panel panel-default panel-applicant panel-printer-friendly">
            <section class="panel-body">

                <h3 class="page-header" id="yourProfile">Profile</h3>
                <table class="table table-striped table-compressed">
                    <tbody>
                        <tr><td class="question"><span>First Name</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Last Name</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Date of Birth</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Gender</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Home Phone Number</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Work Phone Number</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Mobile Phone Number</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Email</span></td><td>{{ placeholdertext if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Current Address</span></td><td>{{ concatenate everything if none put 'None provided' }}</td></tr>
                        <tr><td class="question"><span>Postal Address</span></td><td>{{ concatenate everything if none put 'Same as current address' }}</td></tr>
                    </tbody>
                </table>
                <hr>
                <h3 class="page-header" id="langDiversity">Language &amp; Diversity</h3>
                <table class="table table-striped table-compressed">
                    <tbody>
                        <tr><td class="question"><span>Country of Birth</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>Speaks a language other than English at home?</span></td><td>{{ No or Yes, put languages separated by comma }}</td></tr>
                        <tr><td class="question"><span>English speaking proficiency</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>Aboriginal or Torres Strait Islander origin?</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>Has disability, impairment or long-term condition</span></td><td>{{ No or Yes, put conditions sep by comma }}</td></tr>
                    </tbody>
                </table>
                <hr>
                <h3 class="page-header" id="schoolAchievements">School &amp; Achievements</h3>
                <table class="table table-striped table-compressed">
                    <tbody>
                        <tr><td class="question"><span>Highest completed school level</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>Previous qualifications achieved</span></td><td>{{ No, I have not completed any qualifications or put checked quals sep by comma }}</td></tr>
                    </tbody>
                </table>
                <hr>
                <h3 class="page-header" id="employUSI">Employment &amp; USI</h3>
                <table class="table table-striped table-compressed">
                    <tbody>
                        <tr><td class="question"><span>Current employment status?</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>Based in Australia?</span></td><td>{{ placeholdertext }}</td></tr>
                        <tr><td class="question"><span>USI Number</span></td><td>{{ Not required, GQA USI form for submission, or the provided USI Number</td></tr>

                        <!-- If answered No, or Yes if international student default values of succeeding questions Excempt -->

                        <!-- Note: Enrolment USI Download , provide Upload featyure and Download  -->
                    </tbody>
                </table>
                <hr>
                <h3 class="page-header" id="uploadID">Uploaded ID Files</h3>
                <table class="table table-compressed">
                    <thead>
                        <tr><th>ID Points</th><th>Submitted ID</th></tr>
                    </thead>
                    <tbody>
                        <tr><td class="question"><h4><strong>40</strong></h4></td><td><a href="#" target="_blank" class="filename">Put filenamehere</a></td></tr>
                    </tbody>
                </table>
                <!-- If ID points are less than 100  display below -->
                <div class="alert alert-danger"><i class="zmdi zmdi-alert-circle zmdi-hc-lg zmdi-hc-fw"></i> <strong>Insufficient ID Points</strong></div>
            </section>
        </div>
    </main>


    <!-- Core -->
    <script src="ui/js/jquery-1.11.2.min.js"></script>
    <script src="ui/js/bootstrap.min.js"></script>
    <script src="ui/js/velocity.min.js"></script>
    <script src="ui/js/velocity.ui.min.js"></script>
    <script src="ui/js/plugins/polyfills.min.js"></script>
    <script src="ui/js/plugins/bootstrap-tour.min.js"></script>
    <script src="ui/js/gqa-utilities.js"></script>

    <!-- Account Manager -->
    <script src="ui/js/plugins/moment.min.js"></script>
    <script src="ui/js/plugins/bootstrap-datetimepicker.js"></script>

</body>
</html>