<!DOCTYPE html>
<html ng-app="loginapp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[24]7 Integrated Resource Information System - Forgot Password</title>
        <meta name="description" content="IRIS is [24]7's portal for all internal web applications.">
        <meta name="author" content="Mhars, Eric, Ann, Goi, Jesh, Luigi, Gale, Mark, Xawi, Edsa">
        <meta name="copyright" content="[24]7 GIS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="../_core/assets-common/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../_core/assets-common/css/animate.min.css" rel="stylesheet" />
        <link href="../_core/assets-common/fonts/fontface.min.css" rel="stylesheet" />
        <link href="assets/css/main.css" rel="stylesheet" />
    </head>
    <body class="login-background" ng-controller="loginController">
        
        <div class="panel panel-default panel-identity-confirm">
            <div class="panel-body">
                <img class="logo-brand" src="assets/img/iris-logo.svg" alt="[24]7 IRIS" />
                <form method="post" action="/retinaportalprod/Retina/NTLogin/RetinaLogin" class="form horizontal">
                    <span class="btn btn-transparent btn-login-help" data-toggle="popover" data-html="true" data-placement="left"
                        data-original-title="What is IRIS?"
                        data-content="
                        <h5>IRIS stands for Integrated Resource Information System</h5>
                        <p class='small'>IRIS is an online web portal for [24]7 Philippines. It houses various functions like viewing your company profile, checking your payslip, filing leaves, performance management, et. al.</p>
                        <p class='small'>IRIS was developed and is being maintained by Information Systems (IS) team. This version of IRIS is already on its third iteration.</p>"
                        data-trigger="hover"
                        >
                        <i class="md md-pin-help md-2x text-muted"></i>
                    </span>
                    <div class="form-group login-credentials">
                        <input type="text" class="form-control user input-lg" name="Username" id="Username" ng-model="Login.Username" placeholder="Employee Number" autofocus>
                        <span class="control-input form-password-mask password">
                            <input type="password" id="currentpassword" class="form-control input-lg" data-element="password" placeholder="IRIS Password">
                            <button type="button" class="btn btn-mask-password" data-target="password">Show</button>
                        </span>
                    </div>
                    <div class="validation-summary-valid" data-valmsg-summary="true" style="color:red"><ul><li style="display:none"></li>
                </ul></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="$('body').showLoader('loader-page','Please wait...');">Log In</button>
            </form>
            <div class="login-not-registered">
                <ul class="list-unstyled">
                    <li>
                        <a class="link" href="#">Register here</a>
                        <span class="text-muted" data-toggle="popover" data-html="true" data-placement="top"
                            data-original-title="Why do you need to register?"
                            data-content="
                            <ol>
                                <li>To gain access for new employees/first-time users.</li>
                                <li>In the event that you can no longer retrieve your password, your profile needs to be recreated and you have to register again. Your Access Rights in IRIS will be restored after 24 hours.</li>
                            </ol>"
                            data-trigger="hover"
                            >
                            for the <span class="login-help">following reasons.</span>
                        </span>
                    </li>
                    
                </ul>
            </div>
        </div>
        <footer class="login-footer">
            <div class="small ">
                IRIS <span>v3</span> developed and maintained by ITSS-IS
                <br>[24]7 Philippines
            </div>
        </footer>
    </div>
    
    <script src="assets-common/js/jquery-1.11.2.min.js"></script>
    <script src="assets-common/js/bootstrap.min.js"></script>
    <script src="assets-common/js/bootstrap-add.min.js"></script>
    <script>
        TOGGLE_PASSWORD.build();
        $('[data-toggle="popover"]').popover();
    </script>
</body>
</html>