.panel-career-idp {
    background-color: #f5f5f5;
    .panel-idp-card-title {
        background-color: $brand-blue;
        color: white;
        padding: $grid-gutter-width;
        @include clearfix();
        position: relative;
        * {
            margin: 0;
            color: white;
        }
        .idp-status {
            position: absolute;
            top: 20px;
            right: 20px;
            label {
                text-align: center;
                display: block;
                i.md {
                    display: block;
                    font-size: 3em;
                    width: 42px;
                    height: 42px;
                    background-color: white;
                    margin: auto;
                    border-radius: 42px;
                    &:before {
                        display: inline-block;
                        margin-top: 5px;
                    }
                    &.text-danger {
                        color: $brand-danger;
                    }
                    &.text-success {
                        color: $brand-success;
                    }
                }
                span {
                    margin-top: 10px;
                    display: block;
                    text-align: center;
                }
            }
        }
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
    }
    .panel-body .page-header {
        margin-top: 0;
    }
    .panel-footer {
        padding: 0;
        background-color: white;
        .input-acknowledge {
            display: inline-block;
            width: calc(100% - 30px);
            margin: 0;
            margin-left: $grid-gutter-width;
            padding: $grid-gutter-width;
        }
    }
}

.btn-edit-plan {
    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
    }
}

// Score Card Final Score
.score-card-finalscore {
    margin-top: -60px;
    text-align: center;
    @include make-row();
    > .score {
        text-align: center;
        font-size: 1.6em;
        font-family: $font-family-bold;
        width: 86px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 0;
        border: 3px solid #424242;
        @include border-radius(100px);
    }
    &:after {
        text-align: center;
        font-size: 1em;
        font-family: $font-family-bold;
        position: relative;
        @include center-block();
        color: white;
    }
    &.mtd:after {
        content: "Overall Month to Date Rating";
    }
    &.eom:after {
        content: "Overall End of Month Rating";
    }
}

.select-role {
    display: block;
    position: relative;
    border-top: 1px solid #e3e3e3;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
    margin-bottom: -$grid-gutter-width/2;
    padding-top: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    @include clearfix();
}

$selected-roles-width: 200px;
.selected-roles {
    z-index: 1;
    background-color: #F9F9F9;
    padding: $grid-gutter-width/2;
    @media (max-width: $screen-sm-max) {
        // width: 75%;
        // margin-left: 25%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 3;
        display: none;
    }
    @media (min-width: $screen-md-min) {
        position: absolute;
        width: $selected-roles-width;
        top: 0;
        right: 0;
        border-left: 1px solid #e3e3e3;
        bottom: -$grid-gutter-width/2;
    }
    ul.role-group {
        list-style: none;
        padding-left: 0;
        > li {
            margin: 5px 0;
            padding: 5px 0 15px 0;
            display: block;
            width: 100%;
            position: relative;
            border-bottom: 1px dashed #e3e3e3;
            @include clearfix();
            > .btn-delete-role {
                padding: 0px 5px;
                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }
    .group {
        margin-top: 10px;
    }
    .group-item .group-item-heading {
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 5px;
        margin-bottom: 7px;
    }
}

.tab-content-groups {
    position: relative;
    @media (min-width: $screen-md-min) {
        padding-right: $selected-roles-width;
    }
    .page-header {
        margin-top: 0;
    }
}

.career-questionnaire {
    .br-current-rating {
        &:after {
            content: attr(data-default);
        }
    }
    li {
        @include make-row();
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        position: relative;
        width: 100%;
        counter-increment: step-counter;
        &:hover {
            background-color: $gray-lighter;
            border-radius: $border-radius-base;
        }
        &:before {
            content: counter(step-counter);
            display: block;
            position: absolute;
            font-size: 12px;
            left: -$grid-gutter-width;
            border-radius: $border-radius-base;
            background-color: $gray-lighter;
            padding: 2px 7px;
        }
        ol li {
            list-style: none;
        }
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        // If user already ticked the question
        &.done:before {
            content: '\f26b ';
            font-family: 'Material Design Iconic Font';
            color: white;
            background-color: $brand-success;
        }
        > .question {
            display: block;
            position: relative;
            float: left;
            &::first-letter {
                text-transform: uppercase;
            }
            @media (max-width: $screen-sm-max) {
                width: 100%;
                padding-right: $grid-gutter-width/2;
                // padding-left: $grid-gutter-width/2;
            }
            @media (min-width: $screen-md-min) {
                width: 60%;
                padding-right: $grid-gutter-width/2;
            }
        }
        > .question-rating {
            display: block;
            position: relative;
            float: left;
            text-align: center;
            &.h_yesno-textarea {
                margin-bottom: 16px;
                .jqEasyCounterMsg {
                    padding: 1px 5px;
                }
                .text-danger {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    margin-left: 16px;
                }
            }
            @media (max-width: $screen-sm-max) {
                width: 100%;
                padding-right: $grid-gutter-width/2;
                padding-left: $grid-gutter-width/2;
            }
            @media (min-width: $screen-md-min) {
                width: 40%;
            }
            .br-wrapper {
                display: inline-block;
                @media (max-width: $screen-sm-max) {
                    margin-top: $grid-gutter-width/2;
                    > .br-widget > *[data-rating-value] {
                        width: 40px;
                        height: 20px;
                    }
                    > .br-widget > .br-current-rating {
                        width: 170px;
                    }
                }
            }
        }
    }
}

.progress-bar-container {
    z-index: 100;
    position: fixed;
    @media (max-width: $screen-sm-max) {
        padding: 5px;
        left: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
        bottom: $navbar-height + ($grid-gutter-width/2);
    }
    @media (min-width: $screen-md-min) {
        padding: 4px 6px 6px 6px;
        left: 0;
        right: 0;
        bottom: 5px;
    }
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    @include box-shadow(0 -3px 35px rgba(0, 0, 0, 0.3));
    border-bottom: 3px solid rgba(95, 95, 95, 0.25);
    border-radius: $grid-gutter-width;
    .progress {
        margin-bottom: 0;
    }
}

.choice-container {
    margin: $grid-gutter-width 0;
}

//
// Assessment Summary
// --------------------------------------------------
//
$amber: #F7CA04;
$green: #058440;
$maroon: #830300;
.list-roles {
    margin-bottom: 0;
    > .list-group-item {
        > .accordion-nav-header {
            > .role-score {
                font-size: 1.2em;
                padding: 5px 8px;
                margin-left: -$grid-gutter-width/2;
                margin-right: 5px;
                color: white;
                background-color: $brand-blue;
                display: inline-block;
                border-radius: $border-radius-base;
                @include transition(background-color 0.3s $easing);
                &:hover {
                    background-color: $brand-orange;
                    cursor: pointer;
                    @include transition(background-color 0.3s $easing);
                }
            }
            > .role-title {
                font-size: 1.4em;
            }
        }
        > .accordion-menu-content {
            .well {
                margin-bottom: 0;
            }
        }
    }
}

.list-competencies {
    margin-bottom: 0;
    > .list-group-item {
        padding: 0;
        &.open {
            .accordion-nav-header {
                border-bottom-right-radius: 0;
                box-shadow: none;
            }
            .well-white {
                border-left: 5px solid lighten($gray, 20%);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: $border-radius-base;
            }
        }
        > .accordion-nav-header {
            border: 1px solid #e3e3e3;
            border-radius: 0;
            border-top-left-radius: 0;
            background-color: white;
            border-left: 5px solid $gray;
            border-top: 5px;
            border-bottom: 5px;
            border-top-right-radius: 3px;
            border-right: 0;
            border-bottom-right-radius: 3px;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
            > .role-score {
                font-size: 1.2em;
                padding: 5px 8px;
                margin-left: -$grid-gutter-width/2;
                margin-right: 5px;
                color: white;
                background-color: $brand-blue;
                display: inline-block;
                border-radius: $border-radius-base;
                @include transition(background-color 0.3s $easing);
                &:hover {
                    background-color: $brand-orange;
                    cursor: pointer;
                    @include transition(background-color 0.3s $easing);
                }
            }
            > .role-title {
                font-size: 1.4em;
            }
        }
        > .accordion-menu-content {
            .well-white {
                margin-bottom: 0;
                padding: $grid-gutter-width/2;
                background-color: white;
            }
            .list-questions {
                margin-left: 0;
                padding-left: 25px;
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// Status colors
.list-competencies {
    .accordion-menu-item {
        // Functional competency color code
        &.code-orange {
            border-left: 5px solid #E43939 !important;
        }
        &.code-2 {
            border-left: 5px solid #E43939 !important;
        }
        &.code-3 {
            border-left: 5px solid #E43939 !important;
        }
        &.code-4 {
            border-left: 5px solid #E43939 !important;
        }
    }
}

.center-score {
    margin-top: $grid-gutter-width/2;
    margin-left: calc(50% - 30px);
}

.capital {
    display: inline-block;
    &:first-letter {
        text-transform: uppercase;
    }
}

.list-questions {
    margin-left: 0;
    padding-left: $grid-gutter-width/2;
    list-style-type: decimal;
    li {
        list-style-type: decimal;
        margin-bottom: 10px;
    }
}

.list-competencies-inline-legend {
    margin-top: 5px;
    &:before {
        content: 'LEGEND';
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
        margin-left: 5px;
        color: #666;
    }
    li {
        color: white;
        font-size: 0.8em;
        border-radius: 15px;
        padding: 2px 5px;
        border: 1px so;
        font-family: Helvetica, Arial, sans-serif;
        &.status-amber {
            background-color: $amber;
        }
        &.status-green {
            background-color: $green;
        }
        &.status-maroon {
            background-color: $maroon;
        }
    }
}

.preferred-role-item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
    @media (max-width: $screen-xs-max) {
        width: percentage(5/5);
    }
    @media (min-width: $screen-sm-min) {
        width: percentage(2.5/5);
    }
    @media (min-width: $screen-md-min) {
        width: percentage(2.5/5);
    }
    @media (min-width: $screen-lg-min) {
        width: percentage(2/6);
    }
    .role-score {
        background-color: $brand-blue;
        color: white;
        font-size: 1.4em;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.list-competencies-inline {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    @include clearfix();
    > li {
        float: left;
        margin-right: 5px;
        margin-bottom: 8px;
        padding: 5px 8px;
        font-size: 0.85em;
        position: relative;
        border-left: 8px solid $gray;
        border-radius: 1px;
        background-color: #EFEFEF;
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
        &:first-letter {
            text-transform: uppercase;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
            background-color: darken(#EFEFEF, 3%);
        }
        &.status-amber {
            border-color: $amber;
        }
        &.status-green {
            border-color: $green;
        }
        &.status-maroon {
            border-color: $maroon;
        }
    }
}

.list-competencies-full {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    @include clearfix();
    > li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px 10px;
        position: relative;
        border-left: 8px solid $gray;
        border-radius: 1px;
        width: 100%;
        background-color: white;
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
        &:last-child {
            margin-bottom: 0;
        }
        > ol > li {
            font-style: italic;
        }
        > .btn {
            margin: -7px -8px -6px 3px;
        }
        h4 {
            padding: $grid-gutter-width/2;
            padding-left: 0;
            margin-bottom: $grid-gutter-width/2;
            margin-top: 0;
            span {
                display: inline-block;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
            padding-bottom: 10px;
        }
        .list-competencies-text {
            margin-bottom: 25px;
            @include clearfix();
        }
        &:last-child {
            margin-right: 0;
        }
        &.status-amber {
            border-color: $amber;
            .list-competency-title,
            .unit-percent {
                color: #DCB400;
            }
        }
        &.status-green {
            border-color: $green;
            .list-competency-title,
            .unit-percent {
                color: $green;
            }
        }
        &.status-maroon {
            border-color: $maroon;
            .list-competency-title,
            .unit-percent {
                color: $maroon;
            }
        }
        .list-competencies-questions {
            position: relative;
            &.with-expand {
                &:before {
                    display: block;
                    content: 'Click to Display All Questions';
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 100px);
                    background-color: $gray-dark;
                    color: white;
                    font-size: 0.7em;
                    text-align: center;
                    text-transform: uppercase;
                    width: 200px;
                    padding: 5px 8px;
                    z-index: 2;
                    border-radius: $border-radius-base;
                    @include opacity(0);
                    @include transform(translateY('5%'));
                    @include transition(opacity .3s $easing);
                }
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    height: 70px;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    @include gradient-vertical(transparent, white, 0%, 100%);
                }
                &:hover {
                    cursor: pointer;
                    &:before {
                        @include opacity(1);
                        @include transition(opacity .3s $easing);
                    }
                }
            }
        }
    }
}

.js_timeline {
    margin-bottom: $grid-gutter-width/2;
    .control-label {
        display: inline-block;
        text-align: left;
        margin-right: 10px;
    }
    .js_editTimeline {
        display: inline-block;
        div {
            display: inline-block;
            width: 200px;
        }
        .btn {
            display: inline-block;
        }
    }
    .js_viewTimeline {
        display: inline-block;
    }
}

.panel-comment-thread {
    padding: 0 $grid-gutter-width 0 $grid-gutter-width;
    margin-top: -$grid-gutter-width;
    @include clearfix();
    .confirm-comment-delete {
        position: absolute;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        text-align: right;
        display: none;
    }
    // Open comments and write a reply
    > .panel-comment-controls {
        // margin-bottom: 5px;
        // padding-bottom: $grid-gutter-width/2;
        z-index: 1;
        position: relative;
        .btn-link {
            padding-left: 0;
            padding-right: 0;
            margin-right: 15px;
            &,
            &:focus,
            &:active {
                outline: none;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    > .panel-comment {
        @include clearfix();
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
        position: relative;
        // Formatting replies
        > .panel-post-reply {
            display: table-cell;
            vertical-align: top;
            position: relative;
            padding-left: ($grid-gutter-width/2);
        }
    }
}

// Resize Avatar
.panel-avatar {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    text-align: center;
    margin: auto auto;
    width: $avatar-xxs;
    .avatar {
        margin: auto auto;
        @media (max-width: $screen-xs-max) {
            width: $avatar-xxs;
            height: $avatar-xxs;
            max-width: $avatar-xxs;
            background-size: $avatar-xxs;
            background-position: center center;
        }
        @media (min-width: $screen-sm-min) {
            width: $avatar-xxs;
            height: $avatar-xxs;
            max-width: $avatar-xxs;
            background-size: $avatar-xxs;
            background-position: center center;
        }
    }
}

.input-characters {
    position: absolute;
    top: -$grid-gutter-width;
    right: $grid-gutter-width;
}

// Input box
.panel-comment-input {
    display: block;
    position: relative;
    @include clearfix();
    .comment-input {
        resize: none;
        padding-right: 105px;
        border-radius: 0;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        background-color: #F9F9F9;
        &:focus,
        &:active {
            border: 2px solid $brand-cyan;
            border: 2px solid $brand-cyan;
        }
    }
    .btn {
        position: absolute;
        top: 11px;
        right: 15px;
    }
    .panel-avatar {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// Thought Balloon
.thought-balloon {
    $well-bg: white;
    background-color: $well-bg;
    border-radius: $border-radius-base;
    border: 1px solid #EFEFEF;
    padding: (($grid-gutter-width/2) - 5) ($grid-gutter-width / 2);
    position: relative;
    .display-comment {
        p {
            word-break: break-word;
            white-space: pre-line;
            margin-bottom: 0;
            min-width: 550px;
        }
        .dropdown {
            top: 0;
            right: 0;
            position: absolute;
        }
    }
    .textarea {
        min-width: 550px;
        width: 100%;
        display: inline-block;
    }
    .h4 {
        margin-right: 40px;
    }
    .date {
        margin-top: -30px;
        margin-bottom: 15px;
        text-align: center;
    }
    .btn-float {
        right: 15px !important;
    }
    &:after,
    &:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: $well-bg;
        border-width: 6px;
        margin-top: -6px;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #E6E6E6;
        border-width: 7px;
        margin-top: -7px;
    }
}

.long-question-notification {
    $v_allowance: 40px;
    $font_size: 23px;
    text-align: center;
    display: none;
    padding: $v_allowance 0 0;
    margin-bottom: $v_allowance;
    .wink {
        background: url(../img/emojis.svg) center no-repeat;
        background-size: contain;
        height: 207px;
        display: inline-block;
        /* margin: auto; */
        width: 186px;
        vertical-align: middle;
        margin-right: 10px;
    }
    p {
        display: inline-block;
        width: 40%;
        font-size: $font_size;
        text-align: left;
        vertical-align: middle;
    }
    $padd: 50px;
    .btn {
        padding-left: $padd;
        padding-right: $padd;
        font-size: 20px;
        display: block;
        margin: 20px auto 0;
        text-align: center;
    }
    .lead {
        display: block;
        font-size: $font_size;
    }
}

$break_allowance: -35px;
.break {
    position: absolute;
    bottom: 8px;
    margin-bottom: 10px;
    right: $break_allowance;
    left: $break_allowance;
    //display: none;
    .close {
        color: #fff;
    }
}

.br-widget {
    position: relative;
}
