//colors
$primary: $brand-primary;
$secondary: #4278f5;

.br-theme-bars-movie {
	.br-widget {
		height: 10px;
		a {
			display: block;
			width: 60px;
			height: 8px;
			float: left;
			background-color: #D2D2D2;
			margin: 1px;

			@include transition(transform 0.35s $easing);
			-webkit-transform: scale(1,1);
				-moz-transform: scale(1,1);
					-o-transform: scale(1,1);
						transform: scale(1,1);

			&:hover {
				@include transition(transform 0.35s $easing);
				-webkit-transform: scale(1,1.8);
					-moz-transform: scale(1,1.8);
						-o-transform: scale(1,1.8);
							transform: scale(1,1.8);
			}

			&.br-active {
				background-color: $secondary;
			}
			&.br-selected {
				background-color: $primary;
			}
		}
		.br-current-rating {
			clear: both;
			width: 240px;
			text-align: center;
			font-weight: 600;
			display: block;
			padding: .5em 0;
			color: $secondary;
			font-weight: 400;
		}
	}
	.br-readonly a {
		&.br-active {
			background-color: $secondary;
		}
		&.br-selected {
			background-color: $secondary;
		}
	}
}
