// User search
.user-search-toggle {
	display: block !important;
	margin-right: 0;
}

.team-panel {
	position: fixed;
	z-index: $zindex-dropdown - 1;
	top: $navbar-height + 1;
	bottom: 0;
	background-color: lighten($brand-blue, 10%);
	border-left: 1px solid darken($brand-blue, 10%);
	width: 360px;
	@include box-shadow(-5px 7px 40px rgba(0,0,0,0.2));

	@media (max-width: $screen-xs-max) {
		left: auto;
		right: 0;
		bottom: 44px;
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		left: auto;
		right: 0;
		bottom: 0;
	}

	display: block;

	&.search-hidden {
		visibility: hidden !important;
	}
}

.team-search {

	> .team-input-group {
		padding: ($grid-gutter-width / 2) - 3;

		> .search-input {
			color: #fff;
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding-left: 45px;
			border-bottom: 1px solid lighten($brand-blue, 30%);

			&:focus { 
				border-bottom: 2px solid lighten($brand-blue, 50%);
				padding-bottom: 6px;
			}
			&::-webkit-input-placeholder {
			   color: #fff;
			}

			&:-moz-placeholder { color: #fff; }
			&::-moz-placeholder { color: #fff; }
			&:-ms-input-placeholder { color: #fff; }
		}

		> span {
			color: #fff;
			display: block;
			position: absolute;
			top: 20px;
			left: 20px;
		}
	}

	> .team-list-group { overflow-x: hidden; @include opacity(0);}

	@media (max-width: $screen-xs-max) {
		width: 100%;
		border: none;
		background-color: $brand-blue;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

// Main Team List
.team-list {
	$item-baseheight: 50px;

	display: block;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	list-style: none;

	.team-list-item {
		display: block;
		clear: both;
		position: relative;
		margin-left: 0;

		&:hover {
			> .item-trigger > .item-profile-img > .avatar {
				border-color: $brand-orange;
				@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
			}
		}

		> .item-trigger {
			display: block;
			> .item-profile-img {
					padding: $grid-gutter-width / 2;
					padding-top: 0;
					display: inline-block;
					float: left;
					background-color: lighten($brand-blue, 10%);
					position: relative;

				> .avatar {
					border: 2px solid #fff;
					@include transition (border-color 0.3s cubic-bezier(.26,.51,.34,.98));
					width: $item-baseheight;
					max-width: $item-baseheight;
					height: $item-baseheight;
					background-size: $item-baseheight + 5;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}

			> .item-profile-metadata {
				overflow: hidden;
				height: $item-baseheight + (($grid-gutter-width / 2) / 2);
				max-height: $item-baseheight + (($grid-gutter-width / 2) / 2);
				border-bottom: 1px solid lighten($brand-blue, 30%);
			}
		}
	}
}

// Direct Reports
.btn-expand-direct {
	position: absolute;
    z-index: 1;
    top: 7px;
    right: 12px;
    background-color: transparentize(darken($brand-blue,10%), .4);
    color: white;
    width: 36px;
    border-radius: 36px;
    outline: none;

    &:hover, &:active, &:focus { color: white; }
}
.team-sublist {
	display: none;
	.team-list-item > .item-trigger > .item-profile-img {
		&:after {
			display: block;
			content: "";
			width: 2px;
			height: $grid-gutter-width / 2;
			background-color: #fff;
			position: absolute;
			left: calc(50% - 1px);
			bottom: 100%;
		}

		&:hover:after {
			background-color: $brand-orange;
		}
	}
}
.item-profile-metadata {
	position: relative;
	width: calc(100% - 80px);
	span {
		color: #fff;
		clear: right;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		clear: both;
		font-size: 1.2em;
		text-transform: capitalize;
		// &:first-letter{ text-transform: capitalize; }

		& + span {
			font-size: 0.9em;
		}
	}

	&:after {
	    content: '';
	    @include gradient-horizontal(transparent, lighten($brand-blue, 10%), 0%, 75%);
	    display: block;
	    text-align: center;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
		width: $grid-gutter-width * 2 + 20;
	}
}