.udrive-maintenance .class-setup > .k-header {
  position: absolute;
  top: -63px;
  right: 0;
  border: 0;
  background: transparent; }
.udrive-maintenance .control-input .k-dropdown,
.udrive-maintenance .control-input .k-datetimepicker {
  width: 100%; }
.udrive-maintenance .form-group {
  padding: 0 3px; }
.udrive-maintenance .k-datetimepicker .k-select > .k-icon {
  margin: 0 5px; }
  .udrive-maintenance .k-datetimepicker .k-select > .k-icon:hover {
    opacity: .80; }
.udrive-maintenance .k-datetimepicker .k-select:after {
  content: "|";
  color: transparent;
  border-right: 1px solid #ccc;
  position: absolute;
  right: 50%; }
.udrive-maintenance .js-class-details h5 {
  margin: 0 0 10px; }
.udrive-maintenance .js-class-details + .js-class-details {
  margin-top: 10px; }
.udrive-maintenance #details-container {
  position: relative; }
.udrive-maintenance .no-days-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center; }
.udrive-maintenance .k-dropdown-wrap .k-input, .udrive-maintenance .k-picker-wrap .k-input {
  height: 2.1em;
  line-height: 1.95em;
  padding: .177em 0; }
.udrive-maintenance .k-dropdown {
  margin-top: 1px; }
.udrive-maintenance .k-dropdown-wrap .k-select {
  line-height: 2.3em; }

/*# sourceMappingURL=udrive-maintenance.css.map */
