@import "assets-variables.scss";
@import "../../assets-common/css/bootstrap/labels";
$widget-padding: ($grid-gutter-width/2)-5;
.panel-apps {
    .app-list-controls {
        @include clearfix();
        // margin-top: -20px;
        display: block;
        clear: both;
        background-color: white;
        padding: $grid-gutter-width/2;
        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;

        .input-group-list-controls {
            float: left;
            position: relative;
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
            @media (min-width: $screen-sm-min) {
                width: 50%;
            }
            @media (min-width: $screen-md-min) {
                width: 55%;
            }
            @media (min-width: $screen-lg-min) {
                width: 40%;
            }
            &:after {
                display: block;
                content: '\f1c3';
                font-family: 'Material Design Iconic Font';
                position: absolute;
                top: -1px;
                left: 10px;
                font-size: 2em;
                color: $gray-light;
            }
            .form-control {
                padding-left: 35px;
                &:focus {
                    padding-left: 34px;
                    & + .input-group-list-controls:after {
                        color: $brand-cyan !important;
                    }
                }
            }
        }
    }
    .filters {
        float: left;
        position: relative;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        width: 100%;
        z-index: 1;
        @include clearfix();
        @media (min-width: $screen-sm-min) {
            padding-left: 5%;
            padding-right: 5%;
        }
        @media (min-width: $screen-sm-min) {
            padding-left: 15%;
            padding-right: 15%;
        }
        @media (min-width: $screen-md-min) {
            padding-left: 12.5%;
            padding-right: 12.5%;
        }
        @media (min-width: $screen-lg-min) {
            padding-left: 25%;
            padding-right: 25%;
        }
    }
    .apps-list {
        padding-left: 0;
        margin-left: -3px;
        margin-right: -2px;
        list-style-type: none;
        position: relative;
        z-index: 0;
        > .apps-item {
            $p: 3px;
            float: left;
            position: relative;
            padding: $p;
            margin: 0;
            > * {
                z-index: 2;
            }
            &:hover {
                > label {
                    border-color: transparent !important;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: $p;
                    right: $p;
                    bottom: $p;
                    left: $p;
                    border-radius: $border-radius-base;
                    border: 2px solid $brand-primary;
                    display: block;
                    cursor: pointer;
                    z-index: 1 !important;
                }
            }
            // &:after:hover {
            // 	display: block;
            // }
            > label {
                width: 100%;
                height: 100%;
                display: block;
                margin-bottom: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px;
                padding-left: 38px;
                border-radius: $border-radius-base;
                border: 1px solid $gray-lighter;
                text-transform: none;
                float: left;
                position: relative;
                font-family: $font-family-base;
                &:after {
                    left: 12px;
                }
                &:before {
                    left: 10px;
                }
                .icon {
                    display: block;
                    float: left;
                    position: relative;
                    width: 32px;
                    height: 32px;
                }
                .description {
                    display: block;
                    float: left;
                    position: relative;
                    width: -webkit-calc(100% - 32px);
                    width: -moz-calc(100% - 32px);
                    width: calc(100% - 32px);
                    height: 32px;
                    padding-left: 8px;
                    .title {
                        margin-bottom: 5px;
                        // color: $brand-primary;
                        & ~ * {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-family: $font-family-alt;
                        }
                    }
                    * {
                        display: block;
                        clear: both;
                        margin: 0;
                        line-height: 1;
                    }
                }
            }
            @media (max-width: $screen-xs-max) {
                width: percentage(1/1);
            }
            @media (min-width: $screen-sm-min) {
                width: percentage(1/2);
            }
            @media (min-width: $screen-md-min) {
                width: percentage(1/2);
            }
            @media (min-width: $screen-lg-min) {
                width: percentage(1/3);
            }
        }
        &.no-apps:after {
            display: block;
            width: 100%;
            text-align: center;
            position: relative;
            padding: 5%;
            content: 'None matched your search';
        }
    }
}

.selected-indicator {
    display: inline-block;
    position: relative;
    margin: 7px;
    text-transform: uppercase;
    font-size: 0.8em;
    #selectedWidgetCount {
        font-size: 1.4em;
    }
}

.widget-app-bookmarks {
    > .tab-content {
        text-align: center;
        padding-top: $widget-padding;
        // padding: $widget-padding;
    }
    .edit-mode {
        @extend .label;
        @extend .label-default;
        padding: 9px 10px;
        display: inline-block;
    }
    .pane-widgets,
    .pane-bookmarks {
        .btn-group {
            .btn:first-child > span {
                display: block;
                @media (max-width: $screen-sm-max) {
                    width: $sidebar-width-left-xs - 73;
                }
                @media (min-width: $screen-md-min) {
                    width: $sidebar-width - 73;
                }
            }
        }
    }
    .tab-scroll {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        &.shadow-top {
            &:before {
                @include opacity(1);
                position: absolute;
                top: 38px;
                left: 0;
                right: 0;
                height: 15px;
                display: block;
                content: '';
                background: url(../img/list-shadow.png) no-repeat left bottom;
                background-size: 230px 30px;
            }
            &.top-hide:after {
                @include opacity(0);
            }
        }
        &.shadow-bottom {
            &:after {
                @include opacity(1);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 15px;
                display: block;
                content: '';
                background: url(../img/list-shadow.png) no-repeat left top;
                background-size: 230px 30px;
            }
            &.bottom-hide:after {
                @include opacity(0);
            }
        }
    }
    .widget-list {
        width: 100%;
        display: inline-block;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        margin-bottom: 0;
        list-style-type: none;
        $border-width: 2px;
        &.adding-widget {
            .widget-list-item {
                border-width: $border-width;
                border-color: $gray-lighter;
                border-style: dashed;
                + .widget-list-item {
                    border-left-width: 0;
                    border-top-width: 0;
                }
                &:nth-child(3n+4) {
                    border-left-width: $border-width;
                }
                &:nth-child(2) {
                    border-top-width: $border-width;
                }
                &:nth-child(3) {
                    border-top-width: $border-width;
                }
                .btn {
                    @include opacity(0.65)
                }
                >.btn:hover {
                    border: 1px solid transparent;
                    @include box-shadow(none);
                    @include opacity(1);
                }
            }
        }
        .widget-list-item {
            display: inline-block;
            width: percentage(1/3);
            float: left;
            position: relative;
            min-height: 1px;
            text-align: center;
            > .btn {
                // border-radius: 0;
                background-color: transparent;
                width: 100%;
                padding-top: 13px;
                padding-bottom: 13px;
                // height: 60px;
                position: relative;
                outline: none;
                &:after {
                    top: 105%;
                    @include opacity(0);
                    @include transition(all .3s $easing);
                }
                &:hover {
                    border: 1px solid #e3e3e3;
                    border-bottom: 1px solid darken(#e3e3e3, 5%);
                    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.15));
                    &:after {
                        @include opacity(1);
                        @include transition(all .3s $easing);
                        display: block;
                        background-color: $gray-dark;
                        color: white;
                        font-size: 8px;
                        text-transform: uppercase;
                        padding: 2px;
                        font-family: Helvetica, Arial, sans-serif;
                        border-radius: 2px;
                        width: 100%;
                        position: absolute;
                        top: 105%;
                        left: 0;
                        right: 0;
                        z-index: 10;
                        white-space: normal;
                        word-wrap: break-word;
                        word-break: break-word;
                        content: attr(data-icon-title);
                    }
                    &:active {
                        @include user-select(none);
                        @include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.15));
                    }
                }
            }
            i.md {
                font-size: 1.90em;
            }
        }
    }
    .bookmark-list {
        list-style-type: none;
        margin-top: $widget-padding;
        margin-bottom: 0;
        padding-left: $widget-padding;
        .bookmark-list-item {
            position: relative;
            border-bottom: 1px solid #ECECEC;
            text-align: left;
            background-color: transparent;
            @include transition(background-color 0.2s $easing);
            &:hover {
                background-color: lighten(#ECECEC, 2%);
                @include transition(background-color 0.2s $easing);
                > .icon > i.md:first-child {
                    right: 0;
                    color: $brand-cyan;
                    @include transition(all 0.2s cubic-bezier(0, 0.94, 0, 1.05));
                }
                > .icon > i.md:last-child {
                    right: -13px;
                    @include transition(all 0.2s cubic-bezier(0, 0.94, 0, 1.05));
                }
            }
            .icon {
                > i.md {
                    position: absolute;
                }
                > i.md:first-child {
                    right: -13px;
                    color: $brand-cyan;
                    @include transition (all 0.3s $easing);
                }
                > i.md:last-child {
                    right: 0;
                    @include transition (all 0.3s $easing);
                }
                width: 20px;
                height: 20px;
                display: block;
                overflow: hidden;
                position: absolute;
                pointer-events: none;
                top: 7px;
                right: $widget-padding;
            }
            a {
                width: 100%;
                color: $gray;
                display: block;
                padding: 5px 25px 5px 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    color: $brand-cyan;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.widget-view-initial {
    background: url(../img/widget-first-time.png) no-repeat center top;
    background-size: 187px 77px;
    padding-top: $grid-gutter-width*3;
    p {
        line-height: 1.2;
        font-size: 12px;
        margin-left: $grid-gutter-width;
        margin-right: $grid-gutter-width;
    }
    .popover-content * {
        white-space: pre-line;
        display: block;
        width: 240px;
    }
}

.bookmark-view-initial {
    background: url(../img/bookmark-first-time.png) no-repeat center $grid-gutter-width/2;
    background-size: 173px 50px;
    padding-top: $grid-gutter-width*3;
}

// Kendo sortable
.sortable-list {
    padding-left: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include clearfix();
}

li {
    $h_padding: 12px;
    list-style-type: none;
    &.sortable-item {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        list-style-type: none;
        position: relative;
        padding: 8px $h_padding;
        background-color: $gray-lighter;
        border-radius: 2px;
        border: 1px solid darken($gray-lighter, 3%);
        @include box-shadow(0 0 0 rgba(116, 116, 116, 0));
        @include transition(all 0.2s $easing);
        @include clearfix();
        &:hover {
            border: 1px solid darken($gray-lighter, 10%);
            border-bottom: 1px solid darken($gray-lighter, 15%);
            cursor: move;
            @include transition(all 0.2s $easing);
            @include box-shadow(0 2px 6px rgba(116, 116, 116, 0.4));
            @media (min-width: $screen-md-min) {
                > .view > .action {
                    display: block;
                }
            }
        }
        & > .view .action {
            position: absolute;
            right: 2px;
            top: 1px;
            z-index: 1;
            @media (min-width: $screen-md-min) {
                display: none;
            }
            @media (max-width: $screen-sm-max) {
                & .action {
                    display: block;
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    z-index: 1;
                }
            }
        }
        & .view .text {
            display: block;
            float: left;
            padding-right: 80px;
            @include text-overflow();
            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
            @media (min-width: $screen-md-min) {
                width: 100%;
            }
        }
        &.edit-mode {
            > .view {
                display: none;
            }
            > .edit {
                display: block;
            }
            > .delete {
                display: none;
            }
        }
        &.view-mode {
            > .view {
                display: block;
            }
            > .edit {
                display: none;
            }
            > .delete {
                display: none;
            }
        }
        &.delete-mode {
            > .view {
                display: none;
            }
            > .edit {
                display: none;
            }
            > .delete {
                display: block;
            }
        }
        &.sortable-item-short {
            width: -webkit-calc(33.33333% - 5px);
            width: -moz-calc(33.33333% - 5px);
            width: calc(33.33333% - 5px);
            margin-left: 2.5px;
            margin-right: 2.5px;
            position: relative;
            float: left;
            display: block;
            .action {
                position: absolute;
                top: -$grid-gutter-width/2;
                right: -$grid-gutter-width/2;
                > .btn {
                    border-radius: 30px;
                    width: 30px;
                    height: 30px;
                    i.md {
                        position: absolute;
                        top: 10px;
                        left: 5px;
                    }
                }
            }
        }
    }
    &.hint {
        display: block;
        width: $modal-md - ($modal-inner-padding*2) - ($h_padding*2);
        list-style-type: none;
        position: relative;
        padding: 8px 12px;
        background-color: $gray-lighter;
        border-radius: 2px;
        border: 2px solid $brand-cyan;
        @include box-shadow(0 0 10px rgba(116, 116, 116, 0.4));
        &:last-child {
            border-radius: $border-radius-base;
        }
        > span {
            color: $gray-light;
        }
    }
    &.placeholder {
        background-color: $gray-lighter;
        border: 2px dashed $gray-light;
        color: $gray-light;
        text-align: right;
    }
}

.h_url {
    .control-input:first-child {
        @media (min-width: $screen-sm-min) {
            width: 377px;
            float: left;
            padding-right: 15px;
            display: inline-block;
        }
    }
    .control-input:last-child {
        @media (min-width: $screen-sm-min) {
            float: left;
            display: inline-block;
        }
        @media (max-width: $screen-xs-max) {
            margin-top: 15px;
        }
    }
}

#widgetsSortable .sortable-item-short.hint {
    width: 164px !important;
}

// Override the default right margin when scrollbar is set inside
.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.mCSB_scrollTools {
    width: 10px;
}
