.dat-reminder {
    background-color: $gray-lighter;
    position: relative;
    left: -15px;
    width: calc(100% + 15px);
    right: 0;
    padding: 10px 5px 10px 60px;
    margin-bottom: $grid-gutter-width/2;
    line-height: 1;
    &:before {
        content: " ";
        background-image: url(../img/calendar-reminder.png);
        width: 30px;
        height: 30px;
        display: inline-block;
        background-size: 30px;
        position: absolute;
        left: 15px;
        top: 10px;
    }
}

.dat-datepicker {
    margin-bottom: $grid-gutter-width/2;
}

.dat-guide {
    padding: 4px 4px 0;
    text-align: right;
    display: block;
    & + .team-leader {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

// Container of Team List
.dat-panel-team {
    background-color: #fcfcfc;
    border: 1px solid #e9e9e9;
    box-shadow: none;
    margin-left: -15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    .team-leader {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 5px 5px 10px;
        small {
            text-transform: none;
        }
    }
}

.dat-filter {
    width: calc(100% - 80px);
    float: left;
    clear: both;
    @media (min-width: $screen-xlg-min) {
        width: calc(100% - 190px);
    }
}

.dat-utility-btn {
    width: 70px;
    display: inline-block;
    // vertical-align: top;
    float: right;
    @media (min-width: $screen-xlg-min) {
        width: 180px;
    }
}

.dat {
    .r_display {
        display: none;
        @media (min-width: $screen-xlg-min) {
            display: inline;
        }
    }
}

.master-row {
    td {
        vertical-align: middle;
        &:first-child {
            .btn-xs {
                padding: 3px;
                margin: 0px;
                outline: none;
            }
        }
    }
}

.sub-row {
    background-color: $gray-lighter;
}

.dropdown-item-dat {
    padding: 10px 8px;
    label {
        text-transform: none;
    }
    &:hover {
        background-color: $gray-darker;
        color: #fff;
        label {
            color: #fff;
        }
    }
}

.dat-records {
    width: calc(100% - 260px);
}

.dat-list-team {
    width: 255px;
}

.dat-team-btn {
    font-size: 75%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
