.widget-feedback {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: $sidebar-width;
	height: 45px;
	margin-top: $grid-gutter-width/2;

	.widget-feedback-header {
		position: relative;
		padding: 10px;
		padding-left: $grid-gutter-width*2;
		height: 45px;

		.text-collapsed { 
			position: absolute; line-height: 1; top: 9px;
			* { display: block; &:last-child { font-size: 0.75em; } }
		}
		.text-expanded { position: absolute; line-height: 1; top: $grid-gutter-width/2; display: none; }

		.btn { position: absolute; right: 6px; top: 6px; display: none; }

		&:before {
			display: block;
			width: 37px;
			height: 40px;
			top: -3px;
			left: 12px;
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			z-index: 1;
		}
		&:after {
			display: block;
			position: absolute;
		    top: -14px;
		    left: 5px;
			background-size: (227px/2) (28px/2);
			width: (227px/4);
			height: (28px/2);
			content: '';
			background-repeat: no-repeat;
			background-color: transparent;
			background-image: url(../img/widget-feedback-tab.png);
		}
	}
	.widget-feedback-body {
		position: relative;
		background-color: $gray-lighter;
	}
	.widget-feedback-search {
		padding: 6px;
		> .panel {
			margin: 0;
			padding: $grid-gutter-width/2;
			&:after {
				display: table;
				content: '';
				clear: both;
			}
			&:before {
				content: 'Can you assist me in';
				display: block;
				font-family: $font-family-bold;
				float: left;
				font-size: 1.4em;
				width: 190px;
			}
		}
		input {
			background-color: transparent;
			border: none;
			display: block;
			float: left;
			line-height: 1.3;
			padding-left: 10px;
			width: calc(100% - 190px);
			width: -webkit-calc(100% - 190px);
			width: -moz-calc(100% - 190px);
			@include box-shadow(none);
			&:focus, &:active, & {
				outline: none;
				font-size: 1.4em;
			}
		}
	}
	.widget-feedback-apps {
		@include clearfix();
		margin: 0;
		padding: 3px;
		list-style-type: none;
		li {
			padding: 3px;
			display: block;
			float: left;
			position: relative;
			width: percentage(1/4);

			.panel {
				padding: $grid-gutter-width/2;	
				text-align: center;
				height: 140px;
				position: relative;
				overflow: hidden;
				margin: 0;
				display: block;
				img {
					height: 25px;
					max-height: 25px;
					width: auto;
					margin: auto;
					margin-top: 9%;
				}
				&:after {
					position: absolute;
					bottom: 0;
					display: block;
					left: 0;
					right: 0;
					content: '';
					z-index: 2;
					height: $grid-gutter-width;
					@include border-radius($border-radius-base);
					@include gradient-vertical(transparent,white, 0%, 100%) 
				}
			}
			.feedback-app-description {
				position: absolute;
				top: 75px;
				left: 3px;
				right: 3px;
				padding: $grid-gutter-width/2;
				text-align: left;
				border-top: 1px dotted #e3e3e3;
				background-color: rgba(255,255,255,0.95);
				@include transition(all .4s $easing);
				@include transform(translateY(0));

				label { font-size: 0.7em; display: block; }
				p { margin: 0; color: #afafaf; }
				> * { line-height: 1; font-size: 0.9em; z-index: 1; }
			}

			&:hover, &:hover * {
				cursor: pointer;	
			}
			&:hover {
				.panel {
					@include box-shadow(0 0 3px rgba(0,0,0,0.4));
				}
				.feedback-app-description {
					@include transform(translateY(-55px));
					border-top: 1px dotted transparent;
					@include transition(all .3s $easing);
					p { color: $text-color; }
				}
			}
		}
	}

	&.default {
		.widget-feedback-header {
			background-color: #fafafa;
			color: $text-color;
			border-bottom: 1px solid transparent;
			border-top: 2px solid #dcdede;

			&:before {
				background-image: url(../img/icon-feedback-orange.svg);
			}
			&:after {
				background-position: -55px 0;
			}
		}	
	}
	&.inverse {
		.widget-feedback-header {
			background-color: $gray-dark;
			color: white;
			border-bottom: 1px solid transparent;
			border-top: 2px solid #dcdede;

			&:before {
				background-image: url(../img/icon-feedback-yellow.svg);
			}
			&:after {
				background-position: 5px 0;
			}
		}
	}
	&:hover {
		cursor: pointer;
	}
	&.expanded {
		width: 700px !important;
		height: auto !important;
		border-top-left-radius: 4px;
		.widget-feedback-header { 
			border-bottom: 1px solid #d2d2d2;
			border-top-left-radius: 2px;
			.btn { display: block; }
			.text-collapsed { display: none; }
			.text-expanded { display: block; }
		}
		.widget-feedback-body { border-left: 1px solid #fbfbfb; }
		@include box-shadow(-10px -5px 80px 10px rgba(0,0,0,0.31));
	}
}