.panel-groups {
    .groups-menu, .groups-content {
        position: relative;
        float: left;
        min-height: 1;
    }

    .groups-menu{
        width: 200px;
        background-color: white;
    }

    .groups-content {
        width: calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
        width: -moz-calc(100% - 200px);
    }
}