@font-face {
    font-family: 'PT Sans';
    src: url('../img/events-ads/ptsans/pt_sans-web-regular-webfont.eot');
    src: url('../img/events-ads/ptsans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../img/events-ads/ptsans/pt_sans-web-regular-webfont.woff2') format('woff2'), url('../img/events-ads/ptsans/pt_sans-web-regular-webfont.woff') format('woff'), url('../img/events-ads/ptsans/pt_sans-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.widget-lingap {
    $w-height: 80px;
    height: $w-height;
    width: 100%;
    .ad-frame {
        height: $w-height;
        &:hover {
            cursor: pointer;
        }
    }
}

.ad-frame {
    font-family: 'PT Sans';
    font-size: 1.4em;
    position: relative;
    p {
        position: absolute;
        margin: 0;
        line-height: 1.1;
        text-align: left;
    }
    .text1 {
        top: 25px;
        left: $grid-gutter-width*2;
    }
    .text2 {
        top: 21px;
        left: 90px;
        text-align: left;
        display: block;
        font-size: 1.4em;
        * {
            font-style: normal;
            line-height: 1;
        }
        .text2-d1 {
            color: black;
            display: none;
        }
        .text2-d2 {
            color: #666;
            display: none;
            margin-top: -5px;
        }
    }
    .text3 {
        display: none;
        position: absolute;
        top: 0;
        right: 8px;
        color: $brand-turquoise;
    }
    .lingap-logo {
        display: block;
        width: auto;
        height: 46px;
        position: absolute;
        top: 17px;
        left: 23px;
        display: none;
    }
    .btn {
        background: none !important;
        border: 3px solid $brand-danger;
        color: $brand-danger !important;
        &:focus,
        &:active {
            outline: none;
        }
    }
}
#sidebarConnector{
	z-index: 100;
}
.initiative-header {
    position: relative;
    padding: $grid-gutter-width/2;
    padding-bottom: 0;
    .page-header {
        margin: 7px 0 0;
    }
    .btn {
        position: absolute;
        top: 10px;
        right: 5px;

        + .btn {
        	right: $grid-gutter-width + 5;
        }
    }
}

.initiative-body {
        padding: $grid-gutter-width/2;
    .logo {
        width: 45px;
        float: left;
        margin-right: 6px;
    }
    .h4 {
        margin: 0;
        small {
            display: block;
        }
    }
    .list-group-item {
        padding: 9px 0 20px;
        margin: 0 15px;
    }
    .btn-block {
    	padding: 8px 3px;
    }
}

.sidebar-connector {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -220px;
    width: 100%;
    z-index: 1001;
    opacity: 1;
    background-color: #fff;
    // .lingap-header {
    //     position: relative;
    //     padding: $grid-gutter-width/2;
    //     padding-bottom: 0;
    //     .page-header {
    //         margin: 7px 0 0;
    //     }
    //     .btn {
    //         position: absolute;
    //         top: 5px;
    //         right: 5px;
    //     }
    // }
    .lingap-body {
        position: relative;
        padding: $grid-gutter-width/2;
        background-color: #fff;
        .popup-message {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: white;
            z-index: 10;
            padding: $grid-gutter-width;
        }
        .donate-note {
            font-size: 11px;
            padding: 0 10px 0 10px;
        }
        h4 {
            color: $brand-orange;
        }
        .donate-form {
            margin: 0;
            padding: 0;
            list-style-type: none;
            @include clearfix();
            width: auto;
            li {
                display: table-cell;
                width: 1%;
                text-align: center;
                padding-top: 20px;
                vertical-align: top;
                .custom-input[type="radio"]:not(:checked) + label, .custom-input[type="radio"]:checked + label {
                    font-family: $font-family-bold;
                    color: $brand-gray;
                }
                .custom-input[type="radio"]:not(:checked) + label:before,
                .custom-input[type="radio"]:checked + label:before {
                    left: calc(50% - 9px);
                    top: -20px;
                }
                .custom-input[type="radio"]:not(:checked) + label,
                .custom-input[type="radio"]:checked + label {
                    padding: 0;
                }
                .custom-input[type="radio"]:not(:checked) + label:after,
                .custom-input[type="radio"]:checked + label:after {
                    top: -23px;
                    left: calc(50% - 7px);
                }
            }
        }
        .custom-amount {
            position: relative;
            display: inline-block;
            margin-top: $grid-gutter-width;
            padding-top: 25px;
            border-top: 1px solid $gray-lighter;
            text-align: center;
            width: 100%;
            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% - 15px);
                margin: -15px auto 10px auto;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                float: left;
                clear: both;
                content: "OR";
                text-align: center;
                background-color: $brand-primary;
                color: #fff;
                font-size: 12px;
                line-height: 30px;
            }
        }

        .actions {
        	margin-top: $grid-gutter-width/2;
        	.btn + .btn {
        		margin-top: 5px;
        	}
        }
    }
    .lingap-footer {
        padding: $grid-gutter-width/2;
        border-top: 1px solid $gray-lighter;
    }
}


.lingap-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: white;
	font-size: 0.9em;
	overflow-y: auto;
	padding-bottom: 45px;

	.btn {
		position: fixed;
		z-index: 10;
		border-radius: 0;
		bottom: 0;
	}
}