$avatar-dim: (98px)/2;
$badge-dim: (146px)/2;
$arc-height: (190px)/2;

.lmvp-badge {
	position: relative;
	z-index: 3;
	width: $badge-dim;
	height: $badge-dim;
	max-width: $badge-dim;
	@include border-radius($badge-dim);

	.img-container {
		width: $avatar-dim;
		height: $avatar-dim;
		max-width: $avatar-dim;
		display: block;
		@include border-radius($avatar-dim);
		position: absolute;
		left: calc(50% - #{$avatar-dim/2});
		left: -webkit-calc(50% - #{$avatar-dim/2});
		left: -moz-calc(50% - #{$avatar-dim/2});
		top: calc(50% - #{$avatar-dim/2});
		top: -webkit-calc(50% - #{$avatar-dim/2});
		top: -moz-calc(50% - #{$avatar-dim/2});
		z-index: 3;

		border: 2px solid #ffe7a4;
		@include box-shadow(0 0 0 2px #ffc818);

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			@include border-radius($avatar-dim);
			position: relative;
		}

		&:before {
			position: absolute;
			content: '';
		    width: 240px;
		    height: 184px;
		    top: -140%;
		    right: 0;
		    z-index: 0;
		    left: -190%;
		    z-index: 0;
		    @include opacity(0.8);
			background: url(../img/lmvp/lmvp-badge-shine.png) no-repeat center center;
			background-size: cover;
		}

	}

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}

	&:after {
		background-color: #ffebb3;
		z-index: 1;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border-radius: ($badge-dim*2) - 50;
	}

	&:before {
		background: url(../img/lmvp/lmvp-badge.svg) no-repeat center center;
		background-size: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
}

.widget-lmvp {
	clear: both;
	display: block;
	width: 100%;
	padding: 10px;
	z-index: 1;
	position: relative;
	@include user-select(none);
	.body {
		background: url(../img/lmvp/lmvp-body-bg.png) no-repeat center center;
		background-size: cover;
		@include box-shadow(0 1px 1px rgba(0,0,0,0.1));
		position: relative;

		&:before {
			position: absolute;
			content: '';
			background: url(../img/lmvp/lmvp-arc-bg.svg) no-repeat center bottom;
			background-size: cover;
			height: $arc-height;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}

		.btn-view-all {
			position: absolute;
			z-index: 5;
			top: 3px;
			right: 3px;
			line-height: 1;
			padding: 2px;
			padding-top: 0;
			@include opacity(0.75);
			@include transition(opacity .3s $easing);

			> span {
				display: block;
				font-size: 65%;
				text-transform: uppercase;
			}
		}

		.btn-nav-mvp {
			position: absolute;
			z-index: 5;
			bottom: 3px;
			right: 3px;
			text-align: right;

			.btn { padding: 0 9px; }
		}

		.caption {
			z-index: 0;
			position: relative;
			font-size: 1em;
			@include border-radius(2px);
			border: 1px solid #e8e8e8;
			border-bottom: 1px solid #dedede;
			padding: ($arc-height + ($badge-dim/2) - 15) 5px 25px 5px;

			*{ 
				display: block; 
				clear: both; 
				width: 100%; 
				text-align: center;
			}
			.name {
				font-family: 'Helvetica', 'Arial', sans-serif;
				font-style: italic;
				font-weight: bold;

				&:before {
					display: block;
					clear: both;
					content: '';
					background: url(../img/lmvp/lmvp-xs-logo.png) no-repeat center center;
					background-size: 100%;
					width: (90px) / 2;
					height: (50px) / 2;
					margin: auto;
				}
			}
			.account {
				font-family: 'Helvetica', 'Arial', sans-serif;
				font-style: italic;
				font-weight: normal;
				font-size: 75%;
			}
		}

		.lmvp-badge {
			position: absolute;
			left: calc(50% - #{$badge-dim/2});
			left: -webkit-calc(50% - #{$badge-dim/2});
			left: -moz-calc(50% - #{$badge-dim/2});
			top: calc(#{$arc-height} -  #{($badge-dim) - 20 });
			top: -webkit-calc(#{$arc-height} -  #{($badge-dim) - 20 });
			top: -moz-calc(#{$arc-height} -  #{($badge-dim) - 20 });
		}
	}

	&:hover .btn-view-all {
		@include opacity(1);
		@include transition(opacity .3s $easing);
	}
}

.lmvp-bg-title {
	display: block;
	position: absolute;
	top: 5px;
	left: 2px;
	background: url(../img/lmvp/lmvp-title.svg) no-repeat center top;
	background-size: contain;
	width: 73px;
	height: 26px;
	z-index: 1;
	@include user-select(none);
	color: transparent;

	[data-lmvp-year] {
		color: white !important;
		font-size: 90%;
		font-family: Helvetica, Arial, sans-serif;
		position: absolute;
		top: -5px;
		left: 19px;
	}
}


.modal-lmvp {
	$shade-width: 150px;

	.modal-content { position: relative; }
	.modal-lmvp-header {
		position: relative;
		clear: both;
		height: 65px;

		.close {
			position: absolute;
			top: 20px;
			right: 25px;
			color: white;
		}
	}

	.modal-lmvp-list {
		$arc-height-xs: 50px;
		padding-top: $arc-height-xs/2;
		// padding-left: $shade-width;
		position: relative;
		@include clearfix();
		.col {
			position: relative;
			float: left;
			display: block;
			margin-bottom: $grid-gutter-width/2;
			width: 100%;
		}
		.widget-lmvp {
			.body {
				&:before {
					background-image: none;
					background-color: $brand-turquoise;
					top: 38px;
					height: $arc-height-xs/2;
					@include border-radius(0);
				}
				.lmvp-badge {
					top: calc(#{$arc-height-xs} -  #{$badge-dim / 2});
					top: -webkit-calc(#{$arc-height-xs} -  #{$badge-dim / 2});
					top: -moz-calc(#{$arc-height-xs} -  #{$badge-dim / 2});
				}
			}
		}
		figcaption.caption {
			padding: ($arc-height-xs + ($badge-dim - 35)) 5px ($grid-gutter-width/2) 5px;
		}
		
		.owl-page {
			position: relative;

			span {
				width: 16px;
				height: 16px;
				background-color: $gray-light;			
			}

			&.active {
				position: relative;
				span {
					background-color: #ffc32c;
					&:before {
						content: '';
						display: block;
						background-color: $gray-darker;
						width: 8px;
						height: 8px;
						position: absolute;
						top: 9px;
						left: 11px;
						@include opacity(1);
						@include border-radius(8px);
						@include transition(opacity .3s $easing);
					}
				}
			}
		}
	}
}

.modal-lmvp-carousel-nav {
	padding-left: 0;
	margin: 0;
	text-align: center;
	padding: $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width;
	margin-top: -$grid-gutter-width/2;

	li {
		$br: 16px;
		display: inline-block;
		text-indent: -999px;
		width: $br;
		height: $br;
		margin: 0 5px;
		@include border-radius($br);
		background-color: $gray-lighter;
		color: transparent;
		font-size: 1px;
		position: relative;

		&:hover {
			cursor: pointer;
			background-color: $gray;
		}

		&:before {
			content: '';
			display: block;
			background-color: $gray-darker;
			width: 8px;
			height: 8px;
			position: absolute;
			top: 4px;
			left: 4px;
			@include opacity(0);
			@include border-radius(8px);
			@include transition(opacity .3s $easing);
		}

		&.active {
			background-color: #ffc32c;
			&:before {
				background-color: $gray-dark;
				@include opacity(1);
				@include transition(opacity .3s $easing);
			}
		}
	}
}

.lmvp-logo-badge {
	$badge-xs-dim: 36px;
	position: relative;
	width: $badge-xs-dim;
	height: $badge-xs-dim;
	background-color: white;
	@include border-radius($badge-xs-dim);
	@include box-shadow(0 0 1px rgba(0,0,0,0.2));

	&:before, &:after {
		position: absolute;
		display: block;
		content: '';
	}

	&:before {
		width: $badge-xs-dim;
		height: $badge-xs-dim;
		top: 0;
		left: 0;
		background: url(../img/lmvp/lmvp-badge.svg) no-repeat center center;
		background-size: 100%;
	}
	&:after {
		width: 28px;
		height: 28px;
		background: url(../img/lmvp/lmvp-xs-logo.png) no-repeat center center;
		background-size: contain;
		background-color: white;
	    border: 1px solid #f9bf2d;
	    @include border-radius(30px);
	    top: 4px;
	    left: 4px;
	}
}

// From Portfolio
.profile-avatar .avatar {
	position: relative;
	.lmvp-logo-badge {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.avatar-menu .avatar ~ .lmvp-logo-badge {
	position: absolute;
	bottom: 0;
	right: $grid-gutter-width/2;
	@include transform(scale(0.5));
}