$popup-bg-color: #524F98;

.popup-birthday {
	background-color: $popup-bg-color;
	background-image: url(../img/greetings/bg-food.png);
	background-repeat: repeat;
	background-size: 150px 150px;
	border-radius: 5px;
	padding: $grid-gutter-width;
	position: fixed;
	text-align: center;
	border: 3px solid darken($popup-bg-color, 15%);
	@include box-shadow(0 3px 0 rgba(0,0,0,0.2));

	@media (min-width: $screen-sm-min) {
		width: 600px;
		left: calc(50% - 300px);
		left: -webkit-calc(50% - 300px);
		left: -moz-calc(50% - 300px);
	}	
	@media (min-width: $screen-md-min) {
		width: 700px;
		left: calc(50% - 350px);
		left: -webkit-calc(50% - 350px);
		left: -moz-calc(50% - 350px);	
	}

	z-index: $zindex-modal + 1;
	top: calc(50% - 200px);
	top: -webkit-calc(50% - 200px);
	top: -moz-calc(50% - 200px);

	figure img{
		position: relative;
		float: left;
		display: block;
		height: auto;
		padding: $grid-gutter-width;

		&:first-child {
			width: percentage(8/15);
		}
		&:last-child {
			width: percentage(7/15);
			margin-left: -$grid-gutter-width;
			margin-top: 40px;
		}
	}

	.counter {
		color: lighten(#534fc6, 30%);
		display: inline-block;
		clear: both;
		width: 100%;
		font-size: 1em;
		@include clearfix();
	}

	.btn-close {
		position: absolute;
		top: $grid-gutter-width/2;
		right: $grid-gutter-width/2;
		color: white;
	}

	* {
		z-index: 2;
		position: relative;
	}

	&:before, &:after {
		background-color: $popup-bg-color;
		display: block;
		content: '';
		position: absolute;
		background-color: darken($popup-bg-color, 20%);
		width: 8px;
		z-index: 1;
		bottom: 100%;
	}

	&:before {
		left: $grid-gutter-width*2;
		height: 150%;
	}

	&:after {
		right: $grid-gutter-width*2;
		height: 150%;
	}
}

.popup-backdrop {
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	z-index: $zindex-modal;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.celebrant-first-name {
	position: absolute;
	top: $grid-gutter-width * 2;
	left: 53%;
	color: #FFF600;
	font-size: 1.4em;
	font-family: Georgia, Times New Roman, sans-serif;
	font-style: italic;
	font-weight: bold;

	&:before {
		content: 'Hello,';
		display: inline-block;
		margin-right: 7px;
	}
}

#confetti {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: $zindex-modal + 10;
	background-color: transparent;
	pointer-events: none;
}

.popup-birthday-sup {
	border: 1px solid darken($popup-bg-color, 15%);
	display: block;
	position: fixed;
	z-index: $zindex-modal + 1;
	width: 500px;
	height: 100px;
	padding: 0px;
	right: -600px;
	top: calc(100% - 100px);

		&:before {
			display: block;
			position: absolute;
			z-index: $zindex-modal;
			top: -5px;
			left: 15px;
			width: 90px;
			height: 90px;
			content: " ";
			border-radius: 50%;
			@include box-shadow(0px 0px 200px 20px rgba(0,0,0,0.5))
		}

		&:after {
			display: block;
			position: absolute;
			z-index: $zindex-modal;
			top: 20px;
			left: 20;
			width: 460px;
			height: 90px;
			content: " ";
			border-radius: 20%;
			@include box-shadow(0px 0px 150px 10px rgba(0,0,0,0.5))
		}

		.popup-sup-background {
				display: block;
				position: relative;
				z-index: $zindex-modal + 2;
				background-color: $popup-bg-color;
				background-image: url(../img/greetings/bg-food.png);
				background-repeat: repeat;
				background-size: 100px 100px;
				color: #fff;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				margin: 0;
				padding: 10px;

				img {
					width: 180px;
					margin: -60px 10px auto -40px;
					float: left;
					opacity: 1;
					z-index: $zindex-modal + 3;
				}

				i {
					position: absolute;
					top: 0px;
					right: 10px;

				}

				h4 {
					margin: 10px auto 5px auto;
					line-height: 100%;
			
					&:before {
						content: "Hello, ";
					}

				p {
					line-height: 100%;
					margin-bottom: 0px;
				}
		}


		span {
			display: block;
			width: 100%;
			text-align: right;
			line-height: 100%;
			margin-top: -15px;

			
			a {
				color: #FFF600;
			}
			
		}


	}
}

// end of slide from right