// Import Core variables and mixins
@import "assets-variables.scss";

.panel-portfolio {
	@include clearfix();
	position: relative;
	background-color: lighten($gray-lighter,3%);

	.profile-side {
		@include clearfix();
		// padding: $grid-gutter-width/2;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		text-align: center;
		display: block;
		position: relative;
		padding: $grid-gutter-width/2;
		background: url(../img/portfolio-header-bg.png) no-repeat center center;
		background-size: cover;

		@media (max-width: $screen-md-max) {
			width: 100%;	
		}
		@media (min-width: $screen-lg-min) {
			width: 100%;	
		}
		@media (min-width: 1441px) {
			width: 25%;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			border-right: 1px solid #d8d8d8;
			border-top-left-radius: $border-radius-base;
			border-bottom-left-radius: $border-radius-base;
		}

		.profile-avatar {
			display: block;
			padding-top: $grid-gutter-width/2;
			padding-bottom: $grid-gutter-width/2;

			.profile-name {
				margin-top: $grid-gutter-width/2;
				@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
					font-size: 20px;
				}
				@media (min-width: 1441) {
					font-size: 22px;
				}
			}
		}

		.profile-metadata {
			display: block;
			float: left;
			padding: $grid-gutter-width/2;

			.profile-name * {
				display: block;
				margin-top: 0;
			}
		}
	}

	.profile-body {
		@media (max-width: $screen-md-max) {
			width: 100%;	
		}
		@media (min-width: $screen-lg-min) {
			width: 100%;	
		}
		@media (min-width: 1441px) {
			width: 100%;
			padding-left: 25%;
		}

		@include clearfix();
		@include border-radius($border-radius-base);
		display: block;
		position: relative;
		background-color: white;
	}

	.profile-tabs {

		@include clearfix();
		border-radius: 0;
		background-color: white;
		border-top-right-radius: $border-radius-base;

		> .nav-tabs-portfolio {
			text-align: center;
			width: 100%;
			> li {
				display: table-cell;
				// float: left;
				position: relative;
				// width: percentage(1/5);
				width: 1%;

				&.active > a {
					color: white;
					background-color: $gray-dark;
					border-bottom: 1px solid $gray-dark;

					&:hover {
						background-color: $gray-dark;
						color: white;
					}
				}

				> a {
					@media (max-width: $screen-md-max) {
						padding: $grid-gutter-width/2 10px;
						font-size: 0.8em;
					}
					@media (min-width: $screen-lg-min) {
						padding: 25px 10px;
						font-size: 0.9em;
					}

					color: $gray-dark;
					line-height: 1;
					border-bottom: 1px solid #e3e3e3;

					> span{
						display: block;
						clear: both;
						text-align: center;
						line-height: 1;
						margin-top: 5px;
						@media (max-width: $screen-xs-max) {
							display: none;
							font-size: 0.8em;
						}
						@media (min-width: $screen-sm-min) {
							font-size: 0.8em;
						}
						@media (min-width: $screen-md-min) {
							font-size: 0.9em;
						}
						@media (min-width: $screen-lg-min) {
							font-size: 0.9em;
						}
					}
					> i { 
						@media (max-width: $screen-xs-max) {
							font-size: 1.8em;
						}
						@media (min-width: $screen-sm-min) {
							font-size: 2.2em;
						}
						@media (min-width: $screen-md-min) {
							font-size: 2.4em;
						}
						@media (min-width: $screen-lg-min) {
							font-size: 2.8em;
						}
					}

					&:hover {
						background-color: $gray-lighter;
					}
				}

			}
		}
	}

}

.tab-content-profile {
	padding: $grid-gutter-width/2;
	min-height: 350px;
}

// 
// Assessment Summary
// --------------------------------------------------
// 
$amber:  #F7CA04;
$green: #058440;
$maroon: #830300;

.list-roles {
	margin-bottom: 0;
	> .list-group-item {
		> .accordion-nav-header {
			> .role-score {
				font-size: 1.2em;
				padding: 5px 8px;
				margin-left: -$grid-gutter-width/2;
				margin-right: 5px;
				color: white;
				background-color: $brand-blue;
				display: inline-block;
				border-radius: $border-radius-base;
				@include transition(background-color 0.3s $easing);

				&:hover {
					background-color: $brand-orange;
					cursor: pointer;
					@include transition(background-color 0.3s $easing);
				}
			}

			> .role-title {
				font-size: 1.4em;
			}
		}

		> .accordion-menu-content {
			.well {
				margin-bottom: 0;
			}
		}
	}
}

.list-competencies {
	margin-bottom: 0;
	> .list-group-item {
		padding: 0;

		&.open {
			.accordion-nav-header {
				border-bottom-right-radius: 0;
				box-shadow: none;
			}
			.well-white {
				border-left: 5px solid lighten($gray,20%);
				border-bottom-left-radius: 0;
				border-bottom-right-radius: $border-radius-base;
			}
		}

		> .accordion-nav-header {
			border: 1px solid #e3e3e3;
			border-radius: 0;
			border-top-left-radius: 0;
			background-color: white;
			border-left: 5px solid $gray;
			border-top: 5px;
			border-bottom: 5px;
			border-top-right-radius: 3px;
			border-right: 0;
			border-bottom-right-radius: 3px;
			@include box-shadow(0 1px 1px rgba(0,0,0,0.2));

			> .role-score {
				font-size: 1.2em;
				padding: 5px 8px;
				margin-left: -$grid-gutter-width/2;
				margin-right: 5px;
				color: white;
				background-color: $brand-blue;
				display: inline-block;
				border-radius: $border-radius-base;
				@include transition(background-color 0.3s $easing);

				&:hover {
					background-color: $brand-orange;
					cursor: pointer;
					@include transition(background-color 0.3s $easing);
				}
			}

			> .role-title {
				font-size: 1.4em;
			}
		}

		> .accordion-menu-content {
			.well-white {
				margin-bottom: 0;
				padding: $grid-gutter-width/2;
				background-color: white;	
			}
			.list-questions {
				margin-left: 0;
				padding-left: 25px;
				li {
					margin-bottom: 10px;
				}
			}
		}
	}
}

// Status colors
.list-competencies {
	.accordion-menu-item {
		// Functional competency color code
		&.code-orange { 
			border-left: 5px solid #E43939 !important;
		}
		&.code-2 { 
			border-left: 5px solid #E43939 !important;
		}
		&.code-3 { 
			border-left: 5px solid #E43939 !important;
		}
		&.code-4 { 
			border-left: 5px solid #E43939 !important;
		}
	}
}

.center-score {
	margin-top: $grid-gutter-width/2;
	margin-left: -webkit-calc(50% - 30px);
	margin-left: -moz-calc(50% - 30px);
	margin-left: calc(50% - 30px);
}

.capital {
	display: inline-block;
	&:first-letter {
		text-transform: uppercase;
	}
}

.list-questions {
	margin-left: 0;
	padding-left: $grid-gutter-width/2;
	list-style-type: decimal;
	li {
		list-style-type: decimal;
		margin-bottom: 10px;
	}
}

.list-competencies-inline-legend {
	margin-top: 5px;
	&:before {
	    content: 'LEGEND';
	    display: inline-block;
	    margin-right: 5px;
	    font-size: 12px;
	    font-weight: bold;
	    font-family: Arial;
	    margin-left: 5px;
	    color: #666;
	}

	li {
	    color: white;
	    font-size: 0.8em;
	    border-radius: 15px;
	    padding: 2px 5px;
	    border: 1px so;
	    font-family: Helvetica, Arial,sans-serif;

		&.status-amber {
			background-color: $amber;
		}
		&.status-green {
			background-color: $green;	
		}
		&.status-maroon {
			background-color: $maroon;
		}	
	}
}

// .list-competencies-inline {
// 	list-style-type: none;
// 	margin-left: 0;
// 	padding-left: 0;
// 	@include clearfix();

// 	> li {
// 		float: left;
// 		margin-right: 5px;
// 		margin-bottom: 8px;
// 		padding: 5px 8px;
// 		font-size: 0.85em;
// 		position: relative;
// 		border-left: 8px solid $gray;
// 		border-radius: 1px;
// 		background-color: #EFEFEF;
// 		@include box-shadow(0 1px 1px rgba(0,0,0,0.3));

// 		&:first-letter {
// 			text-transform: uppercase;
// 		}

// 		&:last-child {
// 			margin-right: 0;
// 		}

// 		&:hover {
// 			cursor: pointer;
// 			background-color: darken(#EFEFEF, 3%);
// 		}

// 		&.status-amber {
// 			border-color: $amber;
// 		}
// 		&.status-green {
// 			border-color: $green;	
// 		}
// 		&.status-maroon {
// 			border-color: $maroon;
// 		}
// 	}
// }

.preferred-role-item {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: left;

	@media (max-width: $screen-xs-max) {
		width: percentage(5/5);
	}
	@media (min-width: $screen-sm-min) {
		width: percentage(2.5/5);
	}
	@media (min-width: $screen-md-min) {
		width: percentage(2.5/5);
	}
	@media (min-width: $screen-lg-min) {
		width: percentage(2.5/5);
	}

	.role-score {
		background-color: $brand-blue;
		color: white;
		font-size: 1.4em;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
}

.list-competencies-inline {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	@include clearfix();

	> li {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 8px 10px;
		position: relative;
		border-left: 8px solid $gray;
		border-radius: 1px;
		background-color: #EFEFEF;
		@include box-shadow(0 1px 2px rgba(0,0,0,0.4));

		&:first-letter {
			text-transform: uppercase;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			cursor: pointer;
			background-color: darken(#EFEFEF, 3%);
		}

		&.status-amber {
			border-color: $amber;
		}
		&.status-green {
			border-color: $green;	
		}
		&.status-maroon {
			border-color: $maroon;
		}
	}
}


.u-drive-logo, .comet-logo { width: 150px; margin: auto; }

.panel-roster {
	display: block;
	color: $text-color;
	.media-heading {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.media-subheading {
		margin-top: 0;
		margin-bottom: 0;
	}
	.panel-body {
		border: 1px solid #e3e3e3;
	}

	@include clearfix();
}

// .movement-group {
// 	display: inline-block;
// 	float: left;
// 	width: auto;
// 	.movement-meta-data {
// 		display: table;
// 		@include clearfix();
// 	}
// 	.movement-item {
// 		display: table;
// 		.movement-from, .movement-to {
// 			display: table-cell;
// 			width: 1%;
// 			text-align: center;
// 		}

// 		.movement-to {
// 			&:before {
// 				$dimension: 100px;
// 				display: block;
// 				content: '';
// 				background: url(../img/arrow.png) no-repeat center center transparent;
// 			    width: 30px;
// 			    height: 27.5px;
// 			    background-size: 30px;
// 			    position: absolute;
// 			    margin-left: -20px;
// 			    margin-top: 15px;
// 			}
// 		}
// 	}
// }

.table-movement {
	tbody > tr > td:empty {
		content:'No data found';
		text-transform: uppercase;
		font-size: 0.9em;
		text-align: center;
		color: $brand-danger;
	}
}


// My Team
.my-team-item  {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: left;

	.my-team-item-menu {
		position: absolute;
		top: 5px;
		right: 10px;
		z-index: 1;
	}

	> .thumbnail {
		@include transition-property(none);
		@include clearfix();
		padding: $thumbnail-padding + 6;

		hr { margin: 0; }


		.my-team-item-avatar {
			text-align: center;
			position: relative;
			width: 60px;
			float: left;
		}

		.my-team-item-info {
			width: -webkit-calc(100% - 60px);
			width: -moz-calc(100% - 60px);
			width: calc(100% - 60px);

			float: left;
			position: relative;
		    padding-left: 15px;
		    padding-top: 15px;
		    padding-right: 15px;
		}

		.my-team-item-name,.my-team-item-post {
			width: 100%;
			display: inline-block;
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
		}

		.my-team-item-post {
			color: $text-muted;
		}

		.my-team-item-metadata {
			color: $brand-primary;
			span { color: inherit; }
			span + span {
				margin-left: 10px;
			}
		}
	}

	&:hover .thumbnail {
		padding: $thumbnail-padding + 6 - 1;
		@include transition-property(none);
		border: 2px solid $brand-primary;
	}

	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
	@media (min-width: $screen-sm-min) {
		width: percentage(1/2);
	}
	@media (min-width: $screen-md-min) {
		width: percentage(2/4);
	}
	@media (min-width: $screen-lg-min) {
		width: percentage(2/4);
	}
}

.btn-group-breadcrumb-portfolio {
	.btn {
		background-image: none;
		text-shadow: none;
		padding-left: 20px;
		border-color: $btn-default-border;
		background-color: $btn-default-bg;
		color: $text-color;
		@include box-shadow(none);

		> span {
			display: block;
			max-width: 120px;
			float: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:before, &:hover:before, &:active:before, &:focus:before {
			border-left-color: darken($btn-default-bg, 2%);
			@include transition (border-left-color 0.3s $easing);
		}

		&:hover, &:active, &:focus {
			background-color: darken($btn-default-bg, 2%);
		}

		.btn-group:first-child > &:first-child {
			padding-left: $padding-small-horizontal;	
		}
	}

	> .btn-group , > .btn {
		&:after, &:before {
		    width: 0;
		    height: 0;
		    border-style: solid;
		    display: block;
		    content: '';
		    position: absolute;
		}
	}

	> .btn-group {
		&.open .dropdown-toggle {
			@include box-shadow(none);
			background-image: none;

			&:before, &:hover:before, &:active:before, &:focus:before {
				border-left-color: darken($btn-default-bg, 2%);
				@include transition (border-left-color 0.3s $easing);
			}
		}

		&:after {
		    border-color: transparent transparent transparent $btn-default-border;
		    top: 0;
		    bottom: 0;
		    border-width: 16px 0 16px 12px;
		    left: -webkit-calc(100% - 1px);
		    left: -moz-calc(100% - 1px);
		    left: calc(100% - 1px);
		    z-index: 20;
		}
		&:before {
			border-width: 15px 0 15px 11px;
			border-color: transparent transparent transparent $btn-default-bg;
			position: absolute;
			top: 1px;
			left: -webkit-calc(100% - 1px);
			left: -moz-calc(100% - 1px);
			left: calc(100% - 1px);

			z-index: 21;
			bottom: 1px;
			@include transition (border-left-color 0.3s $easing);
		}

		&:hover:before, &:active:before {
			border-left-color: darken($btn-default-bg, 2%);
			@include transition (border-left-color 0.3s $easing);
		}
	}

	> .btn {

		&:after {
		    border-color: transparent transparent transparent $btn-default-border;
		    top: -1px;
		    left: 100%;
		    border-width: 16px 0 16px 13px;
		    z-index: 20;
		}
		&:before {
			border-width: 15px 0 15px 12px;
			border-color: transparent transparent transparent $btn-default-bg;
			position: absolute;
			top: 0;
			left: 100%;
			z-index: 21;
			@include transition (border-left-color 0.3s $easing);
		}
	}
}

.breadcrumb-portfolio {
	margin: 10px 0;
	padding: 0;
	padding-left: 0;
}

// Trainings
.list-training-main {
	padding-right: $grid-gutter-width/2;
	@include calc-sub-two-values(width, 100%, 130px);
}
.list-training-quicklinks {
	width: 130px;
}
.list-trainings {
	width: 100%;
	padding: 0;
	tr {
		position: relative;
		&:last-child { border-bottom: none; }

		td.training-data{
			border-bottom: 1px dashed #dcdcdc;
			padding: 10px 0;

			ul {
				padding: 0;
				margin: 0;
				> li {
					display: inline-block;
					padding-left: $grid-gutter-width/2;
					padding-right: $grid-gutter-width/2;
					border-right: 1px solid $gray-lighter;

					* { display: block; clear: both; }
					small { font-size: 10px; }

					&:first-child { padding-left: 0; }
					&:last-child { border-right: none; }
				}
			}

			.training-status {
				font-size: 11px;
				&.approved { color: $brand-success; .md:before { content: '\f32f'; } }
				&.declined { color: $brand-danger;  .md:before { content: '\f330'; } }
				&.pending { color: $text-color;  .md:before { content: '\f332'; } }
			}

			// ul.training-indicator {
			// 	position: absolute;
			// 	padding: 5px;
			// 	border-right: 1px dashed #dcdcdc;
			// 	width: $spacing;
			// 	top: 5px;
			// 	left: 0;
			// 	bottom: 5px;

			// 	li {
			// 		color: $text-muted;
			// 		display: block;
			// 		position: relative;
			// 		line-height: 1;
			// 		padding: 3px 0;
			// 		.md { font-size: 1.15em; }
			// 		&.approved > .md:before { content: '\f32f'; }
			// 		&.declined > .md:before { content: '\f330'; }
			// 		&.pending > .md:before { content: '\f273'; }
			// 	}
			// }

			&:hover {
				.training-indicator > li { 
					
					&.approved {  }
					&.declined {  }
				}
			}
		}
	}
}

// Helpers
.h-view {
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.7em;
    background-color: $gray-lighter;
}