// Import Core variables and mixins
@import "assets-variables.scss";

.app-timer {
	.modal-body {
		background-color: $gray-lighter;
		border-bottom-left-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
	}

	.timer-options { width: 100%; }

	// Toggle Visibility of elements
	.stop-timer { display: none; }
	.start-timer { display: table; }

	&.ticking {
		.stop-timer { display: inline-block; }
		.start-timer { display: none; }
	}

	.timer-unit-time {
		display: block;
		clear: both;
		position: relative;
		font-family: $font-family-alt;
		margin-bottom: -10px;

		.unit-hours,
		.unit-minutes,
		.unit-seconds {
			display: inline-block;
			font-size: 6.2em;
		}

		.unit-seconds {
			font-size: 30px;
		}

		.unit-divider {
			display: inline-block;
			margin-left: -5px;
			margin-right: 5px;
			height: 33px;

			&:before, &:after {
				display: block;
				position: relative;
				border-radius: 15px;
				width: 8px;
				height: 8px;
				content: '';
				background-color: #333;
			}

			&:before {
				top: -5px;
			}

			&:after {
				bottom: -5px;
			}
		}
	}

	//
	.minimize { display: none; }
	.fullscreen { display: block; }

	&.fullscreen {
		.minimize { display: block; }
		.fullscreen { display: none; }

		.timer-options {
			min-width: 400px;
			max-width: 600px;
			margin: auto auto;
		}

		.modal-dialog,
		.modal-content {
			position: fixed;
			top: 0;
			bottom: 0;
			margin: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: 0;
			background-color: $gray-lighter;
		}

		.modal-content {
			display: flex;
			align-items: center;
		}

		.modal-header-toolbar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		.modal-body { flex: 1; }

		.timer-unit-time {

			.unit-hours,
			.unit-minutes,
			.unit-seconds {
				font-size: 18em;
			}

			.unit-seconds {
				font-size: 10em;
			}

			.unit-divider {
				display: inline-block;
				margin-left: -15px;
				margin-right: 15px;
				height: 100px;

				&:before, &:after {
					display: block;
					position: relative;
					border-radius: 20px;
					width: 20px;
					height: 20px;
					content: '';
				}

				&:before {
					top: -20px;
				}

				&:after {
					bottom: -20px;
				}
			}
		}
	}
}