$widget-color-theme: $gray;
$widget-spacing: 10px;

.widget-trks {
	display: block;
	height: auto;
	background-color: $widget-color-theme;
	color: white;
	padding-top: $grid-gutter-width + 5;
	padding-bottom: $widget-spacing;
	position: relative;
	border-bottom: 1px solid #e3e3e3;
	@include transition (background-color 0.3s $easing);
	clear: both;
	z-index: 1;

	&:before {
		display: block;
		content: '';
		position: absolute;
		height: 40px;
		top: 0;
		left: 0;
		right: 0;
		background-color: transparent;
		@include gradient-horizontal-three-colors(rgba(255,255,255,0.1), transparent, 50%, rgba(255,255,255,0.1));
		@include box-shadow(0 1px 3px rgba(0,0,0,0.08));
		border-bottom: 1px solid #656565;
	}
}

.btn-trks-info {
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 1;
	color: white;
	.btn {
		padding: 0 !important;
		line-height: 1 !important;
		text-transform: uppercase;
	}
	.btn > i, .btn > span {
		display: block;
		float: left;
	}
	.btn > i {
		font-size: 1.8em;
		margin-right: 3px;
	}
	.btn > span{
		line-height: inherit;
		font-size: 9px;
		text-align: left;
		font-family: Arial;
	}

	&:hover { color: white; }
}

.widget-trks-header {
	display: block;
	clear: both;
	position: relative;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
}

.widget-trks-body {
	display: block;
	position: relative;
	text-align: center;
	// margin-top: 20px;
	padding-left: 5px;
	padding-right: 5px;

	.trks-unit-time {
		display: block;
		clear: both;
		position: relative;
		font-family: $font-family-alt;
		line-height: 1;
		margin-top: $grid-gutter-width/2;
		@include user-select(none);
		cursor: default;

		.unit-hours,
		.unit-minutes,
		.unit-seconds {
			display: inline-block;
			font-size: 2.4em;
		}

		.unit-seconds {
			font-size: 16px;
		}

		.unit-divider {
			display: inline-block;
			margin-left: 2px;
			margin-right: 3px;
			height: 16px;

			&:before, &:after {
				display: block;
				position: relative;
				border-radius: 6px;
				width: 3px;
				height: 3px;
				content: '';
				background-color: lighten($widget-color-theme,60%);
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: -5px;
			}
		}
	}
	.trks-unit-date {
		line-height: 1;
		font-size: 12px;
		margin-bottom: $grid-gutter-width/2;
		@include user-select(none);
		cursor: default;
	}

	.trks-message {
		background-color: lighten($widget-color-theme,10%);
		padding: $widget-spacing $widget-spacing;
		margin-bottom: -$widget-spacing;
		margin-left: -($widget-spacing - 5);
		margin-right: -($widget-spacing - 5);
		color: white;
		@include transition (background-color 0.3s $easing);

		&:hover, &:focus, &:active {
			color: white;
			text-decoration: none;
		}

		&:hover {
			@include transition (background-color 0.3s $easing);
			background-color: $brand-burgundy;
		}

		display: table;

		i {
			display: table-cell;
			font-size: 1.6em;
			vertical-align: middle;
		}

		span {
			padding-left: 3px;
			display: table-cell;
			vertical-align: middle;
			font-size: 0.9em;
		}
	}

	.trks-activity {
		display: block;
		clear: both;
		margin-top: 5px;
		font-size: 11px;

		.stationID {
			&:before {
				content: ''
			}
			&:empty { display: none; }
			&:empty:before { content: ''; }
		}
	}
}

.popover-trks-info {
	color: $text-color;
	left: 100%;
	top: 5px;
	z-index: $zindex-modal;

	@media (min-width: $screen-md-min) {
		min-width: 800px;
		max-width: 900px;
	}
	@media (max-width: $screen-sm-max) {
		min-width: 400px;
		max-width: 500px;
	}

	> .arrow {
		top: 16px !important;
	}

	.popover-trks-close {
		position: absolute;
		top: 2px;
		right: 2px;
	}

	.popover-header {

		.popover-title {
			margin-bottom: 0;
		}

	}

	table > thead > tr > th,
	table > tbody > tr > td {
		text-align: center;
		vertical-align: middle;
	}
}

.trks-popover-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $zindex-modal - 1;
	background-color: transparent;
}

.btn-punch-trks {
	margin-top: 5px;
}

.credits {

	@media (max-width: $screen-xs-max) {
		display: block;
		float: left;
		position: relative;
		width: 100%;		
	}

	@media (min-width: $screen-sm-min) {
		display: table-cell;
		width: 1%;	
	}

	min-height: 1;
	border-right: 1px solid $gray-lighter;
	border-top: 1px solid $gray-lighter;
	padding: $grid-gutter-width/2;

	> *:first-child {
		text-align: center;
		font-size: 1.6em;
		font-family: $font-family-bold;
		margin-top: 0;
		padding-bottom: $grid-gutter-width/2;
		border-bottom: 1px solid #E0E0E0;
		color: #505050;
	}

	&:last-child { border-right: none; }

	ul {
		margin: 0;	
		padding: 0;
		list-style: none;

		li {
			&:first-child {
				margin-bottom: $grid-gutter-width/2;

				span { display: block; clear: both; text-align: center;}
				span:first-child {
					font-size: 3em;
					color: $brand-primary;
				}
				span:last-child { 
					display: block; 
					clear: both;
					text-align: center;
					font-size: 1.2em;
				}


				& ~ li{
					display: block;
					clear: both;
					background-color: #F5F5F5;
					margin: 2px 0;
					// border-radius: $border-radius-base;
					overflow: hidden;
					border-radius: 2px;

					span:first-child {
						font-size: 1.4em;
						display: inline-block;
						width: $grid-gutter-width*2;
						text-align: center;
						color: $gray-darker;
						padding: 3px 10px;
						background-color: #ECECEC;
						float: left;
					}

					span:first-child + span{
						padding: 5px 10px;
						display: inline-block;
						margin-top: 3px;
						float: left;
					}
				}
			}
		}
	}
}

#currentYearCredits, #previousYearCredits {
	position: relative;
	&:empty:before {
		display: block;
		text-align: center;
		margin: $grid-gutter-width auto;
		padding: $grid-gutter-width/2;
		color: $brand-danger;
		content: 'Leave credits are not displaying. There must be something going on.'
	}
}

.js_lblActivityTypeName {
    line-height: 1;
    font-size: 0.8em;
    margin-top: 5px;
}

.table-schedule {
	.nav-time-entries {
		margin-bottom: $grid-gutter-width/2;
		border-bottom: 1px solid $gray-lighter;
		li {

		}
	}
	.table {
		thead > tr > th {
			text-align: center;
		}
		tbody > tr.rest-day {
			@include user-select(none);
			> td {
				background-color: #fff3e3;
				color: #fff3e3;
				border-bottom: 1px solid #fff3e3;

				&:first-child { color: white !important; }
				&.entry-type {
					color: white !important;
					font-size: 1.2em;
					background: $brand-primary;
					border-bottom: 1px solid #ffc273;
				}
			}

			+ tr.rest-day > td {
				border-bottom: 1px solid #ddd;
			}
		}

		tbody > tr > td {
			vertical-align: middle;
			text-align: center;
		}
	}
}