.widget-weather {
	width: auto;
	z-index: 2;
	position: absolute;
	top: 5px;
	right: 80px;
	left: 10px;

	> .btn {
		color: white;
		padding: 3px;
		position: relative;

		&:active, &:focus {
			outline: none !important;
		}

		&:hover + .popover-weather-info {
			@include opacity(1);
			@include transition (opacity 0.3s $easing);
		}

	}

	.icon-weather {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		> i {
			font-size: 1.8em;
		}
	}

	.text-weather {
		display: block;
		padding-left: $grid-gutter-width;

		.description-weather {
			float: left;
			margin-top: -5px;
			text-align: left;
			display: block;
			clear: both;
			font-size: 0.8em;
			text-transform: uppercase;
			width: 80px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			position: relative;
		}


		.icon-temperature {
			margin-top: -5px;
			float: left;

			> .wi {
				font-size: 1.4em;
				display: block;
				float: right;
				margin-top: 2px;
				margin-left: 2px;
			}
		}
	}

	&.no-weather {
	    width: 120px;
	    top: 7px;
	    left: 10px;
	    font-size: 0.7em;
	    color: white;
	    text-transform: uppercase;
	}
}

.popover-weather-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: auto;
    font-family: "Nimbus Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    @include box-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.25));
    white-space: normal;

	& > .arrow {
		position: absolute;
		border-width: $popover-arrow-outer-width;

		&:after {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			border-width: $popover-arrow-width;
			content: "";
		}
	}

	// Offset the popover to account for the popover arrow
	&.bottom  { margin-top: 40px; }
	&.bottom > .arrow {
		left: $grid-gutter-width/2;
		border-top-width: 0;
		border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
		border-bottom-color: $popover-arrow-outer-color;
		top: -$popover-arrow-outer-width;
		&:after {
			content: " ";
			top: 1px;
			margin-left: -$popover-arrow-width;
			border-top-width: 0;
			border-bottom-color: $popover-arrow-color;
		}
	}

	.popover-header {
		.popover-title {
			margin-bottom: 0;
		}

	}
}

.weather-forecast {
	display: table;
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;
	.weather-forecast-item {
		display: table-cell;
		width: 1%;
		vertical-align: top;
		height: 100px;
		text-align: center;
		padding: $grid-gutter-width/2;
		border-right: 1px solid #e3e3e3;


		&:last-child {
			border: none;
		}

		> strong {
			text-transform: uppercase;
			display: block;
			clear: both;
			margin-top: 5px;

			& + span {
				font-size: 0.9em;
				line-height: 1;
				display: block;
			}
		}

		.wi {
			font-size: 2.4em;
		}
	}
}