//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include transform(translate3d(0,200%,0));
    @include transition (transform 0.3s cubic-bezier(.17,.5,0,.97));
    // @include transform-style(preserve-3d);
  }
  &.in .modal-dialog { 
    // @include translate(0, 0);
    @include transform(translate3d(0,0,0));
    @include transition (transform 0.3s cubic-bezier(.17,.5,0,.97));
    // @include transform-style(preserve-3d);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: 100%;
}

// Actual modal
.modal-content {
  position: relative;
  // background-color: $modal-content-bg;
  // border: 1px solid $modal-content-border-color;
  // border-bottom-left-radius: $border-radius-large;
  // border-bottom-right-radius: $border-radius-large;
  // border-top-left-radius: $border-radius-large + 3;
  // border-top-right-radius: $border-radius-large + 3;
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 55.2vh;
  z-index: $zindex-modal - 1;
  background-color: rgba(0,0,0,0.3);

  // Fade for backdrop
  &.fade { @include opacity(0); @include transition(opacity .5s $easing); }
  &.in { @include opacity($modal-backdrop-opacity); @include transition(opacity .5s $easing); }

  // Extend the backdrop

  &:after {
    display: block;
    content: '';
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 43.5vh;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: ($modal-title-padding - 5) $modal-title-padding;
  color: #fff;
  background-color: $gray;
  min-height: ($modal-title-padding + $modal-title-line-height);
  border-top-left-radius: $border-radius-large;
  border-top-right-radius: $border-radius-large;
}
// Close icon
.modal-header .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding * 2;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal

// Automatically set modal's width for larger viewports
.modal-dialog {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content {
  // @include box-shadow(0 -2vh 5vh rgba(95, 95, 95, 0.6));
}


// Scroll
.modal-scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px;
  padding: 10px;
  border: 1px solid lighten($gray, 40%);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

// Confirmation Box
.modal-confirm {
  .modal-body {
    text-align: center;
    padding: $grid-gutter-width;
    i.md { 
      @media (max-width: $screen-xs-max) {
        font-size: 5em;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 10em;
      }

      color: $brand-primary;
      margin-bottom: -$grid-gutter-width;
    }
    .modal-confirm-message {
      margin-bottom: $grid-gutter-width/2;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }

      @media (min-width: $screen-sm-min) {
        font-size: 22px;
      }
    }
    .btn {
      background-color: $gray-lighter;
      @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }

      @media (min-width: $screen-sm-min) {
        width: 25%;
      }
    }
  }
}