.building-row {
	display: block;
	position: absolute;
	bottom: $building-y;
	left: 0;
	right: 0;
	z-index: $building-zindex;
	@include clearfix();
}
.building-title {
	color: white;
	padding: 15px;
	margin: -5px -5px 0 -5px;
	border-top-left-radius: $border-radius-base;
	border-top-right-radius: $border-radius-base;
	text-align: left;
	background-color: $brand-blue;
	position: relative;
}

.building-set {
	display: block;
	float: left;
	position: relative;
	width: $building-set-width;
	height: $building-set-height;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	z-index: 30;

	.building-menu {
		$width: 500px;
		$height: 430px;
	    position: absolute;
	    bottom: 10%;
	    left: auto;
	    right: calc(100% - 45%);
	    right: -webkit-calc(100% - 45%);
	    right: -moz-calc(100% - 45%);
	    width: $width;
	    height: $height;
	    background-color: rgba(255,255,255,0.9);
	    display: block;
	    border-radius: $border-radius-base;
	    border: 5px solid rgba(255,255,255,0.9);
	    @include box-shadow(0 4px 0 transparentize(black, 0.8));
	    display: none;
	    z-index: $zindex-dropdown;

	    .btn-close {
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	color: lighten($brand-blue,45%);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

	    	&:hover {
	    		color: white;	
	    	}
	    	&:hover, &:active {
	    		background-color: darken($brand-blue, 10%);
	    	}
	    	&, &:hover, &:active {
	    		outline: none;
	    	}
	    }

	    .btn-skip {
	    	position: absolute;
	    	bottom: 0;
	    	right: 0;
	    	z-index: 20;
	    }

	    blockquote.professor-message {
			top: 50px;
			left: 180px;
			position: absolute;
			font-style: italic;
			width: 300px;
			height: 330px;
			overflow-y: auto;
			display: block;
			border-left: none;
			font-size: 1.2em;
			line-height: 1.2;
			padding: 0;
			vertical-align: middle;
			font-family: $font-family-alt;

			&:before,&:after {
				content: '"';
				display: inline;
				font-size: 1.4em;
				font-family: Georgia,Times,Times New Roman,serif; 
			}
			&:before { top: 0; left: 0; }
			&:after { bottom: 0; right: 0; }
	    }

	    > .building-menu-tabs {
	    	.nav > li > a:hover { cursor: pointer; }
	    	.list-group {
	    		padding-left: 150px;
	    		height: $height - ($grid-gutter-width/2) - 49*2;

				&:after {
					display: block;
					content: '';
					position: absolute;
					bottom: 0;
					height: 30px;
					left: 150px;
					right: 0;
					z-index: 1;
					@include gradient-vertical(transparent,#EFEFEF,0%,100%);
				}

	    		.list-group-item {
	    			.course-description {
	    				margin-bottom: 0;
	    				&:hover { cursor: pointer; }

	    				&.truncate {
							width: $width - $grid-gutter-width - 150px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
	    				}
	    			}

	    			&:hover .btn-enroll {
	    				@include transition(opacity .3s $easing);
						@include opacity(1);
						padding: 9px 15px 9px 250px;
						cursor: pointer;
						z-index: 1;
	    			}

	    			.btn-enroll {
	    				display: block;
	    				position: absolute;
	    				padding: 0;
	    				top: 8px;
	    				bottom: 0;
	    				right: 0;
	    				z-index: 0;
	    				@include gradient-horizontal(transparent,rgba(255,255,255,0.45),0%,80%);
	    				@include opacity(0);
	    			}
	    		}
	    	}
	    }

	    &:before {
	    	content: '';
			width: 0;
			height: 0;
			position: absolute;
			border-style: solid;
			border-width: 24px 0 24px 24px;
			left: 100%;
			bottom: 6%;
			border-color: transparent transparent transparent white;
			z-index: 1;
	    }
	}

	&:before {
		@include sprite();
		@include dim(68px, 75px); 
		@include bpos(-1830px, -1275px);
		z-index: 1;
	    bottom: -5px;
	    left: -9%;
		background-size: calc(2154px/2) auto; // size of the sprite atlas
		background-size: -moz-calc(2154px/2) auto;
		background-size: -webkit-calc(2154px/2) auto;
	}

	&:after {
		@include sprite();
		bottom: -10px;
		right: -24%;
		width: 55px;
		height: 149px;
		z-index: -1;
		background-size: auto 149px + $sprite-offset;
		background-position: 0 0;
	}

	&:hover {
		.building-name {
			@include transition(background 0.3s $easing);
			// @include gradient-horizontal-three-colors(rgba(29, 56, 101, 0.7),rgba(29, 56, 101, 0.7),50%,rgba(29, 56, 101, 0.7));
			background-color: rgba(29, 56, 101, 0.8);
		}
	}
}

.building-surroundings {
	display: block;
	float: left;
	position: relative;
	width: 500px;
	height: $building-set-height;
	background-color: transparent;
	z-index: 1;

	&.start {
		width: 900px;

		&:after, &:before {
			@include sprite();
		}

		&:after {
			bottom: 0;
			right: 82px;
			width: 402px;
			height: 197.5px;
			background-size: auto 177.5px + $sprite-offset;
			background-position: -127px 0;
		}
	}
}

.building {
	$zindex-bldg: 10;
	margin: auto;
	display: block;
	bottom: 0;
	width: auto;
	height: 100%;
	z-index: $zindex-bldg;
	border-top: 5px solid transparent;
	@include transform-origin(right bottom);
	@include transition(all .3s $easing);

	&:hover {
		cursor: pointer;
		@include transition(all .3s $easing);
	}

	&.cafe { height: 270px; margin-top: -32px; }
	&.shed { height: 248px; padding-top: 72px; }
	&.bldg-lg { height: 130%; margin-top: -71px; }
}

.building-name {
    // background-color: rgba(29, 56, 101, 1);
    @include transition(background 0.3s $easing);
    background-color: rgba(29, 56, 101, 0.3);
    // @include gradient-horizontal-three-colors(transparent,rgba(29, 56, 101, 0.5),50%,transparent);
    padding: 8px 5px;
    color: white;
    display: block;
    position: absolute;
    top: -45px;
    left: calc(50% - 125px);
    left: -webkit-calc(50% - 125px);
    left: -moz-calc(50% - 125px);
    text-align: center;
    width: 250px;
    // border-radius: $border-radius-base;
}
// Prof Sprites Small
.ua-prof {
	content: '';
	position: absolute;
    left: 53%;
    bottom: -8px;
	background: url(../img/routes/people-sprites.png);
	background-repeat: no-repeat;
	height: (204px)/2;
	display: block;
	background-size: calc(5400px / 2) calc(1427px / 2);
	background-size: -moz-calc(5400px / 2) -moz-calc(1427px / 2);
	background-size: -webkit-calc(5400px / 2) -webkit-calc(1427px / 2);
	@include opacity(0);
	display: none;
}
.building-menu.open ~ .ua-prof { @include opacity(1); display: block;}

// Mapping of Prof Sprites
.business-management ~ .ua-prof 	{ @include map-avatar(52px,-16px,-680px); }
.client-management ~ .ua-prof 		{ @include map-avatar(53px,-70px,-684px); }
.choice-management ~ .ua-prof 		{ @include map-avatar(55px,-125px,-684px); }
.change-management ~ .ua-prof 		{ @include map-avatar(45px,-186px,-680px); }
.data-analysis ~ .ua-prof 			{ @include map-avatar(72px,-236px,-678px); }
.effective-communication ~ .ua-prof { @include map-avatar(57px,-308px,-684px); }
.eq-track ~ .ua-prof 				{ @include map-avatar(58px,-367px,-679px); }
.mentoring ~ .ua-prof 				{ @include map-avatar(63px,-426px,-679px); }
.people-management ~ .ua-prof 		{ @include map-avatar(58px,-490px,-679px); }
.technical ~ .ua-prof 				{ @include map-avatar(54px,-547px,-682px); }
.strategy-formulation ~ .ua-prof 	{ @include map-avatar(49px,-601px,-678px); }
.performance-management ~ .ua-prof 	{ @include map-avatar(56px,-652px,-679px); }
.professionalism ~ .ua-prof 		{ @include map-avatar(46px,-709px,-691px); }

.workforce ~ .ua-prof 				{ @include map-avatar(57px,-762px,-682px); }
.wap-processes ~ .ua-prof 			{ @include map-avatar(55px,-762px,-682px); }

// Prof Sprites Big
.building-menu:after {
	content: '';
	position: absolute;
	background: url(../img/routes/people-sprites.png);
	background-repeat: no-repeat;
	width: (310px)/2;
	height: (636px)/2;
	display: block;
	background-size: calc(5400px / 2) calc(1427px / 2);
	background-size: -moz-calc(5400px / 2) -moz-calc(1427px / 2);
	background-size: -webkit-calc(5400px / 2) -webkit-calc(1427px / 2);
	bottom: -5px;
	left: 0;
}

// Mapping of Prof Sprites
.business-management ~ *:after 		{ @include map-avatar(310px,-16px,0); }
.client-management ~ *:after 		{ @include map-avatar(331px,-360px,0); }
.choice-management ~ *:after 		{ @include map-avatar(320px,-709px,0); }
.change-management ~ *:after 		{ @include map-avatar(282px,-1088px,0); }
.data-analysis ~ *:after 			{ @include map-avatar(370px,-1417px,0); }
.effective-communication ~ *:after 	{ @include map-avatar(310px,-1916px,0); }
.eq-track ~ *:after 				{ @include map-avatar(371px,-2238px,0); }
.mentoring ~ *:after 				{ @include map-avatar(392px,-2611px,0); }
.people-management ~ *:after 		{ @include map-avatar(349px,-3019px,0); }
.technical ~ *:after 				{ @include map-avatar(337px,-3387px,0); }
.strategy-formulation ~ *:after 	{ @include map-avatar(312px,-3718px,0); }
.performance-management ~ *:after 	{ @include map-avatar(310px,-4035px,0); }
.professionalism ~ *:after 			{ @include map-avatar(287px,-4386px,0); }

.workforce ~ *:after 				{ @include map-avatar(334px,-4705px,0); }
.wap-processes ~ *:after 			{ @include map-avatar(340px,-5047px,0); }

.large-buildings {
	.bldg-lg {
		height: 200px;
		width: 100px;
		display: block;
		background-color: transparent;
		background: url('../img/routes/far-building.png') no-repeat center center;
	}
}

.building-menu-backdrop {
	position: fixed;
	background-color: red;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: $zindex-modal + 1;
}

.building-menu-overlay {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: block;
	&:hover { cursor: pointer; }
}

