.car {
    display: block;
    width: 200px;
    height: 86px;
    z-index: $car-zindex;
    position: fixed;
    bottom: $car-y;
    left: 8%;

    &:hover, &:hover * {
        cursor: pointer;
    }

    .car-body {
        display: block;
        width: 200px;
        height: 86px;
        background: url('../img/car.png') no-repeat center center;
        background-size: cover;
        background-position: right top;

        &.car-reverse {
            @include transform(scaleX(-1) scaleY(1));

            & ~ .front-wheel { right: 9px; }
            & ~ .rear-wheel { left: 15px; }
        }
    }
    .car-wheel {
        display: block;
        background: url('../img/car.png') no-repeat top left;
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 50%;
        z-index: $car-zindex + 1;
        background-size: 262px;
        bottom: -16px;
        @include transform-origin(center);
        @include transform(rotateZ(0));

        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        -ms-transition: -ms-transform 0.5s;
        -o-transition: -o-transform 0.5s;
        transition: transform 0.5s;
    }

    .rear-wheel { left: 9px; }
    .front-wheel { right: 15px; }

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 99%;
        border-radius: 50%;
        left: -5px;
        width: 200px;
        height: 18px;
        z-index: 1;
        background-color: rgba(0,0,0,0.25);
        @include gradient-horizontal-three-colors(transparent, rgba(0,0,0,0.5), 50%, transparent);
    }

    .progress-bar-counter {
        left: 44%;
        width: 78px;
        height: 78px;

        .avatar {
            width: 72px;
            height: 72px;
            max-width: 72px;
            display: block;
            position: absolute;
            top: calc(50% - 36px);
            left: calc(50% - 36px);
            border: 4px solid white;
            border-radius: 35px;
            background: white;
        }
    }
}
