$minimap-size: 180px;
$minimap-border: 6px;
.hud {
	position: fixed;
	z-index: $hud-zindex;
}

.hud-progress-container {
	position: fixed;
	top: $navbar-height + $grid-gutter-width;
	left: 135px;
	width: 400px;
	z-index: 1;

	.route-progress-container {
		padding: 10px;
		padding-top: 1px;
		background-color: transparent;
		@include gradient-horizontal-three-colors( transparent, rgba(0,0,0,0.2), 30%, transparent );
    	border-radius: 10px;
	}

	.route-progress {
		width: 100%;
		border: 3px solid white;
		padding: 3px 5px 3px 5px;
		margin-top: 25px;
		background-color: $theme;
		display: block;
		border-radius: $grid-gutter-width/2;
		@include box-shadow(0 3px 0 rgba(0,0,0,0.2));
		z-index: 1;
		position: relative;

		.route-progress-level {
			display: block;
			width: 10%;
			height: 5px;
			background-color: #FFDB35;
			border-radius: 8px;
			@include box-shadow(inset 0 -2px 0 rgba(0,0,0,0.2));
		}

		.route-label {
			display: block;
			font-size: 0.8em;
			text-transform: uppercase;
			z-index: 2;
			bottom: calc(100% + 3px);
			bottom: -moz-calc(100% + 3px);
			bottom: -webkit-calc(100% + 3px);
			color: white;
			position: absolute;
			white-space: nowrap;
			word-wrap: break-word;
			word-break: break-word;
			overflow: hidden;
			text-overflow: ellipsis;
			width: calc(100% - 60px);
			width: -moz-calc(100% - 60px);
			width: -webkit-calc(100% - 60px);

			&:hover {
				text-overflow: none;
				overflow: visible;
				cursor: pointer;
			}
		}

		&.current {
			margin-top: 19px;
			background-color: darken($theme,15%);
			.route-progress-level { height: 8px; }
		}
	}
}

.map {
	top: $navbar-height + 10;
	right: $grid-gutter-width + 10;

	.map-menu {
		position: absolute;
		top: $grid-gutter-width/2;
		right: $grid-gutter-width*2;
		z-index: 3;
	}

	.btn-hud-menu, .btn-hud-submenu {
		border-radius: 50%;
		background-color: $theme;
		color: white;
		position: absolute;
		width: 71px;

		@include box-shadow(0 3px 0 rgba(0,0,0,0.2));
		> span { font-size: 0.8em; }
		i, span { margin: auto; display: block; clear: both; text-transform: uppercase; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18); }

		&:active, &:focus {
			outline: none;
		}
	}
	.btn-hud-menu { border: 5px solid white; }
	.btn-hud-menu, .btn-hud-submenu { z-index: 3; }

	.btn-routes, .btn-about, .btn-fast-travel { 
		border: 3px solid white; 
		background-color: $brand-primary;
		padding: 11px 5px;
		display: none;
		z-index: 1;
	}

	.btn-routes { top: 75px; right: -70px; }
	.btn-fast-travel { top: 152px; right: -70px; }
	.btn-about { top: 228px; right: -70px; }

	.minimap, .minimap-container {
		display: block;
		width: $minimap-size - ($minimap-border*2);
		height: $minimap-size - ($minimap-border*2);
		border-radius: 50%;
	}

	.minimap-pointers-a, .minimap-pointers-b {
		&:before, &:after {
			display: block;
			padding: 10px;
			font-size: 10px;
			font-family: $font-family-bold;
			position: absolute;
			background-color: $theme;
			color: white;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);
		}
	}	

	.minimap-pointers-a {
		display: block;
		position: absolute;
		top: 22px;
		right: 0;
		width: 75px;

		&:before {
		    content: 'W';
		    left: -18px;
		    border-top-left-radius: 20px;
		    border-bottom-left-radius: 20px;
		    @include box-shadow(inset 4px 0 0 rgba(0,0,0,0.2));
		    padding-top: 3px;
		    padding-bottom: 3px;
		    padding-right: 6px;
		}

		&:after {
		    content: 'E';
		    right: -26px;
		    border-top-right-radius: 20px;
		    border-bottom-right-radius: 20px;
		    @include box-shadow(inset -4px 0 0 rgba(0,0,0,0.2));
		    padding-top: 3px;
		    padding-bottom: 3px;
		    padding-left: 6px;
		}
	}

	.minimap-pointers-b {
		&:before {
		    content: 'N';
			left: calc(50% - 10px);
			left: -moz-calc(50% - 10px);
			left: -webkit-calc(50% - 10px);
			top: -29px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			padding: 7px;
			padding-bottom: 4px;
		    @include box-shadow(inset 0 4px 0 rgba(0,0,0,0.2));
		}

		&:after {
		    content: 'S';
		    left: calc(50% - 10px);
		    left: -moz-calc(50% - 10px);
		    left: -webkit-calc(50% - 10px);
		    bottom: -29px;
		    border-bottom-left-radius: 20px;
		    border-bottom-right-radius: 20px;
			padding: 7px;
			padding-top: 4px;
		    @include box-shadow(inset 0 -4px 0 rgba(0,0,0,0.2));
		}
	}

	.environment-indicator {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		border: 5px solid white;
		position: fixed;
		left: 35px;
		top: 104px;
		z-index: 2;
		@include box-shadow(0 3px 0 rgba(0, 0, 0, 0.15));

		> i.md {
			position: absolute;
			color: white;
			text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);
		}

		&:before {
			display: block;
		    content: '';
		    position: absolute;
		    width: 62px;
		    height: 32px;
		    left: 0;
		    bottom: 2px;
		    z-index: 2;
		    border-bottom-left-radius: 75px;
		    border-bottom-right-radius: 75px;
		    @include opacity(0.5);
		    @include transform(rotateZ(-45deg));
		    @include transform-origin(top);
			@include gradient-vertical-three-colors( rgba(255,255,255,0.8), rgba(255,255,255,0.5), 50%, rgba(255,255,255,0.1) );
		}
	}
}

.modal-hud {
	overflow: hidden !important;
	.modal-dialog {
		position: absolute;
		bottom: 0;
		left: $grid-gutter-width;
	}
	.modal-body.panel {
		padding: 0;
		margin: 0;
		@include box-shadow(none);
		.nav-tabs { 
			margin-top: -$grid-gutter-width/2 !important; 
			border-top-left-radius: $border-radius-base;
		}
	}
	.well { margin-bottom: 0; }
	.page-header { margin-top: 0; }
}


#modalHelp {
	.tab-content { padding: 0; }
	.tab-pane { margin-right: -$grid-gutter-width; }
	.nav-tabs > li {
		margin-top: 7.5px;
		margin-bottom: 7.5px;
		a {
			@include clearfix();
			margin-bottom: 0;
			margin-top: 0;
			cursor: pointer;
			> * { display: block; float: left; }
			i { font-size: 1.6em; }
			i + span { line-height: 1; padding-left: 5px;}
		}

		> .sub-nav { display: none; }
		&.subnav-open {
			border-left: 5px solid #f28900;
			> a {
			    cursor: pointer;
			    padding: 10px;
			}
			> .sub-nav { 
				display: block;

				li.active {
					border-left: 5px solid #FFC36B;
					z-index: 2;
					margin-left: -5px;

					a {background-color: white; }
				}
			}
		}
	}

	.udrive-steps {
		margin: 0;
		padding: 0;
		position: relative;
		@include clearfix();

		li {
			counter-increment: step-counter;
			display: block;
			position: relative;
			float: left;
			width: percentage(1/5);

			padding: $grid-gutter-width*2 5px 5px 5px;
			font-size: 12px;

			text-align: center;

			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }

			&:before {
				content: counter(step-counter);
				margin: 0;
				padding: 0;
				position: absolute;
				left: calc(50% - 20px);
				left: -webkit-calc(50% - 20px);
				left: -moz-calc(50% - 20px);
				top: 0;
				font-size: 20px;
				color: #fff;
				background-color: $brand-blue;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				padding: 7px 14px;
				text-align: center;
			}

			&:after {
				top: -3px;
				left: calc(50% + 47px);
				left: -webkit-calc(50% + 47px);
				left: -moz-calc(50% + 47px);


				content: '\f2fb';
				font-family: 'Material Design Iconic Font';
				font-size: 2.6em;
				color: $brand-blue;
				position: absolute;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

.tutorial-gallery {
	height: 370px;
	overflow-y: auto;

	img { border-top-right-radius: $border-radius-base; }

	.slide {

		ol > li, ul > li {
			margin-bottom: 10px;
		}
		&:not(.img-responsive) {
			padding: $grid-gutter-width/2;
		}
	}
}

.tutorial-gallery-nav {
	position: absolute;
    bottom: 5px;
    left: 188px;
    z-index: 2;

	div:last-child {
	    margin-top: 4px;
    	margin-left: 5px;
	}

	.gallery-pointer,
	.gallery-count {
		display: inline-block;
	}
	.gallery-count {
		&:before {
			content: '/\00a0';
			display: inline-block;
		}
	}
}

.modal-fast-travel {

	.modal-dialog {
		position: absolute;
		top: calc(50% - 100px);
		top: -moz-calc(50% - 100px);
		top: -webkit-calc(50% - 100px);
		text-align: center;
		left: 0;
		right: 0;
		width: auto !important;
		// overflow-y: hidden;
		// overflow-x: auto;
		margin: 0;
		background-color: white;
		border-top: 3px solid rgb(220, 220, 220);
		border-bottom: 3px solid rgb(220, 220, 220);

		// @media (max-width: $screen-sm-max) { left: $grid-gutter-width/2; right: $grid-gutter-width/2; width: auto; }
		// @media (min-width: $screen-md-min) { left: calc(50% - 500px); }
		// @media (min-width: $screen-lg-min) { left: calc(50% - 600px); }
		// @media (min-width: $screen-xlg-min) { left: calc(50% - 650px); }

		// &:before, &:after {
		// 	display: block;
		// 	position: absolute;
		// 	content: '';
		// 	z-index: 1;
		// }

		// &:before {
		// 	top: calc(50% - 65px);
		// 	left: -150px;
		// 	right: -150px;
		// 	height: 130px;
		// 	background-color: transparent;
		// 	@include gradient-horizontal-three-colors(transparent, rgba(0,0,0,0.1), 50%, transparent);
		// }

		// &:after {
		// 	top: 26px;
		// 	left: 90px;
		// 	right: 90px;
		// 	height: 80px;
		// 	border-radius: 50%;
		// 	@include box-shadow(0 0 100px rgba(0,0,0,0.65));
		// }
	}

	.travel-bldg-scroll {
		height: 135px;
		overflow: hidden;
		padding-left: 80px;
		padding-right: 80px;

		.btn-travel-left, .btn-travel-right {
			position: fixed;
			z-index: 30;
			top: 0;
			bottom: 0;
			border-radius: 0;
			outline: none;
		}

		.btn-travel-left { left: 0; @include box-shadow(2px 0 2px rgba(0,0,0,0.2)); }
		.btn-travel-right { right: 0; @include box-shadow(-2px 0 2px rgba(0,0,0,0.2)); }

		// &:before, &:after {
		// 	background-color: rgba(0,0,0,0.3);
			
		// 	position: absolute;
		// 	z-index: 2;
		// 	top: 0;
		// 	bottom: 0;
		// 	content: '';
		// 	display: block;
		// 	width: 15px;
		// }

		// &:before {
		// 	left: 0;
		// }

		// &:after {
		// 	right: 0;
		// }
	}

	.travel-bldg-list {
		display: table;
		width: auto;
		margin: 0;
		position: absolute;
		top: 0;
		left: 80px;
		right: 80px;
		bottom: 0;
		z-index: 2;
		background: white;
		padding: 0;
		height: 135px;

		li {
			* {
				margin-bottom: 0;
			}

			&:after { display: none; }

			&:hover {
				cursor: pointer;
				background-color: $brand-blue;
				color: white;

				&:after {
					display: block;
					position: absolute;
					bottom: -$grid-gutter-width;
					left: calc(50% - 50px);
					left: -webkit-calc(50% - 50px);
					left: -moz-calc(50% - 50px);
					content: 'GO HERE';
					font-size: 0.9em;
					border-radius: 20px;
					background-color: $brand-blue;
					color: white;
					padding: 3px 8px;
					text-align: center;
					width: 100px;
				}
			}

			position: relative;
			padding: $grid-gutter-width/2 5px;
			display: table-cell;
			width: 1%;
			@include user-select(none);

			img {
				height: 70px;
				width: 140px;
				// @media (max-width: $screen-sm-max){ height: 25px; }
			}

			.badge {
				position: absolute;
				top: 0;
				right: 10px;
				background-color: $brand-danger;
			}
		}
	}

	.title {
		display: block;
		margin: auto;
		font-family: $font-family-bold;
		padding: 8px 26px;
		position: absolute;
		text-align: center;
		z-index: 3;
		width: auto;
		top: -50px;
		left: calc(50% - 124px);
		color: white;
		background: darken($brand-blue,5%);
		border-radius: 60px;
		@include user-select(none);
	}

	.btn-close-fast-travel {
		width: 51.5px;
		position: absolute;
		top: -60px;
		right: 60px;
		border: 3px solid white;
		border-radius: 60px;
		background: $brand-danger;
		color: white;
		@include box-shadow(0 3px 0px rgba(0,0,0,0.3));

		&:active, &:focus {
			outline: none !important;
		}
	}
}

.menu-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
}