$minimap-size: 180px;
$minimap-border: 6px;

.map-menu {
	position: fixed;
	width: 200px;
	top: 255px;
	right: 185px;
	z-index: 3;

	.btn-hud-menu, .btn-hud-submenu {
		border-radius: 50%;
		background-color: $theme;
		color: white;
		position: absolute;
		width: 71px;
		z-index: 3;

		@include box-shadow(0 3px 0 rgba(0,0,0,0.2));
		> span { font-size: 0.8em; }
		i, span { margin: auto; display: block; clear: both; text-transform: uppercase; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18); }

		&:active, &:focus {
			outline: none;
		}
	}

	.btn-hud-menu { top: -26px; right: -16px; border: 5px solid white; z-index: 2; }

	.btn-routes, .btn-about, .btn-help { border: 3px solid white; background-color: $brand-primary; padding: 11px 5px; display: none; z-index: 1;}

	.btn-routes { top: -65px; right: 70px; }
	.btn-about { top: 15px; right: 52px; }
	.btn-help { top: 61px; right: -15px; }
}

.minimap, .minimap-container {
	display: block;
	width: $minimap-size - ($minimap-border*2);
	height: $minimap-size - ($minimap-border*2);
	border-radius: 50%;
}

.minimap {
	width: $minimap-size;
	height: $minimap-size;
	background-color: rgba(255,255,255,0.5);
	border: $minimap-border solid white;
	position: absolute;
	top: $grid-gutter-width;
	right: $grid-gutter-width + ($grid-gutter-width/2);
	@include box-shadow(0 5px 0 rgba(0,0,0,0.2));
	z-index: 1;

	&:before, &:after {
		display: block;
		padding: 10px;
		font-size: 1em;
		font-family: $font-family-bold;
		position: absolute;
		background-color: $theme;
		color: white;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);
	}

	&:before {
	    content: 'N';
	    left: calc(50% - 13px);
	    top: -31px;
	    border-top-left-radius: 20px;
	    border-top-right-radius: 20px;
	    padding-top: 7px;
	    @include box-shadow(inset 0 4px 0 rgba(0,0,0,0.2));
	}

	&:after {
	    content: 'S';
	    left: calc(50% - 13px);
	    bottom: -31px;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	    padding-bottom: 7px;
	    @include box-shadow(inset 0 -4px 0 rgba(0,0,0,0.2));
	}

	.minimap-container {
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		background-color: $land-color-bg;
		border: 3px solid #F3F3F3;
		@include box-shadow(inset 0 6px 0 rgba(0, 0, 0, 0.15));
		z-index: 1;

		.mini-building-set {
			position: absolute;
		}

		.mini-land {
			display: block;
			width: 73px;  //convert to JS
			height: 500px; //convert to JS
			background-color: $gray-dark;
			margin-left: 96px;
			outline: 3px solid $sidewalk-color-bg;
			border-left: 1px solid rgba(255,255,255,0.5);

			&:before {
				display: block;
				content: '';
				width: 1px;
				height: auto;
				top: 0;
				bottom: 0;
				right: calc(20% - 1px);
				margin-top: 20px;
				margin-bottom: 20px;
				position: absolute;
				background: url(../img/routes/minimap-strip.png) repeat-y center center;
				background-position: center center;
				background-size: contain;
				background-color: transparent;
			}
		}
	}

	&:hover {
		cursor: move;
	}
}

.minimap-pointers {
	display: block;
	position: absolute;
	width: 170px;
	right: 0;
	top: ($minimap-size/2) - 22px;

	&:before, &:after {
		display: block;
		padding: 10px;
		font-size: 1em;
		font-family: $font-family-bold;
		position: absolute;
		background-color: $theme;
		color: white;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);
	}

	&:before {
	    content: 'W';
	    left: -$grid-gutter-width;
	    border-top-left-radius: 20px;
	    border-bottom-left-radius: 20px;
	    @include box-shadow(inset 4px 0 0 rgba(0,0,0,0.2));
	    padding-top: 6px;
	    padding-bottom: 6px;
	    padding-right: $grid-gutter-width/2;
	}

	&:after {
	    content: 'E';
	    right: -$grid-gutter-width;
	    border-top-right-radius: 20px;
	    border-bottom-right-radius: 20px;
	    @include box-shadow(inset -4px 0 0 rgba(0,0,0,0.2));
	    padding-top: 6px;
	    padding-bottom: 6px;
	    padding-left: $grid-gutter-width/2;
	}
}

.environment-indicator {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 5px solid white;
	position: absolute;
	right: $grid-gutter-width/2;
	top: $grid-gutter-width/2;
	z-index: 2;
	@include box-shadow(0 3px 0 rgba(0, 0, 0, 0.15));

	> i.md {
		position: absolute;
		color: white;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.18);
	}

	&:before {
		display: block;
	    content: '';
	    position: absolute;
	    width: 62px;
	    height: 32px;
	    left: 0;
	    bottom: 2px;
	    z-index: 2;
	    border-bottom-left-radius: 75px;
	    border-bottom-right-radius: 75px;
	    @include opacity(0.5);
	    @include transform(rotateZ(-45deg));
	    @include transform-origin(top);
		@include gradient-vertical-three-colors( rgba(255,255,255,0.8), rgba(255,255,255,0.5), 50%, rgba(255,255,255,0.1) );
	}
}

.menu-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	z-index: 2;
}