.platform {
	width: 100%;
	height: $platform-height;
	z-index: $platform-zindex;
	display: block;
	position: absolute;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;

	* { display: block;
		width: inherit;
		font-style: normal;
		position: absolute;
	}

	.land {
		background-color: $land-color-bg;
		height: $land-height;
		bottom: $land-y;
		z-index: $platform-zindex + 1;

		&:before {
			position: absolute;
			left: 0;
			right: 0;
			display: block;
			content: '';
			background-color: #6ABF24;
			height: 18px;
		}
	}

	.sidewalk {
		background-color: $sidewalk-color-bg;
		height: $sidewalk-height;
		bottom: $sidewalk-y;
		border-bottom: 10px solid #8C8C8C;
		border-top: 1px solid #737373;
		@include box-shadow(inset 0 -3px 0 #636363);

		&:before {
			content: '';
			display: block;
			position: absolute;
			height: $sidewalk-height / 2;
			left: 0;
			right: 0;
			background-repeat: repeat-x;
			background-size: contain;
			background-image: url(../img/routes/sidewalk-bg.png);
		}
	}

	.road {
		background: url(../img/routes/road-texture.png);
		background-color: $road-color-bg;
		height: $road-height;
		bottom: $road-y;
		border-top: 2px solid #B5B5B5;

		&:before {
			width: auto;
			height: 5px;
			display: block;
			content: '';
			position: absolute;
			top: calc(50% - 2px);
			left: 0;
			right: 0;
			background: url(../img/routes/road-strip.png) repeat-x center center;
			background-position: 2px 0;
			background-size: contain;
			background-color: transparent;
			@include opacity(0.8);
		}
	}
}
.foreground-grass{
	content: '';
	display: block;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	position: absolute;

	&:after {
		content: '';
		display: block;
		left: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		position: absolute;
		background: url(../img/routes/foreground-grass1.png) repeat-x center bottom;
		z-index: 1;
	}

	&:before {
		display: block;
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #80AD12;
		z-index: 0;
	}
}
.foreground-grass {
	height: 50px;
	&:after { height: 50px; background-size: auto 50px; }
	&:before { height: $road-y; }
}

.midground-grass {
	background: url(../img/routes/hedges.png);
	background-repeat: repeat-x;
	display: block;
	position: absolute;
	height: 20px;
	left: 0;
	right: 0;
	bottom: $land-y + 20;
	background-size: auto 20px;
	z-index: 1;
}

.not-applicable-sign, .bus, .jeep, [class^="bush-"],[class^="flag-"], [class^="bench-"], [class^="tree-"], 
[class^="flower-"], [class^="flowerpot-"],[class^="bin-"], [class^="stall-"] {
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/routes/environment-sprites.png);
	background-size: calc(2154px/2) auto; // size of the sprite atlas
	z-index: 1;
	bottom: 0;
}


// Under Construction
.not-applicable-sign { @include dim(388px, 230px); @include bpos(-1428px, -1240px); z-index: 10; left: calc(50% - 82px); bottom: -15px; pointer-events: none;}

.bus { @include dim(662px, 231px); @include bpos(-1108px, 0); z-index: 100; left: 4540px; bottom: -37px; }
.jeep { @include dim(516px, 214px); @include bpos(-1108px, -230px); z-index: 100; left: 9500px; bottom: -37px; }


// Stalls
.stall-one { @include dim(294px, 231px); @include bpos(-1800px, 0); z-index: 1; left: 0; bottom: 0; }
.stall-two { @include dim(295px, 231px); @include bpos(-1639px, -236px); z-index: 1; left: 0; bottom: 0; }
.stall-three { @include dim(204px, 219px); @include bpos(-1946px, -242px); z-index: 1; left: 0; bottom: 0; }
.stall-four { @include dim(182px, 142px); @include bpos(-1109px, -482px); z-index: 1; left: 0; bottom: 0; }

// Bushes
.bush-one { @include dim(165px, 105px); @include bpos(-1400px, -984px); z-index: 1; left: 0; bottom: 0; }
.bush-two { @include dim(147px, 82px); 	@include bpos(-1589px, -1009px); z-index: 1; left: 0; bottom: 0; }
.bush-three { @include dim(154px, 81px); @include bpos(-1751px, -1012px); z-index: 1; left: 0; bottom: 0; }
.bush-four { @include dim(125px, 87px); @include bpos(-1400px, -1116px); z-index: 1; left: 0; bottom: 0; }
.bush-five { @include dim(169px, 78px); @include bpos(-1543px, -1122px); z-index: 1; left: 0; bottom: 0; }

// Flowers
.flowerpot-one { @include dim(54px, 111px); @include bpos(-1917px, -984px); z-index: 1; left: 0; bottom: 0; }
.flowerpot-two { @include dim(54px, 108px); @include bpos(-1977px, -987px); z-index: 1; left: 0; bottom: 0; }
.flowerpot-three { @include dim(54px, 105px); @include bpos(-2043px, -990px); z-index: 1; left: 0; bottom: 0; }
.flowerpot-four { @include dim(51px, 112px); @include bpos(-2102px, -983px); z-index: 1; left: 0; bottom: 0; }
.flowerpot-five { @include dim(42px, 93px); @include bpos(-1898px, -1108px); z-index: 1; left: 0; bottom: 0; }

.flower-one { @include dim(43px, 96px); @include bpos(-1851px, -1103px); z-index: 1; left: 0; bottom: 0; }
.flower-two { @include dim(36px, 92px); @include bpos(-1954px, -1108px); z-index: 1; left: 0; bottom: 0; }
.flower-three { @include dim(39px, 100px); @include bpos(-1999px, -1103px); z-index: 1; left: 0; bottom: 0; }
.flower-four { @include dim(40px, 93px); @include bpos(-2104px, -1107px); z-index: 1; left: 0; bottom: 0; }

// Trees
.tree-one { @include dim(105px, 347px); @include bpos(-1115px, -635px); z-index: 1; left: 0; bottom: 0; }
.tree-two { @include dim(104px, 303px); @include bpos(-1230px, -636px); z-index: 1; left: 0; bottom: 0; }
.tree-three { @include dim(123px, 247px); @include bpos(-1343px, -636px); z-index: 1; left: 0; bottom: 0; }
.tree-four { @include dim(180px, 269px); @include bpos(-1474px, -632px); z-index: 1; left: 0; bottom: 0; }
.tree-five { @include dim(106px, 173px); @include bpos(-1662px, -632px); z-index: 1; left: 0; bottom: 0; }
.tree-six { @include dim(113px, 157px); @include bpos(-1658px, -827px); z-index: 1; left: 0; bottom: 0; }
.tree-seven { @include dim(120px, 271px); @include bpos(-1778px, -632px); z-index: 1; left: 0; bottom: 0; }
.tree-eight { @include dim(135px, 238px); @include bpos(-1908px, -632px); z-index: 1; left: 0; bottom: 0; }
.tree-nine { @include dim(88px, 211px); @include bpos(-2056px, -635px); z-index: 1; left: 0; bottom: 0; }
.tree-ten { @include dim(142px, 237px); @include bpos(-1109px, -994px); z-index: 1; left: 0; bottom: 0; }
.tree-eleven { @include dim(118px, 226px); @include bpos(-1262px, -1005px); z-index: 1; left: 0; bottom: 0; }

// Benches
.bench-one { @include dim(180px, 100px); @include bpos(-1313px, -482px); z-index: 1; left: 0; bottom: 0; }
.bench-two { @include dim(154px, 95px); @include bpos(-1519px, -482px); z-index: 1; left: 0; bottom: 0; }
.bench-three { @include dim(213px, 113px); @include bpos(-1699px, -481px); z-index: 1; left: 0; bottom: 0; }
.bench-four { @include dim(221px, 107px); @include bpos(-1927px, -484px); z-index: 1; left: 0; bottom: 0; }

// Bins
.bin-one { @include dim(68px, 75px); @include bpos(-1830px, -1275px); z-index: 1; left: 0; bottom: 0; }
.bin-two { @include dim(120px, 142px); @include bpos(-1924px, -1212px); z-index: 1; left: 0; bottom: 0; }
.bin-three { @include dim(81px, 114px); @include bpos(-2060px, -1240px); z-index: 1; left: 0; bottom: 0; }

// Flags
.flag-one { @include dim(160px, 386px); @include bpos(-249px, -578px); z-index: 1; left: 0; bottom: 0; }
.flag-two { @include dim(160px, 386px); @include bpos(-440px, -578px); z-index: 1; left: 0; bottom: 0; }
.flag-three { @include dim(160px, 386px); @include bpos(-631px, -578px); z-index: 1; left: 0; bottom: 0; }
.flag-four { @include dim(160px, 386px); @include bpos(-822px, -578px); z-index: 1; left: 0; bottom: 0; }