.building-billboard {
	img {
		width: 250px;
		left: -20px;
		top: -30px;
		z-index: 2;
	}

	.billboard-content {
		display: block;
		position: absolute;
		background-color: #fff;
		top: 25px;
		left: 25px;
		width: 230px;
		height: 130px;
		padding: 10px;
		text-align: center;

		h1, h2, h3, h4 {
			color: $brand-orange;
		}

		p {
			color: $brand-gray;
		}
	}
}

.building-road-end {
	img {
		position: absolute;
		width: 70px;
		left: 255px; 
		top: 215px;
		z-index: 6;

		&:first-child {
			width: 180px;
			left: 200px; 
			top: 85px;
			z-index: 5;
		}
	}
}
