//
// Button group stack
// --------------------------------------------------

// Make the div behave like a button
.btn-group-stack {
    position: relative;
    display: block;
    margin-bottom: 5px;
    vertical-align: middle; // match .btn alignment given font-size hack above
    @include clearfix();
    > .btn {
        position: relative;
        float: left;
        // Bring the "active" button to the front
        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
    }
}

.btn-group-stack {
    margin-left: -5px;
    margin-right: -5px;

    .answers {
        padding: 5px;
        float: left;
        input[type="radio"],input[type="checkbox"]{display:none}
        .btn {
            text-align: left;
            color: white;
            width: 100%;

            .option-label-fsr, .option-icon-fsr {
                display: block;
            }

            .option-label-fsr {
                position: relative;
                float: left;
                // padding-left: $grid-gutter-width + ($grid-gutter-width/2);
                @include truncate-ellipsis();
            }

            .option-icon-fsr {
                position: absolute;
                @include calc-sub-two-values(top, 50%, 15px);
                left: $grid-gutter-width;
                width: $grid-gutter-width;
                * {
                    width: $grid-gutter-width;
                    height: $grid-gutter-width;
                }

                .svg path {
                    fill: #fff !important;
                }
            }

            &.active {
                background-color: rgba(255,255,255,0.9);
                color: $text-color;
            }
        }
    }

    @include auto-adjust-btn-group();
}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

[data-toggle="buttons"] {
  > .btn,
  > .btn-group > .btn {
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
}
