.btn-group-stack .btn .option-label-fsr{width:auto;padding-left:0;text-align:center;float:none;}
label.btn{text-align:center!important;}
.validation_label{display:none;}
label.errormsg{display:block;}
div.answers:focus{outline:none;}
.btn:focus,.btn:active{outline:none;}
.btn-white{background-color:#fff;margin-bottom:20px;color:#000}
.btn-white:hover,.btn-white:active,.btn-white:focus{background-color:#fff;color:#000;}
.optstack{display:inline-block !important;}
.btn-opt,.btn-opt:hover,.btn-opt:focus,.optbox:hover,.optbox:focus,.optbox:active{background-color:transparent;border-color:transparent;box-shadow:none; text-align: left !important; }
.optstack .btn.active{background-color:transparent;color:#fff;}
.btn-opt.btn.active.focus:focus{outline:none !important;text-shadow:none;}
.btnevent:focus {
    background-color: #b00d0d;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
    -khtml-box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
    -ms-box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
    -o-box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
    box-shadow: rgba(0,0,0,0.5) 0 1px 1px 0;
}
