@import "../../gqa-ui-core/css/bootstrap/_variables";

// Fine tuning of elements that need to be responsive depending on the device or screen size 

@mixin auto-adjust-header() {
    $header-base-height: 80px;

    height: $header-base-height;
    padding-left: $grid-gutter-width;

    @include small-screen() { height: 66px; }
}

@mixin auto-adjust-h1() {
    @include small-screen() { font-size: 24px; }
    @include mid-screen() { font-size: 4vh; }
    @include wide-screen() { font-size: 4.3vh; }
    @include extra-wide-screen() { font-size: 4.7vh; }

    @include iphone-five(landscape) { font-size: 24px; }
    @include iphone-five(portrait) { font-size: 28px; }

    @include iphone-six(landscape) { font-size: 24px; }
    @include iphone-six(portrait) { font-size: 26px; }

    @include iphone-six-plus(landscape) { font-size: 24px; }
    @include iphone-six-plus(portrait) { font-size: 26px; }

    // @include galaxy-s-four(landscape) { font-size: $font-size-h1; }
    // @include galaxy-s-four(portrait) { font-size: $font-size-h1; }

    @include galaxy-s-five(landscape) { font-size: 26px; }
    @include galaxy-s-five(portrait) { font-size: 26px; }

    // @include htc-one(landscape) { font-size: $font-size-h1; }
    // @include htc-one(portrait) { font-size: $font-size-h1; }

    @include ipad-one-two(landscape) { font-size: 4.5vh; }
    @include ipad-one-two(portrait) { font-size: 4.5vh; }

    @include ipad-three-four(landscape) { font-size: 4.5vh; }
    @include ipad-three-four(portrait) { font-size: 4.5vh; }

    // @include galaxy-tab(landscape) { font-size: $font-size-h1; }
    // @include galaxy-tab(portrait) { font-size: $font-size-h1; }
}

@mixin auto-adjust-h2() {
    @include small-screen() { font-size: 20px; }
    @include mid-screen() { font-size: 3vh; }
    @include wide-screen() { font-size: 3.3vh; }
    @include extra-wide-screen() { font-size: 3.7vh; }  

    @include iphone-five(landscape) { font-size: 14px; }
    @include iphone-five(portrait) { font-size: 18px; }

    @include iphone-six(landscape) { font-size: 16px; }
    @include iphone-six(portrait) { font-size: 18px; }

    @include iphone-six-plus(landscape) { font-size: 16px; }
    @include iphone-six-plus(portrait) { font-size: 20px; }

    // @include galaxy-s-four(landscape) { font-size: $font-size-h1; }
    // @include galaxy-s-four(portrait) { font-size: $font-size-h1; }

    @include galaxy-s-five(landscape) { font-size: 16px; }
    @include galaxy-s-five(portrait) { font-size: 20px; }

    // @include htc-one(landscape) { font-size: $font-size-h1; }
    // @include htc-one(portrait) { font-size: $font-size-h1; }

    @include ipad-one-two(landscape) { font-size: 3.5vh; }
    @include ipad-one-two(portrait) { font-size: 3.5vh; }

    @include ipad-three-four(landscape) { font-size: 3.5vh; }
    @include ipad-three-four(portrait) { font-size: 3.5vh; }

    // @include galaxy-tab(landscape) { font-size: $font-size-h1; }
    // @include galaxy-tab(portrait) { font-size: $font-size-h1; }
}

@mixin auto-adjust-h3() {
    @include small-screen() { font-size: 16px; }
    @include mid-screen() { font-size: 2vh; }
    @include wide-screen() { font-size: 2.3vh; }
    @include extra-wide-screen() { font-size: 2.7vh; }

    @include iphone-five(landscape) { font-size: 12px; }
    @include iphone-five(portrait) { font-size: 16px; }

    @include iphone-six(landscape) { font-size: 12px; }
    @include iphone-six(portrait) { font-size: 16px; }

    @include iphone-six-plus(landscape) { font-size: 14px; }
    @include iphone-six-plus(portrait) { font-size: 18px; }

    // @include galaxy-s-four(landscape) { font-size: $font-size-h1; }
    // @include galaxy-s-four(portrait) { font-size: $font-size-h1; }

    @include galaxy-s-five(landscape) { font-size: 14px }
    @include galaxy-s-five(portrait) { font-size: 16px; }

    // @include htc-one(landscape) { font-size: $font-size-h1; }
    // @include htc-one(portrait) { font-size: $font-size-h1; }

    @include ipad-one-two(landscape) { font-size: 2.5vh; }
    @include ipad-one-two(portrait) { font-size: 2.5vh; }

    @include ipad-three-four(landscape) { font-size: 2.5vh; }
    @include ipad-three-four(portrait) { font-size: 2.5vh; }

    // @include galaxy-tab(landscape) { font-size: $font-size-h1; }
    // @include galaxy-tab(portrait) { font-size: $font-size-h1; }
}

@mixin auto-adjust-form() {

    @include small-screen() { width: 100%; padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/2; }
    @include mid-screen() { width: 80vw; }
    @include wide-screen() { width: 600px; }
    @include extra-wide-screen() { width: 900px; }

    > .btn,.form-control, .select-dropdown, .upload-control {
        @include small-screen() { width: 100%; }
        @include mid-screen() { width: 350px; }
        @include wide-screen() { width: 350px; }
        @include extra-wide-screen() { width: 350px; }
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin auto-adjust-btn-group(){
    .answers {
        @include small-screen() { width: 100%; }
        @include mid-screen() { width: 50%; }
        @include wide-screen() { width: 50%; }
        @include extra-wide-screen() { width: 50%; }

        @include iphone-six(landscape) { width: 50%; }
        @include iphone-six-plus(portrait) { width: 100%; }
        @include galaxy-s-five(landscape) { width: 50%; }
        @include galaxy-s-five(portrait) { width: 100%; }


        &:first-child:nth-last-child(odd) .btn,
        &:first-child:nth-last-child(odd) ~ .answers .btn{
            @include small-screen() { width: 100%; }
            @include mid-screen() { width: 70%; }
            @include wide-screen() { width: 70%; }
            @include extra-wide-screen() { width: 70%; }
        }

        &:first-child:nth-last-child(odd),
        &:first-child:nth-last-child(odd) ~ .answers {
            @include mid-screen() { width: 100%; }
            @include wide-screen() { width: 100%; }
            @include extra-wide-screen() { width: 100%; }
        }
    }
}

@mixin auto-adjust-select() {
    $dim: 300px;
    width: $dim;
    right: -$dim;
    left: auto;
}
