@font-face {
    font-family:'FSR Widget Icons';
    src: url('fsr-widget-icons/FSR-Widget-Icons.eot');
    src: url('fsr-widget-icons/FSR-Widget-Icons.eot?#iefix') format('embedded-opentype'),
         url('fsr-widget-icons/FSR-Widget-Icons.woff') format('woff'),
         url('fsr-widget-icons/FSR-Widget-Icons.ttf') format('truetype'),
         url('fsr-widget-icons/FSR-Widget-Icons.svg#FSR-Widget-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='fsr-ico-'] {
  display: block;
  float: left;
  width: 34px;
  border-radius: 3px;
  margin-top: -3px;
}
[class*='fsr-ico-']:before{
  display: block;
  font-family: 'FSR Widget Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  float: left;
  width: 20px;
  text-align: center;
  margin: auto auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fsr-ico-contact:before{content:'\0041';}
.fsr-ico-dontknow:before{content:'\0042';}
.fsr-ico-email:before{content:'\0043';}
.fsr-ico-finish:before{content:'\0044';}
.fsr-ico-h1:before{content:'\0045';}
.fsr-ico-h2:before{content:'\0046';}
.fsr-ico-list:before{content:'\0047';}
.fsr-ico-next:before{content:'\0048';}
.fsr-ico-normal:before{content:'\0049';}
.fsr-ico-submit:before{content:'\004a';}
.fsr-ico-textbox:before{content:'\004b';}
.fsr-ico-tile-multiple:before{content:'\004c';}
.fsr-ico-tile-single:before{content:'\004d';}
.fsr-ico-upload:before{content:'\004e';}

[class*='fsr-ico-']:not([class*='fsr-ico-tile']) { font-size: 1.6em; }
[class*='fsr-ico-tile'] { margin-top: 0; }