//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: $well-padding;
  margin-bottom: 20px;
  background-color: $well-bg;
  border-radius: $border-radius-base;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 30px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-small;
}
