
.btn-lg {position: relative !important;}
.btn-lg i {position: absolute; right: 10%; top: 28px; }
.btn-group-stack{display:block!important;}
 input[type="radio"],input[type="checkbox"]{display:none}
.btn-group-stack .btn .option-label-fsr{width:auto;padding-left:0;text-align:center;float:none;}
label.btn{text-align:center!important;}

label.errormsg{display:block;color:#e10101!important;font-weight:normal !important;}
/*.answers:nth-of-type(odd){float:left;}*/