// Mixins to target mobile device breakpoints

/* ----------- iPhone 5 and 5s ----------- */
@mixin iphone-five($orientation) {

    /* Portrait */
    @if $orientation == portrait {
        @media only screen 
          and (min-device-width: 320px) 
          and (max-device-width: 568px)
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: portrait) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 320px) 
          and (max-device-width: 568px)
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: landscape) {
            @content;
        }
    }
    else {
        @media only screen 
          and (min-device-width: 320px) 
          and (max-device-width: 568px)
          and (-webkit-min-device-pixel-ratio: 2) {
            @content
        }
    }
}

/* ----------- iPhone 6 ----------- */

@mixin iphone-six($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: portrait) { 
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: landscape) { 
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2) { 
            @content;
        }
    }
}

/* ----------- iPhone 6+ ----------- */
@mixin classname($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media only screen 
          and (min-device-width: 414px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3)
          and (orientation: portrait) { 
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 414px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3)
          and (orientation: landscape) { 
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media only screen 
          and (min-device-width: 414px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3) { 
            @content;
        }
    }
}


/* ----------- Galaxy S4 ----------- */

@mixin galaxy-s-four($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media screen 
          and (device-width: 320px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: portrait) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media screen 
          and (device-width: 320px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: landscape) {
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media screen 
          and (device-width: 320px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) {
            @content;
        }
    }
}

/* ----------- Galaxy S5 ----------- */
@mixin galaxy-s-five($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: portrait) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: landscape) {
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) {
            @content;
        }
    }
}


/* ----------- HTC One ----------- */

@mixin htc-one($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: portrait) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) 
          and (orientation: landscape) {
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media screen 
          and (device-width: 360px) 
          and (device-height: 640px) 
          and (-webkit-device-pixel-ratio: 3) {
            @content;
        }
    }
}


/* ----------- iPad mini ----------- */

@mixin ipad-mini($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: portrait) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: landscape) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;            
        }
    }
    else {
        /* Portrait and Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }
}

/* ----------- iPad 1 and 2 ----------- */

@mixin ipad-one-two($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: portrait) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: landscape) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }
}

/* ----------- iPad 3 and 4 ----------- */

@mixin ipad-three-four($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: portrait) 
          and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: landscape) 
          and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
}

/* ----------- Galaxy Tab 10.1 ----------- */

@mixin galaxy-tab($orientation) {
    @if $orientation == portrait {
        /* Portrait */
        @media 
          (max-device-width: 800px) 
          and (orientation: portrait) { 
            @content;
        }
    }
    else if $orientation == landscape {
        /* Landscape */
        @media 
          (max-device-width: 1280px) 
          and (orientation: landscape) { 
            @content;
        }
    }
    else {
        /* Portrait and Landscape */
        @media 
          (min-device-width: 800px) 
          and (max-device-width: 1280px) {
            @content;
        }
    }
}

/* ----------- Default Screens ----------- */

@mixin small-screen() {
    @media (max-width: $screen-xs) { 
      @content;
    }
}

@mixin mid-screen() {
    @media (min-width: $screen-xs-min + 1) and (max-width: $screen-md-max) { 
      @content;
    }
}

@mixin wide-screen() {
    @media (min-width: $screen-lg-min) and (max-width: 1399px) {
      @content;
    }
}

@mixin extra-wide-screen() {
    @media (min-width: 1400px) {
      @content;
    }
}
