// Fine tuning of elements that need to be responsive depending on the device or screen size 

@mixin auto-adjust-header() {
    $header-base-height: 60px;

    height: $header-base-height;
}

@mixin auto-adjust-form() {

    @include small-screen() { width: 100%; padding-left: $grid-gutter-width/2; padding-right: $grid-gutter-width/2; }
    @include mid-screen() { width: 80vw; }
    @include wide-screen() { width: 600px; }
    @include extra-wide-screen() { width: 500px; }

    > .btn, .form-control {
        @include small-screen() { width: 100%; }
        @include mid-screen() { width: 350px; }
        @include wide-screen() { width: 350px; }
        @include extra-wide-screen() { width: 350px; }
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin auto-adjust-btn-group(){
    @include small-screen() { width: 100%; }
    .btn {
        @include small-screen() { width: 100%; margin-bottom: 10px; }
        @media (min-width: $screen-xs-min) {
            margin: 8px;
            @include calc-sub-two-values(width, 50%,16px);   
        }
    }
}

@mixin auto-adjust-select() {
    $dim: 300px;
    width: $dim;
    right: -$dim;
    left: auto;
}
