// Nav

$sidebar-gray: #e9e9e9;	
.sidebar-panel {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	> .sidebar-scroll { overflow-x: hidden; }

	&.has-overlay {
		z-index: $zindex-navbar-fixed + 10;
	}
}

.sidebar-header {
	background-color: $gray-darker;
	color: white;
	display: table;
	width: 100%;
	@include clearfix();
	.btn-sidebar-close {
		display: table-cell;
		padding-top: 15px;
		padding-bottom: 15px;
		@include border-radius(0);
	}
	.sidebar-header-caption {
		display: table-cell;
		vertical-align: middle;
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.sidebar-panel .mCSB_inside > .mCSB_container { margin-right: 15px; }
.sidebar-panel .mCS_no_scrollbar .mCSB_inside > .mCSB_container { margin-right: 0 !important; }

// Main sidebar List
.sidebar-list, .sidebar-sublist {
	display: block;
	width: 100%;
	padding-left: 0;
	margin-left: 0;
	list-style: none;

	li {
		display: block;
		clear: both;
		position: relative;
		margin-left: 0;
		padding-left: 0;

		a {
			display: block;
			color: inherit;
			font-size: inherit;
			text-decoration: none;
		}

		.sidebar-list-heading {
			display: block;
			clear: both;
			margin: 0;
			position: relative;
			background-color: transparent;
			@include user-select(none);

			&:after {
				display: block;
				z-index: 1;
				content: '';
				// background-color: $sidebar-gray;
				position: absolute;
				top: 0;
				right: -$grid-gutter-width;
				bottom: 0;
				left: 0;
				// border-top: 1px solid #c3c3c3;
				border-bottom: 1px solid #dcdcdc;
				// @include opacity(0);
				// background-color: $gray-lighter;
				@include transition(background .3s $easing);
			}

			&:hover {
				// background-color: transparent;
				cursor: pointer;

				&:after {
					background-color: $gray-lighter;
					// @include opacity(0.8);
					@include transition(background .3s $easing);
				}
			}
	
			.arrowhead {
				position: absolute;
				@include calc-sub-two-values(top, 50%, 8px);
				right: $grid-gutter-width/2;
				z-index: 5;
			}

			* {
				z-index: 5;
				position: relative;
			}
		}
	}
}
.sidebar-list { 
	margin-right: -$grid-gutter-width/2;
	> li .sidebar-list-heading {
		padding: $grid-gutter-width/2 $grid-gutter-width/2;
		padding-right: $grid-gutter-width;
	}
}
.sidebar-sublist {
	display: none;

	> li .sidebar-list-heading {
		font-size: 0.9em;
		padding: $grid-gutter-width/2;
		@include transition(all .3s $easing);

		&:active, &:focus {
			@include transition(all .3s $easing);
			@include box-shadow(0,2px,10px,rgba(0,0,0,0.3));
			@include scale(1.03,1.03);
			background-color: white !important;
		}

		&:hover { cursor: move; }
	}

	small { color: gray !important; }
}

.sidebar-scroll {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	// padding-left: 10px;
}

// Expand Button
.btn-expand-direct {
	position: absolute;
    z-index: 1;
    top: 7px;
    right: 12px;
    color: white;
    width: 36px;
    border-radius: 36px;
    outline: none;

    &:hover, &:active, &:focus { color: white; }
}

.btn-sidebar {
    border-radius: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    width: 10px;
    padding: 3px;
    background-color: #e0e0e0;
    z-index: 5;
    border-right: 1px solid #cccccc;
    outline: none !important;
    @include transition(none);

    .caret {
	    border-left: 4px dashed;
	    border-top: 4px solid \9;
	    border-bottom: 4px solid transparent;
	    border-top: 4px solid transparent;
	    margin-left: -2px;
    }

    &:hover {
    	@include transition(none);
    	width: $grid-gutter-width/2;
    	left: -2px;
    	margin-left: 0;
    	background-color: $gray-dark;

    	.caret { border-left-color: white; margin-left: 0;	}
    }
}

.sidebar-hidden {
	@include box-shadow(none);
	.btn-sidebar {
		width: $grid-gutter-width;
		left: -15px;
		border-top: 1px solid #b1b1b1;
		top: -1px;
		border-left: 1px solid #cacaca;
	    .caret {
		    border-right: 4px dashed;
			border-left: none;
		    margin-left: -3px;
	    }

	    &:hover {
	    	@include transition(none);
	    	background-color: $gray-dark;

	    	.caret {
	    		border-left: none;
	    		border-right-color: white; 
	    		margin-left: -3px;
	    	}
	    }
	}
}

.label-elements {
	padding: 5px $grid-gutter-width/2;
	padding-left: 25px;
	font-weight: 600;
	font-size: 10px;
	color: #737373;
	background-color: $sidebar-gray;
	float: left;
	display: block;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: $grid-gutter-width/2;
	@include user-select(none);
	@include clearfix();

	&:hover { cursor: default; }
	> * {
		text-transform: none;
	}

	+ * {
		display: block;
		float: left;
		clear: both;
		width: 100%;
	}
}

.sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: $zindex-navbar-fixed + 1;

}