@font-face {
	font-family: "Flaticon";
	src: url("flaticons/flaticon.eot");
	src: url("flaticons/flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticons/flaticon.woff") format("woff"),
	url("flaticons/flaticon.ttf") format("truetype"),
	url("flaticons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="fi-"]:before, [class*=" fi-"]:before,
[class^="fi-"]:after, [class*=" fi-"]:after {   
	font-family: Flaticon;
    font-size: inherit;
	font-style: normal;
}
.fi-performance:before {content: "\e000";}
.fi-car:before {content: "\e001";}
.fi-certification:before {content: "\e002";}

.fi-day:before {content: "\e010";}
.fi-morning:before {content: "\e003";}
.fi-afternoon:before {content: "\e003";}
.fi-evening:before {content: "\e009";}

.fi-portfolio:before {content: "\e004";}
.fi-skills:before {content: "\e005";}
.fi-home:before {content: "\e006";}	
.fi-more:before {content: "\e007";}
.fi-groups:before {content: "\e008";}
.fi-alarm-off:before {content: "\e00a";}
.fi-apps:before {content: "\e00b";}
.fi-development:before {content: "\e00c";}
.fi-benefits:before {content: "\e00d";}
.fi-direct-report:before {content: "\e00e";}
.fi-suitcase:before {content: "\e00f";}
.fi-profile:before {content: "\e011";}
.fi-web:before {content: "\e012";}