#fsrBGPreview {
  height: 230px;
  width: 300px;
  margin-bottom: 24px;
  background-size: cover;
  border: 1px solid #eee; }

.bgPreviewContainer {
  height: 230px;
  width: 300px;
  margin-left: 20px;
  float: left;
  text-align: center;
  background-image: url("../img/no-bg.jpg"); }

#removeBG span {
  margin-right: 7px; }

.dz-image {
  display: block; }

.dz-error-mark {
  display: none; }

.dz-success-mark {
  display: none; }

#fsrBackgroundImage {
  padding: 12px; }
