.fsr-canvas {
    padding: $panel-body-padding;
}

.fsr-canvas-group {
    padding-left: 0;
    margin: 0;
    list-style: none;
    position: relative;
    counter-reset: step-counter -1;

    @media (min-width: 1300px) {
        width: 900px;
        margin: auto auto;
    }

    &:empty {
        display: block;
        width: auto;
        height: 200px;
        border-radius: $border-radius-base;
        background-color: #f7f7f7;
        text-align: center;
        
        &:after {
            content: 'Start your FSR by clicking the green button';
            display: inline-block;
            font-size: 1.1em;
        }

        &:before {
            padding-top: 40px;
            content: '\f221';
            font-family: 'Material-Design-Iconic-Font';
            font-size: 4em;
            display: block;
            color: $brand-success;
        }
    }
    
    .fsr-canvas-group-item {
        $item-border-color: #dcdcdc;
        // z-index: 0;
        position: relative;
        margin-bottom: $grid-gutter-width;
        padding: 15px 0 0;
        background-color: #f3f3f3;
        border: 1px solid $item-border-color;
        border-radius: 2px;
        counter-increment: step-counter;
        min-height: 120px;

        &:before, &:after {
            display: block;
            position: absolute;
            top: 0;
            padding: 3px 10px;
            font-weight: 600;
            font-size: 10px;
            color: #737373;
        }
        &:before {
            left: 0;
            content: counter(step-counter) '. ' attr(data-before);
            background-color: lighten($item-border-color, 5%);
            width: 100px;
            border-bottom-right-radius: 3px;
        }
        &:after { content: attr(data-after); left: 42px; }

        &:hover, &:focus {
            border: 1px solid darken($item-border-color,7%);
            &:before {
                background-color: $item-border-color;
            }
        }

        .fsr-canvas-row + .btn {
            position: absolute;
            top: -1px;
            right: -1px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            width: $grid-gutter-width;
            overflow: hidden;
            @include opacity(0.5);
            @include transition(all .3s $easing);

            i { margin-right: 10px; }
        }

        .fsr-canvas-row:only-child + .btn {
            display: none !important;
        }

        &:hover .fsr-canvas-row + .btn {
            width: 90px !important;
            @include transition(all .3s $easing);
            i { margin-right: 0; }
        }

        &:hover .fsr-canvas-row + .btn:hover {
            @include opacity(1);
            background-image: none !important;
            background-color: white !important;
        }
    }
}


.fsr-canvas-row {
    @include clearfix();
    &:first-child {
        margin-top: 20px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    border-radius: $border-radius-base;
    border: 2px solid transparent;
    @include box-shadow(none);
    @include transition(all, .3s, $easing);

    &.ui-state-hover {
        background: #fff7f7;
        @include transition(all, .3s, $easing);
        @include box-shadow(0,0,2px,#e01010,inset);
    }

    .fsr-region {
        display: block;
        padding: 0 15px;
        margin-bottom: 25px;
        position: relative;

        .dropdown-mapping label:last-child {
            display: none;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }
}

// Mapping Indicator
.fsr-region {
    &:after {
        content: attr(data-mapping-indicator);
        display: block;
        padding: 1px 5px;
        font-size: 8px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $gray-darker;
        color: white;
        position: absolute;
        font-family: $font-family-sans-serif;
        top: -12px;
        right: 15px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 0;
        @include box-shadow(0,1px,0,#dadada);
        pointer-events: none;
    }

    &.unmapped  {
        .widget-actions .dropdown-toggle i { color: $brand-primary !important; }

        &:after {
            content: 'UNMAPPED';
            background-color: $brand-primary;
        }

        &:hover:after { pointer-events: none; }

        > .fsr-widget {
            border-color: #e01010;

            @include box-shadow(0,1px,1px,rgb(224, 16, 16));
        }
    }
}

.fsr-region-add {
    padding: 15px;
    background: white;
    margin-bottom: -$grid-gutter-width/2;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    margin-top: $grid-gutter-width/2;

    > .btn {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        border-style: dashed;
    }
}

.fsr-widget {
    @include mini-panel-widget();
    padding: 10px;
    min-height: 45px;

    input[type="text"], textarea {
        display: block;
        position: relative;
        width: 100%;
        padding: 10px;
        border: none !important;
        border-top: 1px dotted #d0cece !important;
        resize: none;
        &, &:focus, &:active {
            outline: none;
        }
        @include placeholder($gray-dark);
    }
    .widget-actions {
        position: absolute;
        top: 5px;
        right: 5px;
        text-align: right;
        font-size: $font-size-base;
        width: 108px;

        > .btn {
            @include transition(all, .2s, $easing);
            @include opacity(0.5);
        }

        .dropdown {
            display: inline;
        }
    }

    &:hover .widget-actions,
    &:focus .widget-actions {
        .btn {
            @include transition(all, .3s, $easing);
            @include opacity(1);
        }
    }

    .widget-input {
        @include calc-sub-two-values(width, 100%, 5px);
        margin-left: 15px;

        .sidebar-list-heading {
            margin: 0;
            padding: 15px 10px 15px 10px;
            margin-top: -10px;
            background-color: #f9f9f9;
        }
    }

    *:not(.widget-actions) {
        font-size: inherit;
        // z-index: 0;
        position: relative;
    }

    .text-h1 { font-size: 180%; }
    .text-h2 { font-size: 120%; }
    .text-normal { font-size: inherit; }

    &[data-widget-type="radio"],
    &[data-widget-type="opt-in"], 
    &[data-widget-type="checkbox"] { 
        padding-top: 40px;

        .widget-input {
            @include clearfix();
            // width: auto;

            .sidebar-list-heading { margin-top: -40px; margin-bottom: 0; }
            .fsr-widget {
                position: relative;
                float: left;
                margin: 3px;
                @include calc-sub-two-values(width, 50%,6px);

                input { border-top: none !important; }

                .upload-thumbnail {
                    display: block;
                    float: left;
                    padding: 0 $grid-gutter-width/2;
                    width: 50px;
                    height: 40px;
                    position: relative;
                    font-size: 2em;
                    border-radius: 3px;
                    background: #f3f3f3;
                    overflow: hidden;

                    input[type="file"] {
                        position: absolute;
                        z-index: 2;
                        font-size: 3em;
                        top: -50%;
                        left: -50%;
                        width: 300px;
                        cursor: pointer
                    }
                    .attachment-preview {
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: auto;
                        img { width: inherit; height: inherit; }
                        &.attached {
                            background-color: #f3f3f3;
                        }
                    }
                    i { position: relative; z-index: 0; }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .upload-thumbnail + input {
                    margin: 0;
                    display: block;
                    float: left;
                    position: relative;
                    @include calc-sub-two-values(width, 100%,80px);
                }

                .widget-actions { width: auto !important; }
            }
        }
    }

// ===========================   Hide auto-mapped elements ======================= //
    &[data-widget-type="contact"],
    &[data-widget-type="email"],
    &[data-widget-type="opt-in"],
    &[data-widget-type="upload"],
    &[data-widget-type="content"] {
        > .widget-actions {
            .dropdown { display: none !important; }
        }
    }
// ===========================   Hide auto-mapped elements ======================= //

    .text-input-placeholder {
        margin-bottom: -10px;
        // background-color: #f3f3f3;
    }

    &[data-widget-type="button"] { width: 310px; }
    &[data-widget-type="text-box"],&[data-widget-type="text-area"] { width: 100%; }

    .widget-drag-handle {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        width: 25px;
        z-index: 2;
        background-color: #e9e9e9;
        border-right: 1px solid #dadada;

        &:before, &:after {
            display: block;
            content: '';
            position: absolute;
            width: 3px;
            top: 10px;
            bottom: 10px;
            border: 1px dotted #bbbbbb;
        }

        &:before { left: 8px; }
        &:after { left: 14px; }

        &:hover {
            &:before, &:after {
                 border: 1px dotted darken(#bbb,10%);
            }
            cursor: move;
        }
    }
}

[data-widget-type="opt-in"] {
    .text-h1, .text-h2, .text-normal { display: none !important; }
    .widget-input > .options > .fsr-widget {
        @include calc-sub-two-values(width, 100%,6px);

        &:not(:first-child) {
            display: none;
        }

        [data-title="Remove Option"] {
            display: none;
        }
    }
}

.options { margin-top: 10px; }

.dropdown-mapping {
    padding: 0;

    &:before {
        content: 'Map To';
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        border-bottom: 1px solid $gray-light;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .btn-group { 
        margin: 0; width: 100%; margin-top: 26px;
        overflow: hidden;
        height: 200px;
        overflow-y: auto;
    }

    .btn {
        width: 100%; 
        border: none !important; 
        border-radius: 0 !important;
        text-align: left;
        background-image: none;
        font-size: 12px;
        @include box-shadow(none);
        @include transition(none);

        &:hover {
            background-color: $gray-darker;
            color: white;
            @include transition(none);
            @include box-shadow(none); 
        }

        &.active {
            background-color: $brand-primary;
        }
    }
}

.sidebar-panel { [class*='fsr-ico-']:before { color: black; } }

.ico-check {
    width: $grid-gutter-width;
    text-align: left;
    text-indent: 5px;
}

.ui-draggable-widget-helper {
    background-color: white;
    list-style-type: none;
    padding: 5px 10px;
    @include box-shadow(0,2px,4px,rgba(0,0,0,0.3));
    border: 2px solid $brand-primary;
    line-height: 1;
    cursor: move;
    width: $right-sidebar-width;
}
.ui-droppable {
    min-height: 60px;

    &:empty {
        border: 2px dashed lighten($brand-primary,20%);
        background-color: #fcfcfc;
        height: 80px;

        &:hover {
            border: 2px dashed $brand-primary;
        }
        &:before {
            content: 'Drag and drop an element here';
            display: block;
            width: auto;
            margin: auto auto;
            margin-top: $grid-gutter-width/2;
            text-align: center;

        }
    }
}
.ui-state-highlight {
    background-color: #fff9dc;
    display: block;
    padding: 0 $grid-gutter-width/2;
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    margin-bottom: 10px;
    outline: 1px solid darken(#fff9dc,20%);
}

.placeholder {
    background-color: $gray-light;
}

.upload-background {
    padding: $grid-gutter-width 0;
    width: 600px;
    border: 2px dashed $gray-lighter;

    &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
        border-color: lighten($brand-primary,10%);
    }

    .dz-image {
        display: none;
    }
}

.btn-group-fsr-status {
    @include border-radius(30px);
    border: 1px solid $gray-lighter;
    .btn { 
        width: 100px;
        border: none !important;
        margin: 3px !important;
        @include border-radius(30px !important);

        &:hover {
            background-image: none;
            background-color: $gray-lighter;
            @include box-shadow(none);
        }

        &[for^="fsrStatus"] {
            background-image: none;
            &.active { color: white; }
        }

        // &[for="fsrStatusDraft"].active { background-color: #969696 !important; border-color: darken(#969696, 10%); }
        // &[for="fsrStatusLive"].active { background-color: #27a500; border-color: darken(#27a500, 10%); }
        // &[for="fsrStatusOnHold"].active { background-color: #a72000; border-color: darken(#a72000, 10%); }
        // &[for="fsrStatusArchived"].active { background-color: #969696; border-color: darken(#969696, 10%); }

        &[for="fsrStatusDraft"].active { background-color: $color-draft; border-color: darken($color-draft, 10%); }
        &[for="fsrStatusLive"].active { background-color: $color-live; border-color: darken($color-live, 10%); }
        &[for="fsrStatusOnHold"].active { background-color: $color-onhold; border-color: darken($color-onhold, 10%); }
        &[for="fsrStatusArchived"].active { background-color: $color-archived !important; border-color: darken($color-archived, 10%); }
    }
}