

.list-screen-navigator {
    padding-left: 0;
    margin: 0;
    list-style: none;
    counter-reset: step-counter -1;
    
    .list-screen-item {
        height: 49px;
        margin-bottom: 5px;
        @include mini-panel-widget();
        font-size: 12px;
        font-weight: 600;
        padding: 15px;
        counter-increment: step-counter;
        @include user-select(none);
        &:before {
            content: counter(step-counter);
            position: absolute;
            margin-left: -15px;
            padding: 15px 7px;
            background: #ccc;
            top: 0px;
            bottom: 0px;
        }
        &:hover {
            cursor: pointer;
        }
        .btn-pagename {
            float: right;
            margin-top: -5px;
            margin-right: -15px;
        }
        span.fsr-pagename-spam {
            margin-left: 10px;
        }
        input.fsr-pagename {
            width:100%;
            margin-left: 10px;
        }
    }
}
