.fsr-cell-status .js_fsrChangeStatus{
	width: 100px;
	text-align: center;
}

.fsr-cell-name {
	width: 250px;
}

.fsr-cell-url {

}

.fsr-cell-created-by {
	width: 150px;
}

.fsr-cell-created-date {
	width: 150px;
}

.fsr-actions .btn-group {
	text-align: center;
	width: 70px;
}

.btn-status {
	height: 30px;
	background-color: transparent;

	& + .dropdown-mapping {
		height: auto !important;
		&, &:focus, &:active { outline: none; }
		
		&:before { content: 'SET FSR TO' }

		.btn {
	        &[for^="fsrStatus"] {
	            &.active { color: white; }
	        }
			&[for="fsrStatus-draft"].active { background-color: $color-draft; border-color: darken($color-draft, 10%); }
		    &[for="fsrStatus-live"].active { background-color: $color-live; border-color: darken($color-live, 10%); }
		    &[for="fsrStatus-hold"].active { background-color: $color-onhold; border-color: darken($color-onhold, 10%); }
		    &[for="fsrStatus-archive"].active { background-color: $color-archived !important; border-color: darken($color-archived, 10%); }
		}
	}

	&, &:hover, 
	&:active, &:focus  {
		color: white !important;	
	}
}

.js_fsrChangeStatus {
	border-radius: 30px;

	&:hover {
		@include box-shadow(0,2px,1px,rgba(0,0,0,0.2));
	}
}

.page-header-table {
	width: 100%;
	display: inline-block;
	clear: both;
	margin-top: $grid-gutter-width;
	// margin-bottom: -50px;
}

.bootstrap-table {
	margin-top: -50px;
}

*[data-status="fsrStatus-draft"] { background-color: $color-draft; border-color: darken($color-draft, 10%); }
*[data-status="fsrStatus-live"] { background-color: $color-live; border-color: darken($color-live, 10%); }
*[data-status="fsrStatus-hold"] { background-color: $color-onhold; border-color: darken($color-onhold, 10%); }
*[data-status="fsrStatus-archive"] { background-color: $color-archived !important; border-color: darken($color-archived, 10%); }

#fsrTable  {
	tbody tr td { 
		vertical-align: middle;
		border-left-color: transparent !important;
		padding: 12px 8px;
		&:first-child {
			width: 100px;
		}

		&:last-child {
			width: 70px;
		}
	}
}